#zenbox_overlay { top:0; left:0; width: 100%; height: 100%; position: absolute; _position: absolute; z-index: 90000; }
#zenbox_overlay * { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-style:normal; font-variant:normal; font-size: 12px; color:#333;}

#zenbox_main #overlay_header {
  padding:6px 5px 1px 0; background-color:#333; 
  font-weight: bold; height:18px; border: solid 2px #000;
}
#zenbox_main #overlay_header span {
  float:right; height:20px; padding-right:20px; background: transparent url(close.png) no-repeat 33px 0;
  text-decoration:underline; font-size:11px; cursor:pointer; color: #fff;
}

#zenbox_main #overlay_loading h2 {padding: 10px 0; font-size:28px; }

#zenbox_main { width: 550px; height: 620px; margin: 0 auto; z-index:2; position:relative; }
#zenbox_main div { padding: 5px 20px 0 20px; margin:0; background: #EEE; overflow:none; border-right: solid 2px #000; border-left: solid 2px #000; }
#zenbox_main h2 { margin: 11px 0 7px 0; font-size: 24px; color: #111; font-weight:normal;}
#zenbox_main p  { margin: 7px 20px 0 0; line-height:1.4em;}
#zenbox_main iframe { width: 100%; height: 100%; }

#zenbox_main #overlay_preamble h2, #zenbox_main #overlay_preamble p {text-align:left; visibility: visible; display: block; }

#zenbox_screen { top:0; left:0; z-index:1; width: 100%; position: absolute; background-color: #000; opacity: 0.42; filter:alpha(opacity=42); -moz-opacity: 0.42;}

a#zenbox_tab {
  top: 23%; left: 0; width: 45px; height: 108px; border: solid 1px; cursor:pointer; text-indent:-5000px;
  position: fixed; _position: fixed; z-index: 10000; overflow:hidden; margin-left: -12px;
}
a#zenbox_tab:hover { background-color: #444; }