#set($jsonBuilder = $services.json.newBuilder())
$jsonBuilder.openDictionary()
## flowplayerConf
$jsonBuilder.openDictionary('flowplayerConf')
## flowplayer path to the js resource
$jsonBuilder.addProperty('flowplayerPath', "$!services.celementsweb.getSkinFile(':celJS/flowplayer/flowplayer-3.2.6.swf', 'file')")
#set($jsonInclude = true)
#parse('celAjax/multimedia/_flowplayerConfig.vm')
$jsonBuilder.addProperty('flowplayerLookConf', $!jsonBuilderIntern);
## externalVideoMapping
#set($jsonInclude = true)
#parse('celAjax/multimedia/_externalVideoMapping.vm')
$jsonBuilder.addProperty('externalVideoMapping', $!jsonBuilderIntern);
##
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()