<settings>
  <activeProfiles>
    <activeProfile>celements</activeProfile>
  </activeProfiles>
  <profiles>
    <profile>
      <id>celements</id>
      <repositories>
        <repository>
          <id>celements-releases</id>
          <name>Celements Maven2 Remote Repository for Releases</name>
          <url>http://maven.celements.ch/releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>celements-snapshots</id>
          <name>Celements Maven2 Remote Repository for Snapshots</name>
          <url>http://maven.celements.ch/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>celements-externals</id>
          <name>Celements Maven2 Remote Repository for Externals</name>
          <url>http://maven.celements.ch/externals</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>xwiki-snapshots-nexus</id>
          <name>XWiki Nexus Snapshot Repository Proxy</name>
          <url>https://nexus.xwiki.org/nexus/content/groups/public-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>xwiki-releases-nexus</id>
          <name>XWiki Nexus Releases Repository Proxy</name>
          <url>https://nexus.xwiki.org/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>xwiki-externals</id>
          <name>XWiki Maven2 Remote Repository for Third Party Dependencies</name>
          <url>https://maven.xwiki.org/externals</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>xwiki-releases</id>
          <name>XWiki Maven2 Remote Repository for Releases</name>
          <url>https://maven.xwiki.org/releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>xwiki-snapshots</id>
          <name>XWiki Maven2 Remote Repository for Snapshots</name>
          <url>https://maven.xwiki.org/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>xwiki-plugins-externals</id>
          <name>XWiki Maven2 Plugin Remote Repository for Third Party Plugins</name>
          <url>https://maven.xwiki.org/externals</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>xwiki-plugins-releases</id>
          <name>XWiki Maven2 Plugin Remote Repository for Releases</name>
          <url>https://maven.xwiki.org/releases</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>xwiki-plugins-snapshots</id>
          <name>XWiki Maven2 Plugin Remote Repository for Snapshots</name>
          <url>https://maven.xwiki.org/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>xwiki-plugins-snapshots-nexus</id>
          <name>XWiki Nexus Plugin Snapshot Repository Proxy</name>
          <url>https://nexus.xwiki.org/nexus/content/groups/public-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>xwiki-plugins-releases-nexus</id>
          <name>XWiki Nexus Plugin Releases Repository Proxy</name>
          <url>https://nexus.xwiki.org/nexus/content/groups/public</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>  
  <!-- Workaround for HTTP repos -->
  <mirrors>
    <mirror>
      <id>celements-releases-http-unblocker</id>
      <mirrorOf>celements-releases</mirrorOf>
      <name></name>
      <url>http://maven.celements.ch/releases</url>
    </mirror>
    <mirror>
      <id>celements-snapshots-http-unblocker</id>
      <mirrorOf>celements-snapshots</mirrorOf>
      <name></name>
      <url>http://maven.celements.ch/snapshots</url>
    </mirror>
    <mirror>
      <id>celements-externals-http-unblocker</id>
      <mirrorOf>celements-externals</mirrorOf>
      <name></name>
      <url>http://maven.celements.ch/externals</url>
    </mirror>
  </mirrors>
</settings>
