#set($cel_loadAdminMenuBar = false)
#set($showOverlayLanguageBar = false)
#set($showCloseOverlayButton = true)
#set($celementsLoadInOverlay = "celTemplates/newsletterAddressList.vm") ##template on disk