body {
  background-color: #FFFFFF!important;
  font-familiy: "Terminal Dosis",Tahoma,Geneva,Helvetica,Arial,sans-serif;
  font-size:12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: none;
  word-spacing: 2px;
}