@charset "UTF-8";
/* CSS Document */

/* CSS File for the login Page (has to be done yet */

#loginForm fieldset.xwikimessage {
  background: white;
  width: 500px;
  padding: 10px;
}
.loginscreen {
    background: white;
    padding: 10px;
    width: 530px;
}
#loginForm fieldset.xwikimessage table.xwikilogintable th label {
	font-size:12px;
	line-height:15px;
	width:150px;
	padding-right:10px;
}
#loginForm fieldset.xwikimessage table.xwikilogintable td input#j_username,
#loginForm fieldset.xwikimessage table.xwikilogintable td input#j_password {
	width:200px;
}
#loginForm fieldset.xwikimessage table.xwikilogintable tr.username td,
#loginForm fieldset.xwikimessage table.xwikilogintable tr.username th {
  padding-bottom: 3px;
}
#loginForm fieldset.xwikimessage .buttons {
  position: relative;
  height: 25px;
  padding: 0px;
  padding-top:10px;
}
#loginForm fieldset.xwikimessage .buttons input.button{
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid black;
	font-size:12px;
	line-height:15px;
  margin-left: 120px;
}
#loginForm fieldset.xwikimessage a{
	padding-left:167px;
	font-weight:normal;
	text-decoration:underline!important;
}
#loginForm fieldset.xwikimessage table.xwikilogintable {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 15px;
  font-family: "Open Sans", Tahoma,Geneva,Helvetica,Arial,sans-serif;
  width: 450px;
}
#loginForm fieldset.xwikimessage table.xwikilogintable th {
  text-align: right;
  width: 120px;
}
#loginForm fieldset.xwikimessage table.xwikilogintable th,
#loginForm fieldset.xwikimessage table.xwikilogintable td {
  font-size: 13px;
  line-height: 15px;
  font-family: "Open Sans", Tahoma,Geneva,Helvetica,Arial,sans-serif;
  font-style: normal;
  color: #333333;
}
#loginForm fieldset legend {
  font-family: "Open Sans", Tahoma,Geneva,Helvetica,Arial,sans-serif;
  font-style: normal;
  color: #333333;
}
#loginForm fieldset.xwikimessage table.xwikilogintable tr + tr + tr td {
  padding: 0px;
  padding-left: 120px;
  padding-top: 10px;
}
