# database configuration
DB_DRIVER=com.mysql.jdbc.Driver
DB_SCHEME=jdbc:mysql
DB_HOST=celements-db
DB_PORT=3306
DB_USER=celements
DB_PASSWORD=celements
DB_PREFIX=cel
DB_MAIN=main
DB_ROOT_PASSWORD=

# celements configuration
CELEMENTS_DATA=/usr/local/celements
