# docker
COMPOSE_FILE=compose.local.yml

# database
DB_DRIVER=com.mysql.jdbc.Driver
DB_SCHEME=jdbc:mysql
DB_HOST=celements-db
DB_PORT=3306
DB_USER=celements
DB_PASSWORD=celements
DB_PREFIX=cel
DB_MAIN=main
DB_ROOT_PASSWORD=

# JVM
TZ=Europe/Zurich

# tomcat
CATALINA_XMX=2g

# celements
NODE_NAME=local1
CELEMENTS_DATA=/usr/local/celements
