.xnotification-container {
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 100%;
  text-align: center;
  z-index: 1200;
  display: block !important;
}

.xnotification-wrapper {
  padding-top: 1px;
}

.xnotification {
  cursor: pointer;
  display: inline;
  background: #333 2px center no-repeat;
  border: none;
  padding: 0px 6px;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
}

.xnotification-info {
  background-color: #268;
  color: #fff;
  border-color: #fff;
}

.xnotification-warning {
  background-color: #fd8;
  color: #330;
  border-color: #330;
}

.xnotification-error {
  background-color: #a00;
  color: #fff;
  border-color: #fff;
}

.xnotification-inprogress {
  background-color: #333;
  color: #fff;
  border-color: #fff;
  background-image: url(/file/resources/icons/xwiki/spinner%2Dwhite.gif);
  padding-left: 22px;
}

.xnotification-done {
  background-color: #160;
  color: #fff;
  border-color: #fff;
}
