#if(("$!request.s" != '') && $xwiki.exists("AppScripts.${request.s}") && !$celementsweb.isEmptyRTEDocument("AppScripts.${request.s}"))
$xwiki.includeForm("AppScripts.${request.s}", false)
#else
#set($appResult = $xwiki.parseTemplate("celAppScripts/${request.s}.vm"))
#if("$!appResult.trim()" != '')
$appResult
#else
$response.setStatus(501)
Unkown script!
#end
#end
