#macro(unkownScriptError)
$response.setStatus(501)
Unkown script [$!celAppScript]!
#end
#if("$!request.s" != '')
#set($celAppScript = "$!request.s")
#end
##DEBUG: $celAppScript<br/>
#if($services.appscript.hasDocAppScript("$!celAppScript"))
#set($appScriptDocRef = $services.appscript.getAppScriptDocRef("$!celAppScript"))
$xwiki.includeForm($services.model.serialize($appScriptDocRef, "default"), false)
#elseif($services.appscript.isAppScriptAvailable("$!celAppScript"))
#set($appResult = $xwiki.parseTemplate($services.appscript.getAppScriptTemplatePath("$!celAppScript")))
$appResult
#elseif($services.appscript.hasDocAppRecursiveScript("$!celAppScript"))
#set($appScriptDocRef = $services.appscript.getAppRecursiveScriptDocRef("$!celAppScript"))
$xwiki.includeForm($services.model.serialize($appScriptDocRef, "default"), false)
#else
#set($appRecursiveScript = $services.appscript.getAppRecursiveScript("$!celAppScript"))
#if($appRecursiveScript)
#set($appResult = $xwiki.parseTemplate($services.appscript.getAppScriptTemplatePath($appRecursiveScript)))
$appResult
#else
#unkownScriptError()
#end
#end