###
### Delete page confirm message
###
###
#if($message)
  <div id="xwikimessage">$message</div>
#end
#set($links=$doc.getBacklinks())
#set($orphans = $xwiki.searchDocuments(" where doc.fullName <> ? and (doc.parent = ? or (doc.parent = ? and doc.space = ?))", ["${doc.fullName}", ${doc.fullName}, ${doc.name}, ${doc.space}]))
#if($request.xredirect)
  #set($redirectparam = "&amp;xredirect=$escapetool.url($request.xredirect)")
#end
#set($quote = '"')
#set($hasInlinks = false)
#set($fullmsg = "")
#set($isTranslation = ("$tdoc.realLanguage" != "$doc.getDefaultLanguage()"))
#if(!$isTranslation)
  #set($fullmsg="${fullmsg}<p class=${quote}xwikimessage${quote}>$adminMsg.get('cel_delete_doc_confirm', [$doc.fullName])</p>")
  #if($doc.getTranslationList().size() > 0)
    #set($translanguagelist = "")
    #foreach($translang in $doc.getTranslationList())
      #set($translanguagelist = "${translanguagelist},${translang}")
    #end
    #set($translanguagelist = "$translanguagelist.replaceFirst(',','')")
    #set($fullmsg="${fullmsg}<p class=${quote}xwikimessage${quote}>$adminMsg.get('cel_delete_doc_confirm_warn_translations', [$translanguagelist])</p>")
  #else
    #set($fullmsg="${fullmsg}<p class=${quote}xwikimessage${quote}>$adminMsg.get('cel_delete_doc_confirm_no_translations')</p>")
  #end
#else
  #set($fullmsg="${fullmsg}<p class=${quote}xwikimessage${quote}>$adminMsg.get('cel_delete_translation_confirm', [$tdoc.realLanguage, $doc.fullName])</p>")
#end
#if($links && $links.size() > 0)
  #set($tmpmsg = "</p><ul style=${quote}text-align: left;${quote}>")
  #foreach($docname in $links)
    #set($rdoc = $xwiki.getDocument($docname).getTranslatedDocument())
    #set($tmpmsg = "${tmpmsg}<li><a href=${quote}${rdoc.getURL('view')}${quote}>${rdoc.displayTitle}</a></li>")
  #end
  #set($tmpmsg = "${tmpmsg}</ul><p class=${quote}xwikimessage${quote}>")
  #set($tmpmsg = $adminMsg.get("core.delete.backlinksWarning", [$tmpmsg]))
  #set($fullmsg="${fullmsg}${tmpmsg}</p><p class=${quote}xwikimessage${quote}>")
  #set($hasInlinks = true)
#end
#if($orphans && $orphans.size() > 0)
  #set($tmpmsg ="</p><ul style=${quote}text-align: left;${quote}>")
  #foreach($docname in $orphans)
    #set($rdoc = $xwiki.getDocument($docname).getTranslatedDocument())
    #set($tmpmsg = "${tmpmsg}<li><a href=${quote}${rdoc.getURL('view')}${quote}>${rdoc.displayTitle}</a></li>")
  #end
  #set($tmpmsg = "${tmpmsg}</ul><p class=${quote}xwikimessage${quote}>")
  #set($tmpmsg = $adminMsg.get("core.delete.orphansWarning", [$tmpmsg]))
  #set($fullmsg="${fullmsg}${tmpmsg}</p><p class=${quote}xwikimessage${quote}>")
  #set($hasInlinks = true)
#end
#if($xwiki.hasRecycleBin() && !$isTranslation)
  #if($hasInlinks)
    #set($fullmsg="${fullmsg}${adminMsg.get('core.recyclebin.confirmWithInlinks')}")
  #else
    #set($fullmsg = "${fullmsg}$adminMsg.get('core.recyclebin.confirm')")
  #end
#else
  #if($hasInlinks)
    #set($fullmsg="${fullmsg}${adminMsg.get('core.delete.confirmWithInlinks')}")
  #else
    #set($fullmsg = "${fullmsg}$adminMsg.get('core.delete.confirm')")
  #end
#end
#xwikimessagebox($adminMsg.get("core.delete") $fullmsg $doc.getURL("delete", "confirm=1$!{redirectparam}&amp;$languageparams") $doc.getURL("view") $adminMsg.get("yes") $adminMsg.get("no"))
