#if($services.celementsweb.isMainWiki())
  #set($wikiManagerRef = $services.model.createDocumentReference('', 'WikiManager','WebHome'))
  <ul>
  <li><a href="$!{services.url.getURL($wikiManagerRef, 'view')}">WikiManager</a></li>
  #if("$context.user" != 'XWiki.XWikiGuest')
    #set($userAdminLink = "${xwiki.getURL('Content.WebHome', 'view', 'skin=cellskin&xpage=overlay&conf=UserAdmin')}")
    #if($userAdminLink.startsWith('?'))
      #set($userAdminLink = "/$userAdminLink")
    #end
    <li><a href="${userAdminLink}">User Admin</a></li>
  #end
  </ul>
#elseif($services.webUtils.isCentralWiki())
  #set($contentWebHomeRef = $services.model.createDocumentReference('', 'Content','WebHome'))
  <ul>
    <li><a href="$!{services.url.getURL($contentWebHomeRef, 'view', 'skin=cellskin&xpage=overlay&conf=PageTypesListing')}">Page Types</a></li>
    <li><a href="$!{services.url.getURL($contentWebHomeRef, 'view', 'skin=cellskin&xpage=overlay&conf=PageLayoutsListing')}">Page Layouts</a></li>
  </ul>
#elseif(("$context.action" == 'view') && ($doc.isNew()))
  #parse('celTemplates/RedirectToFirstChildView.vm')
#else
  #if(!$contextIsFinished && !$isCellSkin)
    ## render page content for old skins ('old' = no CelkSkin and no xwiki Skin from disk)
    #parse('celMacros/noDuplicateRenderCelementsDocument.vm')
  #else
    #set($overwriteRenderDocument = '')
    #parse('celTemplates/PageContentCellView.vm')
  #end
#end