#if($services.celementsweb.isMainWiki())
  #set($wikiManagerRef = $services.model.createDocumentReference('', 'WikiManager','WebHome'))
  <a href="$!{services.url.getURL($wikiManagerRef, 'view')}">WikiManager</a><br/>
  #if("$context.user" != 'XWiki.XWikiGuest')
    #set($userAdminLink = "${xwiki.getURL('Content.WebHome', 'view', 'skin=cellskin&xpage=overlay&conf=UserAdmin')}")
    #if($userAdminLink.startsWith('?'))
      #set($userAdminLink = "/$userAdminLink")
    #end
    <a href="${userAdminLink}">User Admin</a><br/>
  #end
#elseif($services.webUtils.isCentralWiki())
  #set($pageTypeRef = $services.model.createDocumentReference('', 'PageTypes','WebHome'))
  <a href="$!{services.url.getURL($pageTypeRef, 'view', 'skin=cellskin&xpage=overlay&conf=PageTypesListing')}">PageTypes</a>
#elseif(("$context.action" == 'view') && ($doc.isNew()))
  #parse('celTemplates/RedirectToFirstChildView.vm')
#else
  #if(!$contextIsFinished && !$isCellSkin)
    ## render page content for old skins ('old' = no CelkSkin and no xwiki Skin from disk)
    #parse('celMacros/noDuplicateRenderCelementsDocument.vm')
  #else
    #set($overwriteRenderDocument = '')
    #parse('celTemplates/PageContentCellView.vm')
  #end
#end