## Generic Celements Search

#set($text = "$!request.get('text')")
#set($text = $text.trim())
#set($configObj = $celldoc.getObject('Celements2.WebSearchConfigClass'))
#if("$!configObj" != '')
  #set($configDocRef = $celldoc.documentReference)
#end
#if("$!advancedSearch" == '')
  #set($advancedSearch = $!configObj.getProperty('advancedSearch').getValue())
#end
#set($languages = ['default', "$language"])

<div id="websearch">

<div class="websearch_form" #if("$!hideForm" == 'true') style="display: none" #end >
#if("$msg.get('cel_search_page_title')" != 'cel_search_page_title')
  <h1>$msg.get('cel_search_page_title')</h1>
#end
<form action="$doc.getURL()">
  #if("$!maxInputFieldSize" == '')
    #set($maxInputFieldSize = 20)
  #end
  <input type="text" name="text" value="$xwiki.getFormEncoded($!text)" size="$!maxInputFieldSize" class="search_input">
  #if($advancedSearch == 1)
    <div class="advancedSearch">
      <input type="radio" class="searchRelevance searchRadioBtn" name="advancedSearch" value=""##
        #if(("$!request.advancedSearch" == "") || ("$!request.advancedSearch" == "score"))checked#end
      >
      <label for="relevance">Relevance</label>
      <input type="radio" class="searchLastChange searchRadioBtn" name="advancedSearch" value="date"##
        #if("$!request.advancedSearch" == "date") checked #end
      >
      <label for="lastChange">last change</label>
    </div>
  #end
#if("$!request.get('spaces')" != '')
  <input type="hidden" name="spaces" value="$!request.get('spaces')" />
#end
</form>
</div>

## execute search
#if("$!text" != "")

#if($legacyWebSearch)
  #parse('celMacros/webSearch/legacySearch.vm')
#else
  #set($sort = "$!request.advancedSearch")
  #set($sortList = $util.getArrayList())
  #if("$!sort" != "")
    #set($devNull = $sortList.add("-$sort"))
  #end
  #set($result = $services.lucene.webSearch($text, $configDocRef, $languages, $sortList))
#end

#if($isAdmin)
<!--
  result: $!result
  size: $!result.getSize()
  config: $!configDocRef
  text : $!text
  languages: $!languages
  is legacy WebSearch: $!legacyWebSearch
-->
#end

#set($resultItemRenderScript = $configObj.get('resultItemRenderScript'))
#parse('celMacros/webSearch/renderResult.vm')

#end ## if text

</div>
