## Generic Celements Search

#set($text = "$!request.get('text')")
#set($text = $text.trim())
#set($configObj = $celldoc.getObject('Celements2.WebSearchConfigClass'))
#if("$!configObj" != '')
  #set($configDocRef = $celldoc.documentReference)
#end
#if("$!advancedSearch" == '')
  #set($advancedSearch = $!configObj.getProperty('advancedSearch').getValue())
#end
#set($languages = ['default', "$language"])

<div id="websearch">

<div class="websearch_form" #if("$!hideForm" == 'true') style="display: none" #end >
#if("$adminMsg.get('cel_search_page_title')" != 'cel_search_page_title')
  <h1>$adminMsg.get('cel_search_page_title')</h1>
#end
<form action="$doc.getURL()">
  #if("$!maxInputFieldSize" == '')
    #set($maxInputFieldSize = 20)
  #end
  <input type="text" name="text" value="$xwiki.getFormEncoded($!text)" size="$!maxInputFieldSize" class="search_input">
  #if($advancedSearch == 1)
    <div class="advancedSearch">
      <input type="radio" class="searchElement searchRelevance searchRadioBtn" name="sort" value="score"##
        #if(("$!request.sort" == "") || ("$!request.sort" == "score"))checked#end
      >
      <label for="relevance">$adminMsg.get('cel_search_page_relevance')</label>
      <input type="radio" class="searchElement searchLastChange searchRadioBtn" name="sort" value="-date"##
        #if("$!request.sort" == "date") checked #end
      >
      <label for="lastChange">$adminMsg.get('cel_search_page_lastChanged')</label>
      
      #set($reqContentType = $request.getParameterValues("contentType"))
      <label for="searchSection"> &#124; $adminMsg.get('cel_search_page_searchSection'):</label>
      <select name="contentType" id="contentType" class="searchElement searchSelect searchContentType celMultiselect"##
        data-multiselectAttr='{"enableClickableOptGroups" : true, "includeSelectAllOption" : true, "numberDisplayed" : 1}'##
        multiple="multiple">
        <option value="content:menu" #if(("$!reqContentType" == "") || $reqContentType.contains("content:menu"))selected="selected"#end>$adminMsg.get('cel_search_page_website')</option>
        <optgroup label="Anhang">
          <option value="attachment" #if(("$!reqContentType" == "") || $reqContentType.contains("attachment"))selected="selected"#end>$adminMsg.get('cel_search_page_pdf')</option>
        </optgroup>
      </select>
    </div>
  #end
#if("$!request.get('spaces')" != '')
  <input type="hidden" name="spaces" value="$!request.get('spaces')" />
#end
</form>
</div>

## execute search
#if("$!text" != "")

#if($legacyWebSearch)
  #parse('celMacros/webSearch/legacySearch.vm')
#else
  #set($sort = "$!request.sort")
  #set($sortList = $util.getArrayList())
  #if("$!sort" != "")
    #set($devNull = $sortList.add("$sort"))
  #end

  #set($webSearchPackageNames = [])
  #foreach($value in $reqContentType)
    #set($splitVal = $value.trim().split(':'))
    #if($splitVal.size() > 1)
      #foreach($val in $splitVal)
        #set($devNull = $webSearchPackageNames.add($val))
      #end
    #else
      #set($devNull = $webSearchPackageNames.add($value))
    #end
  #end
  #set($attRestrGrp = $services.lucene.createAttachmentRestrictionGroup($attrMimeList, [], []))
  #set($devNull = $orGrp.add($attRestrGrp))

  #set($result = $services.websearch.webSearch($text, $configDocRef, $webSearchPackageNames, $languages, $sortList))
#end

#if($isAdmin)
<!--
  result: $!result
  size: $!result.getSize()
  config: $!configDocRef
  text : $!text
  languages: $!languages
  sortList: $sortList
  is legacy WebSearch: $!legacyWebSearch
-->
#end

#set($resultItemRenderScript = $configObj.get('resultItemRenderScript'))
#parse('celMacros/webSearch/renderResult.vm')

#end ## if text

</div>
