#if("$!elemId" != '')
#set($menuItemDocRef = $services.model.resolveDocument($elemId))
#set($menuItemDoc = $services.modelAccess.getDocument($menuItemDocRef))
#if(${elemId} == ${doc.fullName})
  #set($red = "${doc.web}.WebHome")
#else
  #set($red = ${elemId})
#end
#set($params = "xpage=celements_ajax&ajax_mode=delMenuItem&space=${doc.space}&red=${red}")
#set($l = "confirmURL(&quot;$adminMsg.get('cel_cell_node_confirm_delete')&quot;,")
#set($l = "${l}&quot;$services.url.getURL($menuItemDocRef,'view', $params)")
#set($cmenu_pageLink = "${l}&quot;)")
$cmenu_pageLink##
#end