$xwiki.ssx.use('Panels.DocumentInformation')##
#set($pages = $tdoc.includedPages)
#largepanelheader($adminMsg.get("panels.documentInformation.title"))
<dl>
<dt><label for="xwikidocparentinput2">$adminMsg.get("panels.documentInformation.parent")</label></dt> <dd><input type="text" id="xwikidocparentinput2" name="parent" value="$!doc.parent" size="30"/></dd>
#if(($tdoc.language=="")&&($xwiki.isMultiLingual()))
<dt><label for="xwikidoclanguageinput2">$adminMsg.get("panels.documentInformation.defaultLanguage")</label></dt> <dd><input type="text" id="xwikidoclanguageinput2" name="defaultLanguage" value="$!tdoc.defaultLanguage" size="30"/></dd>
#end
#if($pages.size() != 0)
  #if($pages.size() == 1)
    <dt>$adminMsg.get("panels.documentInformation.includesOne", [$pages.size()])</dt>
  #else
    <dt>$adminMsg.get("panels.documentInformation.includesMore", [$pages.size()])</dt>
  #end
  <dd>
  <ul>
  #foreach ($page in $pages)
    <li><a href="$xwiki.getURL($page, 'view')">$page</a>
    <a href="$xwiki.getURL($page, 'edit')"><img alt="$adminMsg.get('panels.documentInformation.editIncluded', [$page])" src="$xwiki.getSkinFile('icons/silk/page_white_edit.gif')" /></a></li>
  #end
  </ul>
  </dd>
#end
</dl>
#template("tagedit.vm")
#panelfooter()
