#set($skipLayout = ("$!request.skipLayout" == "1"))
#set($overwriteLayoutRef = '')
#if(!$skipLayout && ("$!request.overwriteLayout" != ''))
#set($overwriteLayoutRef = $services.reference.create().space("$!request.overwriteLayout").build())
#end
#set($oldInitCelmentsDocRef = $services.reference.create().wiki("celements2web").space("Macros").doc("initCelements").build())
##only include if legacy celements2web.xar is installed
#if($services.modelAccess.exists($oldInitCelmentsDocRef))
$xwiki.includeForm("celements2web:Macros.initCelements", false)
#end
#set($isAjaxCall = ("$!request.ajax" == '1'))
#if(!$isAjaxCall)
## start a Celements Document
#parse("celMacros/startCelementsDocument.vm")
##
## start the celements body (and lacily finalise the header)
#parse("celMacros/startCelementsBody.vm")
##
#end
#if($services.celementsweb.isAppScriptRequest())
#set($celAppScript = $services.celementsweb.getScriptNameFromURL())
#set($overwriteRenderDocument = 'celInlineTemplates/app.vm')
#end
#set($isCellSkin = true)
#set($doclang = $tdoc.getLanguage())
#if("$!doclang" == '')
  #set($doclang = $tdoc.getDefaultLanguage())
#end
#if("$!request.skipWrapper" == "")
<div class="lang_${language} doclang_$doclang">
<!-- start celements cells -->
#end
#if(!$skipLayout)
#if(("$!overwriteLayoutRef" != '') && $services.layout.canRenderLayout($overwriteLayoutRef))
#set($pageContent = $services.layout.renderPageLayout($overwriteLayoutRef))
#else
#set($pageContent = $services.layout.renderPageLayout())
#end
#else  ## skip layout and only render document with pagetype
#set($pageContent = $services.celementsweb.renderCelementsDocument($!tdoc.documentReference, $doclang, "view"))
#end
#set($maxHeight = $util.parseInt("$!request.maxHeight"))
#set($maxWidth = $util.parseInt("$!request.maxWidth"))
#if(($maxHeight > 0) || ($maxWidth > 0))
#set($pageContent = $services.celementsphoto.fixMaxImageSizes($pageContent, $maxWidth, $maxHeight))
#end
$!pageContent
#if("$!request.skipWrapper" == "")
<!-- end celements cells -->
</div><!-- main wrapper -->
#end
#if(!$isAjaxCall)
#parse('celMacros/finaliseCelementsDocument.vm')
#end