#macro(addMenuBarMenuForHeaderObject $headerObj)
  <div id="celements2_menu_bar_header$id" class="celements2_menu_bar_header_item">
  <div>
  #set($menuName = "$!headerObj.getProperty('name').getValue()")
  $adminMsg.get("$!menuName")
  </div>
  #set($headerId = $headerObj.getProperty('header_id').getValue())
  <div id="celements2_menu_bar_submenu$id" class="celements2_menu_bar_submenu">
    #foreach($item2 in $services.celMenu.getSubMenuItems($headerId))
      #set($menuLinkScript = "$!item2.getProperty('link').getValue()")
      #set($menuLinkCssClasses = "celements2_menu_bar_sub_item $!item2.getProperty('css_classes').getValue()")
      #set($menuLinkName = "$!item2.getProperty('name').getValue()")
      #set($menuLinkHref = "$!xwiki.renderText($menuLinkScript, $doc).replace('%2D', '-')")
      #if("$!menuLinkHref" != '')
        <a class="$!{menuLinkCssClasses.trim()}" href="$menuLinkHref">
                $adminMsg.get("$!menuLinkName")
        </a>
      #end
    #end
  </div>
  </div>
  #set($id = $id + 1)
#end ## addMenuBarMenuForHeaderObject
<div id="celements2_menu_bar">
## Logo
#set($celementsLogoUrl = '')
#if ("$!xwiki.getDocument('XWiki.Celements2Skin').getAttachment('logo.gif')" != "")
  #set($celementsLogoUrl = "$!xwiki.getDocument('XWiki.Celements2Skin').getAttachmentURL('logo.gif','download')")
#else
  #set($celementsLogoUrl = "$xwiki.getSkinFile('celRes/Img/logo-grey.gif', true)")
#end
<div id="celements2_logo">
##<img src="$celementsLogoUrl" alt="CELEMENTS WEB" /><br />
<span class="celements_web_logo"><a target="_blank" href="http://www.celements.ch"><span class="celementsname">Celements</span><span class="websuffix">Web</span></a></span>
</div>
## Menu
<div id="celements2_menu_bar_header">
#set($id = 0)
#foreach($menuHeaderObj in $services.celMenu.getMenuHeaders())
  #addMenuBarMenuForHeaderObject($menuHeaderObj)
#end
</div>
</div>
