#if("$!context.getUser()" != 'XWiki.XWikiGuest')
  $context.getResponse().sendRedirect("$!request.get('xredirect')")
#else
  #if("$!request.get('xredirect')" == '')
    #set($afterLoginLandingPage = "$!xwiki.getXWikiPreference('afterLoginLandingPage')")
    #if("$!afterLoginLandingPage" == '')
      #set($afterLoginLandingPage = "Content.login")
    #end
    #set($url = "$!doc.getURL('view', 'xredirect=')")
    #set($url = "${url}$xwiki.getURLEncoded($xwiki.getURL($afterLoginLandingPage,'view','activated=1'))")
    #foreach($req in $request.getParameterNames())
      #if("$!req" != 'ac')
        #set($url = "${url}&$req=$!request.get($req)")
      #end
    #end
  #else
    #set($url = "$!{request.get('xredirect')}")
    #if($url.indexOf('?') > 0)
      #set($url = "${url}&activated=1")
    #else
      #set($url = "${url}?activated=1")
    #end
  #end
  #set($activationCode = $request.get('ac'))
  #set($showForm = true)
  #if("$!activationCode" != '')
    #set($result = $xwiki.celementsweb.activateAccount("$!activationCode"))
    #set($accountName = $result.get('username'))
    #if("$!accountName" != '')
      #set($showForm = false)
      Success.
      #set($pwd = $result.get('password'))
      #set($auth = $xwiki.checkAuth("$!accountName", "$pwd", '1'))
      $context.getResponse().sendRedirect($url)
    #end
    #if($showForm)
      <font color="#ff0000">$msg.get('cel_invalideActivationCode')</font>
    #end
  #end
#*
#if($showForm)
  <form action="" method="post">
    Please enter your activation code: <input type="text" name="ac" value="$!activationCode" />
    <input type="submit" value="activate account" />
  </form>
#end
*#
#end