##only include if legacy celements2web.xar is installed
#if($xwiki.exists($services.model.resolveDocument('celements2web:Macros.initCelements')))
$xwiki.includeForm("celements2web:Macros.initCelements", false)
#end
$xwiki.parseTemplate("celMacros/checkForcePasswordChange.vm")
#set($overwriteRenderDocument = 'celInlineTemplates/app.vm')
$xwiki.parseTemplate("frameheader.vm")
#if(!$contextIsFinished)
#if("$!overwriteRenderDocument" != '')
$xwiki.parseTemplate($overwriteRenderDocument)
#end
#end
#if(!$contextIsFinished)
$xwiki.parseTemplate("framefooter.vm")
#end
