#macro(unkownScriptError)
$response.setStatus(501)
Unkown ajax_mode [$!{request.ajax_mode}]!
#end
## init Celements variables
#if($xwiki.exists($services.model.resolveDocument('celements2web:Macros.initCelements'))) 
$xwiki.includeForm("celements2web:Macros.initCelements", false)
#end
#if("$!request.ajax_mode" == 'CelTabEditAjax')
$xwiki.includeForm("celements2web:Macros.Ajax", false)
#elseif("$!request.ajax_mode" != '')
#set($ajaxScriptDocRef = $services.model.resolveDocument("Ajax.${request.ajax_mode}"))
#set($ajaxScript2DocRef = $services.model.resolveDocument("celements2web:Ajax.${request.ajax_mode}"))
#if($xwiki.exists($ajaxScriptDocRef) && !$celementsweb.isEmptyRTEDocument($ajaxScriptDocRef))
$xwiki.includeForm("Ajax.${request.ajax_mode}", false)
#elseif($xwiki.exists($ajaxScript2DocRef) && !$celementsweb.isEmptyRTEDocument($ajaxScript2DocRef))
## DEPRECATED !!! PLEASE PUT IN celements-web celAjax FOLDER ON DISK
$xwiki.includeForm("celements2web:Ajax.${request.ajax_mode}", false)
#else
#set($ajaxResult = $xwiki.parseTemplate("celAjax/${request.ajax_mode}.vm"))
#if("$!ajaxResult.trim()" != '')
$ajaxResult
#else
#unkownScriptError()
#end
#end
#else
#unkownScriptError()
#end