#template("xwikivars.vm")
#set($skinBodyAttributes = " style='overflow:hidden;'")
#set($cel_loadAdminMenuBar = false)
#set($celementsLoadInOverlay = 'celTemplates/DeletedFinishMsg.vm')
#set($showOverlayLanguageBar = false)
#set($showCloseOverlayButton = true)
#set($closeOverlayRedirect = "$!request.get('xredirect')")
## FP 04/05/2014 removing flushCache. flushCache needed what for? since 2.45.0 menuItems
## changes are taken care of by TreeNodeCacheListener
##$xwiki.celementsweb.flushCache()
#template("view.vm")