##@todo check if space is app and then call app template instead.
$response.setStatus(404)
#set($overwriteRenderDocument = 'celInlineTemplates/docdoesnotexist.vm')
$xwiki.parseTemplate("frameheader.vm")
#if("$!overwriteRenderDocument" != '')
$xwiki.parseTemplate($overwriteRenderDocument)
#end
$xwiki.parseTemplate("framefooter.vm")