#if($services.celementsweb.isAppScriptRequest())
#set($celAppScript = $services.celementsweb.getScriptNameFromURL())
#parse('app.vm')
#else
$response.setStatus(404)
#set($overwriteRenderDocument = 'celInlineTemplates/docdoesnotexist.vm')
$xwiki.parseTemplate("frameheader.vm")
#if("$!overwriteRenderDocument" != '')
$xwiki.parseTemplate($overwriteRenderDocument)
#end
$xwiki.parseTemplate("framefooter.vm")
#end
