#if($context.getMode()==0)## Visible only in a page
<div id="footerglobal" class="layoutsection">
<div class="minwidth"></div>
<hr/>
  <div id="xwikilicence">$!copyright</div>
  #set ($version = $xwiki.getSpacePreference("version"))
  #if ("$!version" == "")
    #set ($version = $xwiki.getXWikiPreference("version"))
  #end
  #if ("$!version" != "")
    #set ($version = $xwiki.parseContent($version))
  #end
  <div id="wikiversion">$version</div>
  <div id="xwikiplatformversion">xwiki platform-$services.celementsweb.getVersion("xwiki")</div>
  <div id="celementsplatformversion">celements platfom-$services.celementsweb.getVersion("celements-web")</div>
  #set($appName = $services.celementsweb.getCelementsMainAppName())
  #if("$!appName" != '')
    #set($appVersion = $!services.celementsweb.getVersion($appName))
    #if("$!appVersion" != '')
      #set($appVersion = "$!appName : $appVersion")
    #end
  #else
    #set($appVersion = $!{services.celementsweb.getCelementsWebCoreVersion()})
  #end
  #if("$!appVersion" != '')
  <div id="appversion">$appVersion</div>
  #end
<hr/>
</div>
#end
### TODO: Format the footer for pdf output