<!-- javascript.vm: start -->
##
## CSS files related to JS libraries.
##
<link href="$xwiki.getSkinFile("uicomponents/suggest/suggest.css", true)" rel="stylesheet" type="text/css" />
<link href="$xwiki.getSkinFile("js/xwiki/lightbox/lightbox.css", true)" rel="stylesheet" type="text/css" />
##
## JS Libraries.
##
#set($jsService = $services.javascript)
#set($extJsParam = $jsService.createExtJSParam().setAction('file'))
$!jsService.includeExtJsFile($extJsParam.setJsFile(':celJS/prototype.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':celJS/jquery.min.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':celJS/jquery-noconflict.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':celJS/initCelements.min.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':js/xwiki/xwiki.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':js/scriptaculous/effects.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':js/xwiki/widgets/modalPopup.js'))##
$services.css.includeCSSPage(':js/xwiki/widgets/modalPopup.css')##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':js/xwiki/widgets/jumpToPage.js'))##
##$xwiki.ssfx.use('js/xwiki/widgets/jumpToPage.css', {'forceSkinAction' : true, 'language' : $context.language})
$!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/widgets/confirmationBox.js'))##
$services.css.includeCSSPage(':uicomponents/widgets/confirmationBox.css')##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/widgets/confirmedAjaxRequest.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/widgets/notification.js'))##
$services.css.includeCSSPage(':uicomponents/widgets/notification.css')##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/widgets/list/xlist.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/suggest/suggest.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':js/xwiki/xwiki-misc.js'))##
#if($xwiki.exists('XWiki.SearchSuggestConfig'))
  ## Hook to request the search suggest script if search suggest configuration is present.
  ## We can't just have it as a always-use SSX yet since we compute a hash to be sure to refresh
  ## the file when the configuration changes.
  ## Ideally, this code should be located in a interface extension, in the search application.
  #set($searchSuggestConfigDocument = $xwiki.getDocument('XWiki.SearchSuggestConfig'))
  #set($searchSuggestConfigObject = $searchSuggestConfigDocument.getObject('XWiki.SearchSuggestConfig'))
  #if($searchSuggestConfigObject.getProperty('activated').value == 1)
   #set($searchSuggestConfigHash = '')
   #foreach($source in $searchSuggestConfigDocument.getObjects('XWiki.SearchSuggestSourceClass'))
     #if($source.getProperty('activated').value == 1)
       #set($sourceId = "${source.get('name')}:${source.get('url')}:${source.get('highlight')}:${source.get('icon')}}")
       #set($searchSuggestConfigHash = "${searchSuggestConfigHash}|${sourceId}")
     #end
   #end
   $!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/search/searchSuggest.js'))##
   $services.css.includeCSSPage(':uicomponents/search/searchSuggest.css')##
  #end
#end
#if(($xcontext.action=="inline")||($xcontext.action=="edit") || ($xcontext.action=="admin"))
$!jsService.includeExtJsFile($extJsParam.setJsFile(':uicomponents/widgets/validation/livevalidation_prototype.js'))##
$services.css.includeCSSPage(':uicomponents/widgets/validation/livevalidation.css')##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':js/xwiki/compatibility.js'))##
$!jsService.includeExtJsFile($extJsParam.setJsFile(':celDynJS/DynamicLoader/celLazyLoader.mjs'))##
$!services.javascript.getAllExternalJavaScriptFiles()
<script type="text/javascript">
// <![CDATA[
XWiki.webapppath = "${xwiki.webAppPath}";
XWiki.servletpath = "${xwiki.servletPath}";
XWiki.contextPath = "${request.contextPath}";
XWiki.mainWiki = "$!{escapetool.javascript(${xcontext.mainWikiName})}";
XWiki.currentWiki = "$!{escapetool.javascript(${xcontext.database})}";
XWiki.currentSpace = "$!{escapetool.javascript($doc.space)}";
XWiki.currentPage = "$!{escapetool.javascript($doc.name)}";
XWiki.editor = "$!{escapetool.javascript($editor)}";
XWiki.viewer = "$!{escapetool.javascript($viewer)}";
XWiki.contextaction = "${xcontext.getAction()}";
XWiki.docisnew = $!doc.isNew();
XWiki.docsyntax = "$!doc.getSyntax().toIdString()";
XWiki.blacklistedSpaces = [ #foreach($space in $blacklistedSpaces)#if($velocityCount > 1),#end"$space"#end ];
XWiki.hasEdit = $hasEdit;
XWiki.hasProgramming = $hasProgramming;
XWiki.hasBackupPackImportRights =#if ($xwiki.package) $xwiki.package.hasBackupPackImportRights()#else false#end;
window.docviewurl = "${doc.getURL('view')}";
window.docediturl = "${doc.getURL('edit')}";
window.docsaveurl = "${doc.getURL('save')}";
window.docgeturl = "${doc.getURL('get')}";
// ]]>
</script>
##
<script type="text/javascript">
// <![CDATA[
var cancelEditNextOnunload;
var cancelCancelEditFlag = true;
var lockEditFlag = false;

function cancelEditResponse() {
}

function cancelEdit() {
  if (cancelCancelEditFlag) {
    var surl = "$doc.getExternalURL('cancel', 'ajax=1')";
    var myAjax = new Ajax.Request(surl, {
      method: 'get',
      parameters: "",
      asynchronous: true,
      discardResponse: true
    });
    cancelCancelEditFlag = false;
  }
  if (cancelEditNextOnunload) {
    cancelEditNextOnunload();
  }
}

function lockEdit() {
  if (!lockEditFlag) {
#if ($xcontext.action == 'inline')
    var surl = "$doc.getExternalURL('lock', "action=inline&ajax=1&${docvariant.replace('&amp;', '&')}")";
#else
    var surl = "$doc.getExternalURL('lock', "ajax=1&${docvariant.replace('&amp;', '&')}")";
#end
    var myAjax = new Ajax.Request(surl, {
      method: 'get',
      parameters: "",
      asynchronous: true
    });
    lockEditFlag = false;
  }
}

function prepareCancelEdit() {
  lockEdit();
}
function cancelCancelEdit() {
  cancelCancelEditFlag = false;
}
Event.observe(window, "unload", cancelEdit);
Event.observe(window, "pagehide", cancelEdit);
$j(document).ready(prepareCancelEdit);
// ]]>
</script>
#end
##
<!-- javascript.vm: end -->
