#set($noRecursiveLoginCall = (("$!renderDocument" == '') || ("$!renderDocument.fullName" != 'Tools.Login')))
#if("$!context.getUser()" != 'XWiki.XWikiGuest')
  #set($redirURL = $xwiki.getDocument('Content.WebHome').getExternalURL('view'))
  <!-- login redirURL : $redirURL -->
  $response.sendRedirect($redirURL)
#else
  #if($noRecursiveLoginCall && $xwiki.exists('Tools.Login') && $xwiki.hasAccessLevel("view","Tools.Login"))
    #set($overwriteRenderDocument = 'Tools.Login')
    #set($hasLocalOverwrite = true)
  #else
    #set($overwriteRenderDocument = 'celInlineTemplates/login.vm')
    #set($hasLocalOverwrite = false)
  #end
  $services.metatag.addMetaTagToCollector('NAME', 'ROBOTS', "NOINDEX, NOFOLLOW")
  $xwiki.parseTemplate("frameheader.vm")
  #if("$!overwriteRenderDocument" != '')
  	#if($hasLocalOverwrite)
      #set($content = $xwiki.celementsweb.renderDocument($xwiki.getDocument($overwriteRenderDocument)))
    #else
      #set($content = $xwiki.parseTemplate($overwriteRenderDocument))
    #end
    #if("$!content.trim()" != '')
      $content
    #else
      #parse('celInlineTemplates/login.vm')
    #end
  #end
  $xwiki.parseTemplate("framefooter.vm")
#end