#set($skinBodyAttributes = " style='overflow:hidden;'")
##set default settings
#set($cel_loadAdminMenuBar = false)
#set($showOverlayLanguageBar = false)
#set($showCloseOverlayButton = true)
#set($celementsLoadInOverlay = "")
#set($overlayWithResize = true)
#set($closeOverlayRedirect = "$!request.get('xredirect')")
#set($overlayConfName = "$!{request.get('conf')}")
#set($overlayBodyCssClasses = "$!{overlayConfName}")
#set($overlayScriptDocRef = '')
#set($overlayScript2DocRef = '')
#if("$!overlayConfName" != '')
#set($overlayScriptDocRef = $services.model.resolveDocument("Overlay.$!{overlayConfName}"))
#set($overlayScript2DocRef = $services.model.resolveDocument("celements2web:Overlay.$!{overlayConfName}"))
#end
#if(("$!overlayScriptDocRef" != '') && $xwiki.exists($overlayScriptDocRef) && !$celementsweb.isEmptyRTEDocument($overlayScriptDocRef))
  $xwiki.includeForm("Overlay.$!overlayConfName", false)
#elseif(("$!overlayScript2DocRef" != '') && $xwiki.exists($overlayScript2DocRef) && !$celementsweb.isEmptyRTEDocument($overlayScript2DocRef))
## DEPRECATED !!! PLEASE PUT IN celements-web celOverlay FOLDER ON DISK
  $xwiki.includeForm("celements2web:Overlay.$!overlayConfName", false)
#else
#set($overlayResult = '')
#if("$!overlayConfName" != '')
#set($overlayResult = $xwiki.parseTemplate("celOverlay/${overlayConfName}.vm"))
#end
#if(("$!overlayResult.trim()" != '') || ("$!celementsLoadInOverlay" != ''))
$overlayResult
#else
  #set($overlayConfig = $doc.getObject("Classes.OverlayConfigClass"))
  #if("$!{overlayConfig}" != "")
    #set($cel_loadAdminMenuBar = ("$!overlayConfig.getProperty('loadAdminMenuBar').getValue()" == "1"))
    #set($showOverlayLanguageBar = ("$!overlayConfig.getProperty('showOverlayLanguageBar').getValue()" == "1"))
    #set($showCloseOverlayButton = ("$!overlayConfig.getProperty('showCloseOverlayButton').getValue()" == "1"))
    #set($celementsLoadInOverlay = "$!overlayConfig.getProperty('documentToLoadInOverlay').getValue()")
    $celementsweb.includeCSSPage($overlayConfig.getProperty('overlayCSS').getValue())
  #else
    $msg.get('cel_overlay_not_available', ["$!overlayConfName"])
  #end
#end
#end
#if(!$disableViewInBackground)
  $xwiki.parseTemplate("view.vm")
#end