## init Celements variables
$xwiki.includeForm("celements2web:Macros.initCelements", false)
## start a Celements Document
$xwiki.parseTemplate("celMacros/startCelementsDocument.vm")
## start the celements body (and lacily finalise the header)
$xwiki.parseTemplate("celMacros/startCelementsBody.vm")
$xwiki.celementsweb.renderCelementsDocument($doc.documentReference)
##
</body>
</html>
