$services.css.includeCSSPage(':skins/albatross/style.css')##
$services.css.includeCSSPage(':skins/albatross/elements.css')##
$services.css.includeCSSPage(':skins/albatross/classes.css')##
$services.css.includeCSSPage(':skins/albatross/xwiki.css')##
$services.css.includeCSSPage(':skins/albatross/wiki.css')##
$services.css.includeCSSPage(':skins/albatross/page.css')##
$services.css.includeCSSPage(':skins/albatross/rss.css')##
$services.css.includeCSSPage(':skins/albatross/screenlayout.css')##
$services.css.includeCSSPage(':skins/albatross/microformats.css')##
$services.css.includeCSSPage(':skins/albatross/presentation.css')##
$services.css.includeCSSPage(':skins/albatross/colorsblack.css')##
$services.css.displayAllCSS()
