## Includes CSS files inline for modes other than the Servlet mode. This is because for example
##   in Portlet mode the HTML we create cannot contain a <HEADER> or <BODY> element. We normally
##   include CSS using the <LINK> element but it needs to go in the <HEADER>. Thus instead we do
##   the CSS inclusion inline here

$services.css.includeCSSPage(':skins/albatross/style.css')##
$services.css.includeCSSPage(':skins/albatross/elements.css')##
$services.css.includeCSSPage(':skins/albatross/classes.css')##
$services.css.includeCSSPage(':skins/albatross/xwiki.css')##
$services.css.includeCSSPage(':skins/albatross/wiki.css')##
$services.css.includeCSSPage(':skins/albatross/page.css')##
$services.css.includeCSSPage(':skins/albatross/rss.css')##
$services.css.includeCSSPage(':skins/albatross/screenlayout.css')##
$services.css.includeCSSPage(':skins/albatross/microformats.css')##
$services.css.includeCSSPage(':skins/albatross/presentation.css')##
$services.css.includeCSSPage(':skins/albatross/colorsblack.css')##

#set($defaultstyle = $xwiki.getSpacePreference('stylesheet'))
#if($defaultstyle != '')
<style type="text/css">
  @import url($xwiki.getSkinFile($defaultstyle, true));
</style>
#end

<style type="text/css">
  @import url($xwiki.getSkinFile('customcolors.css', true));
  @import url($xwiki.getSkinFile('customlayout.css', true));
</style>

#set($style = "$!xwiki.getSpacePreference('style')")
#if($style != '')
<style type="text/css">
  $style
</style>
#end

#set($style = "$!doc.display('style', 'view', $doc.getObject('XWiki.XWikiHTML'))")
#if($style != '')
<style type="text/css">
  $style
</style>
#end
