#set($contextIsFinished = false)
#set($isXWikiSkinRequested = (("$!request.viewer" != '') || (("$!request.skin" != '') && ("$!request.skin" != 'cellskin')))) 
#set($isBaseOrCellSkin = (("$xwiki.getSkin()" == 'cellskin') || ("$xwiki.getSkin()" == 'celements2web:Skins.BaseSkin')))
#set($isBasedOnCellOrBaseSkin = (($xwiki.getBaseSkin() == 'celements2web:Skins.BaseSkin') || ($xwiki.getBaseSkin() == 'cellskin')))
#set($isLocalSkinBasedOnCelementsRequested = (($xwiki.getSkin().indexOf('.') > 0) && ($xwiki.getSkin().indexOf(':') < 0) && $isBasedOnCellOrBaseSkin))
#set($isXWikiSkinRequested = ($isXWikiSkinRequested || (!$isBaseOrCellSkin && !$isBasedOnCellOrBaseSkin && !$isLocalSkinBasedOnCelementsRequested)))
#if($isXWikiSkinRequested)
###
### Main "view" template
###
### General wrapper for view actions
###
#if ($request.getParameter("raw").equals("1"))
  #template("code.vm")
#else
  #template("startpage.vm")
  ## ----------------------------------------------------------------------------------
  ## Use the "viewer" variable to decide which view template to call. If no
  ## "viewer" variable is specified, then checks if a "viewer" request parmaeter has
  ## been specified and use it if found. If it doesn't exist then default to the
  ## contentview.vm template, used to display the standard view of a document.
  ## ----------------------------------------------------------------------------------
  #if("$!viewer" == '')
    #set($viewer = $request.getParameter('viewer'))
  #end
  #if("$!viewer" == '')
    #set($viewer = 'content')
  #end
  #if($viewer == 'content')
    <div class="minwidthb"></div>
    <div class="main layoutsubsection">
    #template("contentview.vm")
    <div class="clearfloats"></div>
    #if($displayDocExtra)
      #template("docextra.vm")
      <div class="clearfloats"></div>
    #end
    </div>## main
  #else
    <div class="main layoutsubsection">
    #template("${viewer}.vm")
    <div class="clearfloats"></div>
    </div>## main
  #end
  #template("endpage.vm")
#end
################### default xwiki-view-template !!!!!
##FIXME Ticket #4067 : remove ("$!celementsLoadInOverlay" != '') after fixing isAppScriptRequest
#elseif($services.celementsweb.isAppScriptRequest() && ("$!celementsLoadInOverlay" == ''))
#set($celAppScript = $services.celementsweb.getScriptNameFromURL())
#parse('app.vm')
#else
## init Celements variables
#set($isCellSkin = false)
##only include if legacy celements2web.xar is installed
#if($xwiki.exists($services.model.resolveDocument('celements2web:Macros.initCelements')))
$xwiki.includeForm("celements2web:Macros.initCelements", false)
#end
#set($pagetype_api = $celementsweb.getPageType($doc.fullName))
#if("$!show_frame" == '')
  #set($show_frame = $pagetype_api.showFrame())
#end
$xwiki.parseTemplate("celMacros/checkForcePasswordChange.vm")
#if("$!celementsLoadInOverlay" != '')
$xwiki.celementsweb.includeCSSAfterPreferences(':celRes/celementsOverlay.css')
#end
#if($show_frame || ("$context.action" == 'edit'))
  $xwiki.parseTemplate("frameheader.vm")
#end
#if(!$contextIsFinished && !$isCellSkin)
## render page content for old skins ('old' = no CelkSkin and no xwiki Skin from disk)
#parse('celMacros/noDuplicateRenderCelementsDocument.vm')
##
#end
#if(!$contextIsFinished && ($show_frame || ("$context.action" == 'edit')))
  $xwiki.parseTemplate("framefooter.vm")
#end
#end