## AddPage
## shows a form which allows to add a new page or move an existing one.
## it adds a MenuItem for the new/moved page to the doc_parent Menu
##
## INPUT (optional): $addPage_isMovable_LocalCheckMacro
##                    (is called to set $addPage_isMovable)
##                  $request.newDocBaseTitle
## 
## which space? default: Content
#if($!request.get("space") != "")
	#set($space = $!request.get("space"))
#else
	#set($space = "Content")
#end
#if($xwiki.isMultiLingual())
    #set($langs =  $xwiki.split($xwiki.getSpacePreferenceFor("language", "$space")," "))
#end
#set($redirmode = "$!request.get('redirmode')")
#set($redir = "$!request.get('xredirect')")
#set($doc_parent = $!request.get("doc_parent"))
#set($request_menu_link = "$!request.get('menu_link')")
#if(("$!request.get('forceUntitled')" == '1') && ("$!request_menu_link" == ''))
  #if("$!request.newDocBaseTitle" != '')
    #set($request_menu_link = $!celementsweb.getNextTitledPageFullName(${space}, "$!request.newDocBaseTitle"))
    #set($request_menu_link = $request_menu_link.split('\.').get(1))
  #else
    #set($request_menu_link = "$!celementsweb.getNextUntitledPageName(${space})")
  #end
#end
## check input
#set($filled = ($request.get('submitted') == '1'))
#set($complete = ($request_menu_link != ""))
#set($newDocFN = "${space}.$request_menu_link")
#set($newDocRef = $services.model.resolveDocument($newDocFN))
#set($exists = $xwiki.exists($newDocRef))
## check for valid Document Name
#set($valid = ($request_menu_link == $xwiki.getFormEncoded($request_menu_link)))
#set($addPage_isMovable = true)
#if($exists)
  ## check if allowed to be moved if exists
  ## the moved page may not be one of it future parents itself
  #set($docParents = $xwiki.celementsweb.getDocumentParentsList($doc_parent, true))
  #set($addPage_isMovable = !$docParents.contains("$!newDocFN"))
  #if(("$!{addPage_isMovable_LocalCheckMacro}" != '') && $xwiki.exists("$addPage_isMovable_LocalCheckMacro"))
    $xwiki.includeForm("$addPage_isMovable_LocalCheckMacro", false)
  #end
  #set($valid = $valid && $addPage_isMovable)
##  <!-- exists already: $valid , $addPage_isMovable , $doc_parent , $docParents.contains("$!newDocFN") , '$docParents' , $addPage_isMovable_LocalCheckMacro -->
#end
#set($force_move = $!request.get("force_move") == "1")

## determine position
#set($menu_parent = $!request.get("menu_parent"))
#set($menu = $xwiki.celementsweb.getSubNodesForParent("$doc_parent", "$space"))
#if($menu.size() > 0)
  #set($lastitemNum = $menu.size() - 1)
  #set($next_menu_item_nr = $menu.get($lastitemNum).getPosition() + 1)
#else
#set($next_menu_item_nr = 0)
#end
#set($position = $next_menu_item_nr)

## completely new page
#if($filled && $complete && $valid && !$exists)
    #set($page_type = $!request.get('page_type'))
    #if("$!page_type" != '')
      #set($new_doc = $services.celementsweb.createDocument($newDocRef, $page_type))
    #else
      #set($new_doc = $services.celementsweb.createDocument($newDocRef))
    #end
    #if("$!new_doc" != '')
		#if($!request.get("content_title") != "")
			#set($title = $!request.get("content_title"))
		#else
	    	## TODO: multilingual
	    	#set($title = $!request.get("menu_name"))
		#end
		#if("$!request.get('page_layout')" != '')
		  #set($pageTypeObj = $new_doc.getObject('Celements2.PageType'))
		  $pageTypeObj.set('page_layout', "$!request.get('page_layout')")
		#end
		
		## objects
		#set($menu_item_obj = $new_doc.newObject("Celements2.MenuItem"))
		$menu_item_obj.set("menu_link", $request_menu_link)
		$menu_item_obj.set("menu_position", $!position)
		$menu_item_obj.set("menu_parent", $!request.get('menu_parent'))
		$menu_item_obj.set('part_name', $!request.get('menuPart'))
		
		#if($xwiki.isMultiLingual())
		    #foreach($lang in $langs)
		    	#set($menu_name_obj = $new_doc.newObject("Celements2.MenuName"))
		    	$menu_name_obj.set("lang", $lang)
		    	$menu_name_obj.set("menu_name", $!request.get("menu_name_$lang"))
		    #end
		#else
	    	$menu_item_obj.set("menu_name", $!request.get("menu_name"))
		#end
		## parent
		$new_doc.setParent($!request.get('doc_parent'))  
		## save
		$new_doc.save()
		$xwiki.celementsweb.flushCache()
		## send redirect
	    #if("$!redirmode" != '')
	    #if("$!redirmode" == 'newpageview')
	      #set($redir = "$!{xwiki.getURL($new_doc.getFullName(),'view')}")
	    #elseif("$!redirmode" == 'newpageedit')
	      #set($redirXredirect = 'isCreate=1')
	      #if("$!redir" != '')
	        #set($redirXredirect = "$!{redirXredirect}&xredirect=$xwiki.getURLEncoded($redir)")
	      #end
	      #set($redir = "$!{xwiki.getURL($new_doc.getFullName(),'edit', $!redirXredirect)}")
	    	#else
	        	#set($redir = "$!{xwiki.getURL($new_doc.getFullName(),'edit')}?tab=tb2")
		    #end
	    #end
		$context.getResponse().sendRedirect($redir)
    #else
<!-- "successful" : false , "fullName" : "${newDocFN}", "errorMsg" : "unkown reason." -->
    #end
## existing page
#elseif($filled && $complete && $valid && $exists)

	#set($cur_doc = $!xwiki.getDocument($newDocRef))
	## should the page be moved here?
	#if(!$force_move)
    	## Get Doc Title and Page Type
    	#set($has_content_title = ("$!cur_doc.getTitle()" != ""))
	    #if($has_content_title)
	    	#set($title = "$!cur_doc.getTitle()")
	    #else
	    	#set($title = "$!cur_doc.getName()")
	    #end
	    
	    ## get the page type and templateDoc
	    #set($theDoc = $cur_doc)
	    $xwiki.includeForm("celements2web:Macros.getPageTypeAndTemplateDoc", false)
	    #if($page_typeObj)
	    	## get the specific view template
			#set($pretty_name = $!type_props.get("type_name"))
	    #else
	    	#set($pretty_name = "")
	    #end
	    
		<div class="celements2_box">
		<div class="celements2_box_title">$adminMsg.get('cel_ctm_addpage')</div>
	    <div class="celements2_error">$msg.get('cel_tm_warning_doc_exists_already', ["$!{request_menu_link}"])</div>
	    
		    <form id="update" method="post" action="">
				<input name='submitted' type='hidden' value='1' />
				<input name='force_move' type='hidden' value='1' />
				<input name='menu_position' type='hidden' size='30' value='$position'/>
				<input name='menu_parent' type='hidden' size='30' value='$!request.get("menu_parent")'/>
				<input name='menuPart' type='hidden' size='30' value='$!request.get("menuPart")'/>
				<input name='doc_parent' type='hidden' size='30' value='$!request.get("doc_parent")'/>
				<input name='space' type='hidden' value='$!request.get("space")' />
		
				<table class="celements2_table">
					<tr>
						<td width="50%"><div class="celements2_input_mandatory">Link $adminMsg.get('cel_tm_document_name')</div></td>
				  		<td width="50%"><input name='menu_link' type='text' size='30' value='$request_menu_link' readonly="readonly" class="celements2_input validate-docname"/></td>
					</tr>
					<tr>
						<td width="50%">$adminMsg.get('cel_tm_page_title')</td>
				  		<td width="50%"><input name='content_title' type='text' size='30' value='$!title' readonly="readonly" class="celements2_input"/></td>
					</tr>
					<tr>
						<td width="50%">$adminMsg.get('cel_tm_page_type')</td>
				  		<td width="50%"><input name='page_type' type='text' size='30' value='$!pretty_name' readonly="readonly" class="celements2_input"/></td>
					</tr>
		    	</table>
		    	<input type="button" value="$adminMsg.get('cel_back')" onclick="javascript:window.history.back()" class="celements2_input_button"/>
		    	<input type="submit" value="$adminMsg.get('cel_tm_move_page')" class="celements2_input_button"/>
			</form>
		</div>
	#else
	## Existing Document, but no MenuItem -> Create MenuItem
		#set($menu_item_obj = $cur_doc.getObject("Celements2.MenuItem", true))
		$menu_item_obj.set("menu_link", $request_menu_link)
		$menu_item_obj.set("menu_position", $!position)
		$menu_item_obj.set("menu_parent", $!request.get('menu_parent')) 
        $menu_item_obj.set('part_name', $!request.get('menuPart'))
		#if($xwiki.isMultiLingual())
			#foreach($lang in $langs)
				#set($menu_name_obj = false)
				#foreach($cur_menu_name_obj in $cur_doc.getObjects("Celements2.MenuName"))
	            #if($cur_menu_name_obj.getProperty("lang").getValue() == $lang)
					#set($menu_name_obj = $cur_menu_name_obj)
	            #end
				#end
				#if(!$menu_name_obj)
					#set($menu_name_obj = $cur_doc.newObject("Celements2.MenuName"))
				#end
				$menu_name_obj.set("lang", $lang)
				$menu_name_obj.set("menu_name", $!request.get("menu_name_$lang"))
			#end
		#else
			$menu_item_obj.set("menu_name", $!request.get("menu_name"))
		#end
     
	## TODO: Adopt menu_positions!!
	    $cur_doc.setParent($!request.get('doc_parent'))
	    $cur_doc.save()
		$xwiki.celementsweb.flushCache()
	    ## send redirect
	    #if("$!redirmode" != '')
	        #if("$!redirmode" == 'newpageview')
	          #set($redir = "$!{xwiki.getURL($cur_doc.getFullName(),'view')}")
	        #elseif("$!redirmode" == 'newpageedit')
        #set($redirXredirect = 'isCreate=1')
      #if("$!redir" != '')
        #set($redirXredirect = "$!{redirXredirect}&xredirect=$xwiki.getURLEncoded($redir)")
         #end
         #set($redir = "$!{xwiki.getURL($new_doc.getFullName(),'edit', $!redirXredirect)}")
	        #else
	          #set($redir = "$!{xwiki.getURL($cur_doc.getFullName(),'edit')}?tab=tb2")
	        #end
    	#end
	$context.getResponse().sendRedirect($redir)
	#end

## Empty form or not properly filled
#else
    #if ("$!request_menu_link" == '')
        #set($request_menu_link = "$!celementsweb.getNextUntitledPageName(${space})")
    #end
	<div class="celements2_box">
	<div class="celements2_box_title">$adminMsg.get('cel_ctm_addpage')</div>
	#if($filled && (!$complete || !$valid))
		<div class="celements2_error">$adminMsg.get('cel_tm_error_correct_field')</div>
	#end

	<form id="update" method="post" action="">
    <input name='submitted' type='hidden' value='1' />
    <input name='menu_position' type='hidden' size='30' value='$position'/>
    <input name='menu_parent' type='hidden' size='30' value='$!request.get("menu_parent")'/>
    <input name='menuPart' type='hidden' size='30' value='$!request.get("menuPart")'/>
    <input name='doc_parent' type='hidden' size='30' value='$!request.get("doc_parent")'/>
    <input name='space' type='hidden' value='$!request.get("space")' />

    <table class="celements2_table">
		<tr>
			<td>
			#if($!request.get("force_move") == "1")
				#set($checked1 = "")
				#set($checked2 = "checked='checked'")
			#else
				#set($checked1 = "checked='checked'")
				#set($checked2 = "")
			#end
			<input type="radio" name="force_move" value="0" onclick="javascript:document.getElementById('celements2_addpage_optional').style.display = 'block';document.getElementById('linkPickerLink').style.display = 'none'" $checked1>$adminMsg.get('cel_tm_add_new_page_to_menu')</input><br />
			<input type="radio" name="force_move" value="1" onclick="javascript:document.getElementById('celements2_addpage_optional').style.display = 'none';document.getElementById('linkPickerLink').style.display = 'inline'" $checked2>$adminMsg.get('cel_tm_add_existing_page_to_menu')</input>
			</td>
		</tr>
	</table>
	<div id="celements2_addpage_mandatory">
	<table class="celements2_table">
		<tr><td width="50%">
		#if($filled && (("$!request_menu_link" == "") || (!$addPage_isMovable)))
			<div class="celements2_input_mandatory clemenets2_error">
        #else
			<div class="celements2_input_mandatory">
		#end
		Link ($adminMsg.get('cel_tm_document_name'))</div></td>
		<td width="50%"><input name='menu_link' type='text' size='30' value='$!request_menu_link' class="celements2_input validate-docname" />
		<a href="#" id="linkPickerLink" style="display:none;" onclick="javascript:window.open('$xwiki.getURL("Celements2.LinkPicker")?xpage=plain&space=${space}&form=update&field=menu_link&mode=Name','LinkPicker','dependent=yes,location=no,menubar=no,status=no,resizable=yes,scrollbars=yes,width=370,height=450,left=100,top=200');return false;">
			<img src="$xwiki.celementsweb.getSkinFile(':celRes/link.gif')" alt="LinkPicker" title="LinkPicker" border="0" style="float:left;margin-left:5px;"/>
	    </a>
#if($filled && !$addPage_isMovable)
<div class="validation-advice" style="display: block;">$adminMsg.get('cel_tm_error_exists_notmovable')</div>
#end
		</td></tr>
	</table>
	</div>
	<div id="celements2_addpage_optional">
	<table class="celements2_table">
			<tr>
			<td width="50%">$adminMsg.get('cel_tm_page_type')</td>
			<td width="50%">
		      <select name="page_type" id="PageType" size="1" class="celements2_input">
		      #set($defaultPageType = "$!request.get('page_type')")
      #if("$!defaultPageType" == '')
          #set($defaultPageType = 'RichText')
      #end
    #set($pageTypeCat = "$!request.pageTypeCat")
    #if("$!pageTypeCat" == 'celltype')
      #set($pageTypeList = $services.pageType.getAvailableCellTypes())
    #else
      #set($pageTypeList = $services.pageType.getAvailablePageTypes())
    #end
      #foreach($item in $pageTypeList)
        #set($cur_doc = $xwiki.getDocument($item))
        #set($page_type_properties_obj = '')
        #set($page_type_properties_obj = $cur_doc.getObject('Celements2.PageTypeProperties'))
         #if("$!page_type_properties_obj" != '')
          #set($pretty_name = $!page_type_properties_obj.getProperty("type_name").getValue())
        #else
          #set($pretty_name = $cur_doc.getName())
        #end
        <option value="$cur_doc.getName()" #if("$!cur_doc.getName()" == "$!defaultPageType") selected="selected" #end>$!pretty_name</option>
      #end      
      </select>
      </td>
      </tr>
    #set($cel_pageLayouts = $celementsweb.getActivePageLayouts())
    #if($cel_pageLayouts.keySet().size() > 1)
      <tr>
      <td>$adminMsg.get('cel_tm_page_master')</td>
      <td>
    #set($cel_defaultLayout = "$adminMsg.get('cel_default_pagelayout')")
    <select size="1" name="page_layout">
        <option selected="selected" value="" label="$cel_defaultLayout">$cel_defaultLayout</option>
    #foreach($cel_pageLayoutKey in $cel_pageLayouts.keySet())
        <option value="$cel_pageLayoutKey" label="$cel_pageLayouts.get($cel_pageLayoutKey)">$cel_pageLayouts.get($cel_pageLayoutKey)</option>
    #end
    </select>
      </td>
      </tr>
      #end
    </table>
    </div>
      <input type="button" value="$adminMsg.get('cel_cancel')" onclick="javascript:window.history.back()" class="celements2_input_button"/>
      <input type="submit" value="$adminMsg.get('cel_create_page')"  class="celements2_input_button"/>
  </form>
  </div>
#end
<script type="text/javascript">
Validation.add('validate-docname', '$adminMsg.get('cel_tm_validate_warning')', function (v) {
	return !Validation.get('IsEmpty').test(v) &&  !/\W/.test(v.replace(/-/g, ''))
});
 var valid = new Validation('update', {immediate : true});
 ## if not complete or valid run the js validation
 #if($filled && (!$complete || !$valid))
 var result = valid.validate();
 #end
</script>