#set($filled = $request.get("submitted") == "1")
#set($complete = true)
#set($valid = true)
#if($filled && $complete && $valid)
 ## set album title
 $doc.setTitle($!request.get("title"))
 #set($pagetype_obj = $doc.getObject("Celements2.PageType"))
 #if(!$pagetype_obj)
  #set($pagetype_obj = $doc.newObject("Celements2.PageType"))
  $pagetype_obj.set("page_type", "Gallery")
 #end
 ## create album object
 #set($album_obj = $doc.getObject("XWiki.PhotoAlbumClass"))
 #if(!$album_obj)
  #set($album_obj = $doc.newObject("XWiki.PhotoAlbumClass"))
 #end
 #if("$!album_obj.getProperty('id').getValue()" == '')
   #set($allGalleries = $services.query.getXWQL("from doc.object('XWiki.PhotoAlbumClass') as album order by album.id desc").execute())
   #set($nextId = 0)
   #if($allGalleries.size() > 0))
     #set($lastGalDoc = $xwiki.getDocument($allGalleries.get(0)))
     #set($lastGalObj = $lastGalDoc.getObject('XWiki.PhotoAlbumClass'))
     #if("$!lastGalObj.get('id')" != '')
       #set($nextId = $xwiki.parseInt($lastGalObj.get('id')) + 1)
     #end
   #end
   $album_obj.set('id', $nextId)
 #end
 $album_obj.set("thumbWidth", $!request.get("thumbWidth"))
 $album_obj.set("height", $!request.get("height"))
 $album_obj.set("height2", $!request.get("height2"))
 $album_obj.set("photoWidth", $!request.get("photoWidth"))
 $album_obj.set("description", $!request.get("description"))
 $album_obj.set('hasOverview',$!request.get('XWiki.PhotoAlbumClass_0_hasOverview'))
 $album_obj.set('thumbDescription',$!request.get('XWiki.PhotoAlbumClass_0_thumbDescription'))
 $album_obj.set('theme',$!request.get('XWiki.PhotoAlbumClass_0_theme'))
 $doc.save()
 ## redirect to edit album
 $context.getResponse().sendRedirect($doc.getURL("view"))
#end
<div class="celements2_box editGallery_box c3_scrollable">
  #set($title = $!doc.getTitle())
<div class="celements2_box_title">$msg.get('gallery_edit_gallery') #if("$!doc.getTitle()" != '')${doc.getTitle()}#else${doc.getName()}#end</div>
<div class="celements2_box_subtitle">$msg.get('gallery_pictures')</div>
<div class="editGallery_table_box">
<table cellpadding="0" cellspacing="0" border="0" class="celements2_table">
<tr>
  <th class="celements2_line" style="text-align:left;width:120px;">&nbsp;</th>
  <th class="celements2_line" style="text-align:left;">$msg.get("filename")</th>
  <th class="celements2_line" style="text-align:left;">$msg.get("size")</th>
  <th class="celements2_line" style="text-align:left;">&nbsp;</th> 
</tr>
#set($gallery_attachmentList = $celementsweb.getAttachmentListSorted($doc, 'AttachmentAscendingNameComparator'))
#if($gallery_attachmentList.size() > 0)
#foreach ($attach in $gallery_attachmentList)
<tr>
  <td class="celements2_line" style="text-align:left;">
  #if ($attach.isImage())
    <a href="$doc.getAttachmentURL($attach.filename,'download')"><img src="$doc.getAttachmentURL($attach.filename,'download')?celwidth=100&celheight=100" alt="" border="0" /></a>
  #else
    &nbsp;
  #end
  </td>
  <td class="celements2_line" style="text-align:left;">
        <a href="$doc.getAttachmentURL($attach.filename,'download')">$attach.filename</a>
  </td>
  <td class="celements2_line" style="text-align:left;">
    $services.celementsweb.getHumanReadableSize($attach.filesize, true, $admin_language)
  </td>
  <td class="celements2_line" style="text-align:left;"><a href="$doc.getAttachmentURL("${attach.filename}", 'delattachment')?xredirect=$doc.getURL('edit')" onclick="return confirm('$msg.get("confirmdelattachment")');">$msg.get("delete")</a></td>
</tr>
#set( $counter = $counter + 1)
#end
#else
<tr>
<td colspan="4">No pictures.</td>
</tr>
#end
</table>
</div> <!-- editGallery_table_box -->
<div class="celements2_box_subtitle">$msg.get('gallery_upload_picture')</div>
#if($xwiki.celementsweb.getVersionMode() == 'celements3')
  <form action="$doc.getURL('import')" method="post">
    <input type="hidden" name="xredirect" value="$doc.getURL('edit')" />
    <input type="submit" value="$msg.get('gallery_import_link')" />
  </form>
#else
<form name="update" action="$xwiki.getURL($doc.getFullName(), 'upload')" enctype="multipart/form-data" method="post" onsubmit="return updateName(this)">
<script type="text/javascript">
function updateName(form) {
var fname = form.filepath.value;  
if (fname=="") {
  return false;
}
var i = fname.lastIndexOf('\\');
if (i==-1)
  i = fname.lastIndexOf('/');
fname = fname.substring(i+1);
form.filename.value = fname;
return true;
}
</script>
  <input type="hidden" name="xredirect" value="$doc.getURL('edit')" size="20" />    
  <input type="hidden" name="filename" value="" size="20" />
  <input type="file" name="filepath" value="" size="40"  />
  <input type="submit" value="Upload" class="celements2_input_button"/>  
  </form>
#end
<div class="celements2_box_subtitle">$msg.get('gallery_gallery_properties')</div>
$celementsweb.addExtJSfileOnce(':celJS/prototype.js')
$celementsweb.addExtJSfileOnce(':celJS/validation.js')
## ATTENTION - Includes for old wikis - 
#*#set($celSkin_doc = $xwiki.getDocument("celements2web:XWiki.Celements2Skin"))
#if("$!celSkin_doc" != '')
$celementsweb.addExtJSfileOnce($celSkin_doc.getAttachmentURL('prototype.js', 'skin'))
$celementsweb.addExtJSfileOnce($celSkin_doc.getAttachmentURL('validation.js', 'skin'))
#end*#
<form id="edit" name="edit" method="post" action="">
<input type="hidden" name="submitted" value="1" />
#set($albumobj = $!doc.getObject("XWiki.PhotoAlbumClass"))
<table cellspacing="0" cellpadding="0" border="0" class="celements2_table">
<tr>
 <td class="celements2_text">$msg.get('gallery_album_title')</td>
  #set($title = $!doc.getTitle())
 <td><input name="title" type="text" value="$!title" class="celements2_input" /></td>
</tr>
<tr>
 <td class="celements2_text">$msg.get('gallery_album_description')</td>
 <td><textarea name="description" class="celements2_input">$!albumobj.getProperty("description").getValue()</textarea></td>
</tr>
<tr>
 <td class="celements2_text">$msg.get('gallery_with_overview')</td>
    #set($pretagFixStr = '')
    #set($pretagFixStr = $!doc.display('hasOverview','edit',$albumobj))
 <td>${pretagFixStr.replaceAll('\{/?pre\}','')}</td>
</tr>
<tr>
 <td class="celements2_text">$msg.get('gallery_thumbnail_width')</td>
 <td><input name="thumbWidth" type="text" value="$!albumobj.getProperty("thumbWidth").getValue()" class="celements2_input validate-number" /></td>
</tr>
 <td class="celements2_text">$msg.get('gallery_thumbnail_height')</td>
 <td><input name="height" type="text" value="$!albumobj.getProperty("height").getValue()" class="celements2_input validate-number" /></td>
</tr>
<tr>
 <td class="celements2_text">$msg.get('gallery_picture_height')</td>
 <td><input name="height2" type="text" value="$!albumobj.getProperty("height2").getValue()" class="celements2_input validate-number" /></td>
</tr>
<tr>
 <td class="celements2_text">$msg.get('gallery_picture_width')</td>
 <td><input name="photoWidth" type="text" value="$!albumobj.getProperty("photoWidth").getValue()" class="celements2_input validate-number" /></td>
</tr>

<tr class="galleryDescriptionEdit">
 <td class="celements2_text">$msg.get('gallery_thumbnail_desc')</td>
     #set($pretagFixStr = '')
    #set($pretagFixStr = $!doc.display('thumbDescription','edit',$albumobj))
 <td>${pretagFixStr.replaceAll('\{/?pre\}','')}</td>
</tr>

<tr class="galleryDescriptionEdit">
 <td class="celements2_text">$msg.get('gallery_theme')</td>
     #set($pretagFixStr = '')
    #set($pretagFixStr = $!doc.display('theme','edit',$albumobj))
 <td>${pretagFixStr.replaceAll('\{/?pre\}','')}</td>
</tr>


</table>
<input type="submit" value="Save" class="celements2_submit" />
<input type="button" value="Cancel" class="celements2_submit" onclick="javascript:window.location.href='$doc.getURL("view")'"/>
</form>
<script type="text/javascript">
 var valid = new Validation('edit', {immediate : true});
 ## if not complete or valid run the js validation
 #if($filled && (!$complete || !$valid))
 var result = valid.validate();
 #end
</script>
</div>