##Gallery element
$celementsweb.addExtJSfileOnce(':celJS/lytebox5/lytebox.js', 'file')
<link rel="stylesheet" href="$celementsweb.getSkinFile(':celJS/lytebox5/lytebox.css', 'file')" type="text/css" media="screen" />
<link rel="stylesheet" href="$celementsweb.getSkinFile(':layouts/gallery/lytebox5-buttons.css', 'file')" type="text/css" media="screen" />
#if("$!galleryDoc" == '')
#if("$!celldoc" != '')
#set($galleryDoc = $xwiki.getDocument($celldoc.getDocumentReference()))
#else
#set($galleryDoc = $doc)
#end
#end
#set($obj = $galleryDoc.getObject("XWiki.PhotoAlbumClass"))
#set($thumbWidth = $!galleryDoc.display("thumbWidth", "view",$obj))
#if($thumbWidth == "")
#set($thumbWidth = 170)
#end
#if("$!comparator" == '')
  #set($comparator = 'AttachmentAscendingNameComparator')
#end
#set($thumbHeight = $!galleryDoc.display("height", "view",$obj))
#if($thumbHeight == "")
#set($thumbHeight = 170)
#end
#set($thumbWidthStr = $thumbWidth + 'px')
#set($thumbHeightStr = $thumbHeight + 'px')
#if("$!withoutEnclosingDiv" != '1')
<div id="Gallery${galleryDoc.getName()}:${galleryDoc}" class="celements_gallery_overview cel_cm_gallery">
 <h2 class="celements_gallery_title">$!galleryDoc.getTitle()</h2>		##already Multilingual title??
 <p class="celements_gallery_description">$!obj.getProperty("description").getValue()<!--ie6.0--></p>
#end
#set($dataLyteOptions = "$!{xwiki.getSpacePreference('LyteboxOptions')}")
#if("$!dataLyteOptions" == '')
    #set($dataLyteOptions = 'slide:true loopslideshow:true group:group1 shownavigation:true')
#end
#if("$!obj" != '')
  #set($lyteboxTheme = $obj.getProperty('theme').getValue())
#end
#if("$!lyteboxTheme" == '')
  #set($lyteboxTheme = 'grey')
#end
<script type="text/javascript">
var lyteboxTheme = '$lyteboxTheme';
</script>
#set($withoutThumbnails = (($galleryDoc.getObject("XWiki.PhotoAlbumClass").getProperty("hasOverview").getValue() == 0) && ($context.getAction() == "view") && ("$!withoutLitebox" != '1')))
#set($diaShow_attachmentList = $celementsweb.getAttachmentListSorted($galleryDoc, $comparator))
#if($diaShow_attachmentList.size() > 0)
	##Thumbnail description
	#set($attach = $diaShow_attachmentList.get(0))
 	#if($galleryDoc.getObject("XWiki.PhotoAlbumClass").getProperty("thumbDescription").getValue() == 1)
	 #set($fn_start = $attach.filename.indexOf('-'))
	 #if($fn_start < 0)
	  #set($fn_start = 0)
	 #else
       #set($fn_start = $fn_start + 1)
	 #end
	 #set($fn_end = $attach.filename.lastIndexOf('.'))
	 #set($thumbDescription = $msg.get($attach.filename.substring($fn_start, $fn_end)))
	#else
	 #set($thumbDescription = '')
  #end
  #if("$!withoutLitebox" != '1')
    <a id="startLytebox" class="celements_gallery_link_slideshow lytebox" href="$galleryDoc.getAttachmentURL($diaShow_attachmentList.get(0).filename,"download")"##
 data-lyte-options="beforeend:doBeforeEnd $!{dataLyteOptions}"##
 title="$thumbDescription" >Slideshow<!--ie6.0--></a>
  #end
  <div class="thumb_element_list">
   #foreach ($attach in $diaShow_attachmentList)
##Thumbnail description
 	#if($galleryDoc.getObject("XWiki.PhotoAlbumClass").getProperty("thumbDescription").getValue() == 1)
	 #set($fn_start = $attach.filename.indexOf('-'))
	 #if($fn_start < 0)
	  #set($fn_start = 0)
	 #else
       #set($fn_start = $fn_start + 1)
	 #end
	 #set($fn_end = $attach.filename.lastIndexOf('.'))
	 #set($thumbDescription = $msg.get($attach.filename.substring($fn_start, $fn_end)))
	#else
	 #set($thumbDescription = '')
	#end
##Thumbnail
  #if("$!withoutEnclosingDiv" != '1')
   	<div class="thumb_element">
  #end
<a class="thumbnail lytebox" href="$galleryDoc.getAttachmentURL($attach.filename,"download")"##
 data-lyte-options="$!{dataLyteOptions}"##
 title="$thumbDescription" style="width:$thumbWidthStr; height:$thumbHeightStr;">
#if(!$withoutThumbnails)
<img src="$galleryDoc.getAttachmentURL($attach.filename,"download")?celwidth=$thumbWidth&celheight=$thumbHeight" alt="" />
#end
</a>
  #if("$!withoutDescription" != '1')
	<p class="thumbDescription" style="width:$thumbWidthStr; overflow-x:hidden;">$thumbDescription</p>
  #end
  #if("$!withoutEnclosingDiv" != '1')
	</div><!--/thumb_element-->
   #end
   #end ## foreach
    <div class="clearboth"><!--IE6--></div>
  </div><!--/thumb_element_list-->
 #else
#if("$!withoutEnclosingDiv" != '1')
 <span class="nopictures">$adminMsg.get('cel_gal_no_pictures')<br /></span>
#else
<!--IE6-->
#end
   #if($isContentEditor || $isAdmin)
 	 <a class="addpicturesbutton" href="$galleryDoc.getURL("edit")">$adminMsg.get('cel_gal_add_pictures')</a>
   #end
 #end
#if("$!withoutEnclosingDiv" != '1')
 </div>##celements_gallery_overview
#end
#set($renderDocumentRecursionHistory = "${renderDocumentRecursionHistory}${doc.fullName} ")
##autostart Lyteshow when hasOverview == NO
#if($withoutThumbnails)
<script type="text/javascript">
var doBeforeEnd = function(arg) {
  history.back();
};
Event.observe(window, 'load', function() {
	myLytebox.start(document.getElementById('startLytebox'), true, false);
});
</script>
#end
