#set($cellObj = $celldoc.getObject('Celements.GroupCellClass', false))
#set($cellLayoutName = $cellObj.getProperty('render_layout').getValue())
#set($cellLayoutRef = $services.reference.create().space($cellLayoutName).build())
$services.layout.renderPageLayout($cellLayoutRef)
