#set($createdNav = $celementsweb.createNavigation())
$createdNav.loadConfigFromDoc($celldoc.documentReference)
#if("$!overwriteNavPresentationType" != '')
$createdNav.setPresentationType($overwriteNavPresentationType)
#end
#if("$!overwriteNavCMcssClass" != '')
$createdNav.setCMcssClass($overwriteNavCMcssClass)
#end
#if("$!emptyDictKeySuffix" != '')
$createdNav.setEmptyDictKeySuffix($emptyDictKeySuffix)
#end
$createdNav.includeNavigation()
<div class="navigation-clear"><!-- IE6 --></div>
