#set($createdNav = $celementsweb.createNavigation())
$createdNav.loadConfigFromDoc($celldoc.documentReference)
#if("$!overwriteNavPresentationType" != '')
$createdNav.setPresentationType($overwriteNavPresentationType)
#set($overwriteNavPresentationType = '')
#end
#if("$!overwriteNavCMcssClass" != '')
$createdNav.setCMcssClass($overwriteNavCMcssClass)
#set($overwriteNavCMcssClass = '')
#end
#if("$!emptyDictKeySuffix" != '')
$createdNav.setEmptyDictKeySuffix($emptyDictKeySuffix)
#set($emptyDictKeySuffix = '')
#end
#if("$!request.offset" != '')
#set($offset = $xwiki.parseInt("$!request.offset"))
#if("$!offset" != '')
$createdNav.setOffset($offset)
#end
#end
$createdNav.includeNavigation()
<div class="navigation-clear"><!-- IE6 --></div>
