<div class="cel_newsletterImport">
<h1>Newsletter Emailadressen Import: Inaktiv-Liste</h1>
<br/>
#template("celMacros/newsletterImportResult.vm")
<form action="" method="post">
  <input type="hidden" name="isSubmit" value="1" />
  <input type="hidden" name="asInactive" value="1" />
  <input type="hidden" name="subsBlog" value="$xwiki.celementsblog.getBlogPageByBlogSpace($doc.getSpace())" />
  
  Zu importierende E-Mailadressen: Adressen m&uuml;ssen durch ein Komma oder 
  einen Zeilenumbruch voneinander getrennt werden. Die angegebenen Adressen werden 
  als <strong>inaktive</strong> Empf&auml;nger erfasst (Negativ-Liste) und erhalten 
  den Newsletter <strong>nicht</strong>. Eine inaktive Adresse kann nur durch eine erneute 
  Einzelregistration &uuml;ber das entsprechende Formular wieder aktiviert werden.<br/>
  <br/>
  <textarea style="width:500px; height:150px; background: #FFA07A" name="batchImportData"></textarea>
  <br/><br/>
  <input type="submit" value="Importieren" />
</form>
</div>