#set($blogname = $xwiki.celementsblog.getBlogPageByBlogSpace($doc.getSpace()))
#if (("$!{blogname}" == "") && ("$!doc.getObject('Celements2.BlogConfigClass')" != ""))
  #set($blogname = $doc.getFullName())
#end

<div class="cel_newsletterImport">
<h1>Newsletter Emailadressen</h1>
<br/>
<div style="float: left;">
<strong>Aktive:</strong><br/>
<textarea name="active" id="textarea_active" cols="45" rows="30">
#set($blogstr = "%$blogname%")
#set($hql = "select nr.email from Celements.NewsletterReceiverClass as nr where nr.isactive='1' and nr.subscribed like '${blogstr}'")
#foreach($emailAdr in $xwiki.search($hql))
$emailAdr
#end
</textarea>
</div>
<div style="float: left;padding-left:10px;">
<strong>Inaktive:</strong><br/>
<textarea name="inactive" id="textarea_inactive" cols="45" rows="30">
#set($hql = "select nr.email from Celements.NewsletterReceiverClass as nr where nr.isactive='0' and nr.subscribed like '${blogstr}'")
#foreach($emailAdr in $xwiki.search($hql))
$emailAdr
#end
</textarea>
</div>
</div>