#if($xwiki.hasAdminRights())
  #if($showCelTypes)
    #set($listTitle = "Cell Layout Types")
    #set($typesList = $services.pageType.getAllCellTypes())
  #else
    #set($listTitle = "Page Types")
    #set($typesList = $services.pageType.getAllPageTypes())
  #end
  <div id="pagetypelist">
  	<h1>$listTitle</h1>
  	<p>click to edit</p>
    <table>
  #foreach($item in $typesList)
  	#set($ptConfig = $services.pageType.getPageTypeConfig($item))
    <!-- todo replace if working : $ptConfig.getName() , $ptConfig.isVisible()
     , $ptConfig.getPrettyName() -->
    <tr>
    #set($pt_doc = $xwiki.getDocument($item))
    #set($editLink = $pt_doc.getURL('edit', "editor=object&xredirect=$!{doc.getURL('view')}"))
    <td><a href="$editLink">$!ptConfig.getPrettyName()</a></td>
    <td>
      #if($ptConfig.isVisible())
        visible
      #end
      </td>
    </tr>
  #end
    </table>
  </div>
#else
You need admin rights to view the complete PageType listing.
#end