#set($cellDocRef = $celldoc.getDocumentReference())
#set($pageDoc = $services.cells.getPageDependentTranslatedDocument($tdoc, $cellDocRef))
#set($isAddPdDiv = ("$request.xpage" != 'rdf') && ("$!pageDoc.fullName" != "$!doc.fullName"))
#if(("$!overwriteRenderDocument" != '') && !$isAddPdDiv)
#if($overwriteRenderDocument.endsWith('.vm'))
$xwiki.parseTemplate($overwriteRenderDocument)
#else
$service.celementsweb.renderDocument($services.model.resolveDocument($overwriteRenderDocument))
#end
#set($overwriteRenderDocument = '')
#else
#if($isAddPdDiv)
#set($isInheritable = $services.cells.isInheritable($cellDocRef))
#set($pageDepDocRef = $services.cells.getPageDependentDocRef($doc.getDocumentReference(), $cellDocRef, false))
#set($pageDepFN = $services.model.serialize($pageDepDocRef))
#set($pdCount = $pdCount + 1)
<div id="cellPDContent$!{pdCount}$!{pageDoc.getName()}:$!isInheritable:$!{pageDepFN}"##
 class="cel_cm_pagedependent_content">
#end
$services.celementsweb.renderCelementsDocument($pageDoc)
#if($isAddPdDiv)
<!-- IE6 --></div>
#end
#end