#if("$!request.get('xredirect')" != '')
#set($xredirect = $!request.getParameter('xredirect'))
#else
#set($xredirect = "$doc.getURL('view')")
#end
#set($redirectStr = "xredirect=$xredirect")
#set($cellObj = "")
#set($cellObj = $celldoc.getObject('Celements.PageDepCellConfigClass', false))
#if("$!cellObj" == '')
#set($cellObj = $celldoc.newObject("Celements.PageDepCellConfigClass"))
$cellObj.set('menu_element_name', "$cellObj.fullName");
$celldoc.save()
$response.sendRedirect($doc.getURL('edit', $redirectStr))
#end
<div id="navigationCellEdit">
<h1>Page Dependend Content Cell</h1>
<form id="edit" method="post" action="$xwiki.getURL($doc.getFullName(), 'save')" target="_parent">
    <input type="hidden" name="template" value="$!doc.getTemplate()" />
    <input type="hidden" name="xredirect" value="$!xredirect" />
    <input type="hidden" name="language" value="$!tdoc.language" />
  #if($celementsweb.getSubMenuItemsForParent($doc.getFullName(), $doc.getSpace()).size() == 0)
    <div id="editablecode_container">
#set($cel_embedded_editobj = true)
#set($cel_editobj_classname = "Celements.PageDepCellConfigClass")
#set($cel_editobj_nb = $cellObj.getNumber())
#set($cel_editobj_hasObjRemoveLink = false)
#set($cel_editobj_externalForm = true)
#set($cel_editobj_properties = 'space_name,is_inheritable')
#set($cel_editobj_readonly_properties = '')
#set($cel_editobj_dict_property_prefix = 'pdcCellEdit_')
$xwiki.parseTemplate("celTemplates/ObjectEdit.vm")
#set($depCellSpace = $cellObj.getProperty('space_name').getValue())
#if("$!depCellSpace" != '')
#set($currLayoutRef = $celldoc.getDocumentReference().getLastSpaceReference())
#set($pdcLayoutDefDocRef = $services.cells.getLayoutDefaultDocRef($currLayoutRef, $depCellSpace))
<p>
<a href="$xwiki.getURL($services.model.serialize($pdcLayoutDefDocRef, 'local'), 'edit', "xredirect=$!xredirect")">
edit layout default content
</a>
</p>
#else
Please add a pdc-space-suffix for being able to add a layout default content.
#end
  #else
  <p>Group-Cell: Inhalt wird nur bei Zellen ohne weitere Unter-Zellen berechnet.</p>
  #end
</form>
</div>
