#set($cellDocRef = $celldoc.getDocumentReference())
#set($pageDocRef = $services.cells.getPageDependentDocRef($cellDocRef))
#set($isAddPdDiv = ("$request.xpage" != 'rdf') && ($pageDocRef != $doc.documentReference))
#if(("$!overwriteRenderDocument" != '') && !$isAddPdDiv)
#if($overwriteRenderDocument.endsWith('.vm'))
$xwiki.parseTemplate($overwriteRenderDocument)
#else
$services.celementsweb.renderDocument($services.model.resolveDocument($overwriteRenderDocument))
#end
#set($overwriteRenderDocument = '')
#else
#set($celPDCdocPageType = $services.pageType.getPageTypeRef($pageDocRef).getConfigName())
<!--
pageDocRef : $pageDocRef
celPDCdocPageType : $celPDCdocPageType
-->
#set($celPDCdocCssPTclass = "cel_pagetype_$!{celPDCdocPageType}")
#if($isAddPdDiv)
#set($isInheritable = $services.cells.isInheritable($cellDocRef))
#set($pageDepDocRef = $services.cells.getPageDependentDocRef($doc.getDocumentReference(), $cellDocRef, false))
#set($pageDepFN = $services.model.serialize($pageDepDocRef))
#set($pdSpaceSuffix = $services.cells.getDepCellSpaceSuffix($cellDocRef))
#if("$!pdCount" == '')
  #set($pdCount = 0)
#end
#set($pdCount = $pdCount + 1)
<div id="cellPDContent$!{pdCount}$!{pageDocRef.getName()}:$!{isInheritable}:$!{pdSpaceSuffix}:$!{pageDepFN}"##
 class="cel_cm_pagedependent_content">
 #set($celPDCdocCssPTclass = "cellPDContent-body ${celPDCdocCssPTclass}")
#end
<div class="${celPDCdocCssPTclass}">
$services.celementsweb.renderCelementsDocument($pageDocRef, true)
<!-- IE6 --></div>
#if($isAddPdDiv)
<!-- IE6 --></div>
#end
#end