$celementsweb.addExtJSfileOnce(':celJS/prototype.js')
$celementsweb.addExtJSfileOnce(':celJS/validation.js')
#macro(showForm $formMsg $captchaMsg)
  <div id="cel_pwdrecovery_process_description">$formMsg</div>
  <form action="?" method="post" id="recovery" name="recovery" onsubmit="if(!valid.validate()) { return false; }" >
    <input type="hidden" name="xredirect" value="$!request.get('xredirect')" />
    <input type="hidden" name="xpage" value="overlay" />
    <input type="hidden" name="conf" value="PwdRetreival" />
	<input type='hidden' name='captcha_type' value='image'/>
	<input type='hidden' name='captcha_id' value="$celementsweb.getCaptchaId()" />
	
    <!--<label for="j_username">$msg.get("username"):</label>-->
    <input type="text" id="j_username" name="j_username" placeholder="user name" value="$!request.get('j_username')" class="required validate-email"/>
	<br/>	
	<!--<label for="captcha_answer">$msg.get("cel_captcha_check"):</label>-->
	<input class="input" id='captcha_answer' name='captcha_answer' placeholder="captcha answer" type='text'>
	<div id="cel_pwdrecovery_captcha_msg">$!captchaMsg</div>
	<br/>
	<img src="$doc.getURL('imagecaptcha')?nounce=$datetool.getSystemTime()" alt='captchaimage' />
	
    <div class="buttons">
		<input type="submit" class="button" value="$msg.get('cel_password_recovery_button')" onclick="if(!valid.validate()) { return false; }"/>
	</div>
  </form>
#end ##showForm
#set($celMailsPasswordRecoveryContent = $services.celementsweb.renderInheritableDocument($services.model.resolveDocument('Mails.PasswordRecoverMailHtmlContent')))
#set($passwdRecoveryHTMLDocRef = $services.model.resolveDocument('Tools.PasswordRecoverMailHtmlContent'))
#set($passwdRecoveryHTML2DocRef = $services.model.resolveDocument('celements2web:Tools.PasswordRecoverMailHtmlContent'))
#set($passwdRecoveryTextDocRef = $services.model.resolveDocument('Tools.PasswordRecoverMailTextContent'))
#set($passwdRecoveryText2DocRef = $services.model.resolveDocument('celements2web:Tools.PasswordRecoverMailTextContent'))
#if(!$celementsweb.isEmptyRTEDocument($passwdRecoveryHTMLDocRef) || !$celementsweb.isEmptyRTEDocument($passwdRecoveryHTML2DocRef) || !$celementsweb.isEmptyRTEDocument($passwdRecoveryTextDocRef) || !$celementsweb.isEmptyRTEDocument($passwdRecoveryText2DocRef) || !$xwiki.celementsweb.isEmptyRTEString("$!celMailsPasswordRecoveryContent"))
  #if("$!request.get('j_username')" != '')
    #if($celementsweb.checkCaptcha())	
      #if($!request.get('j_username').matches('[\w\.\-\+]+[@][\w\-]+([.]([\w\-]+))+$'))
        $xwiki.celementsweb.recoverPassword()
      #else
        #showForm($msg.get('cel_password_recovery_not_an_email', ["$!request.get('j_username')"]))
      #end      
    #else
	  #showForm($msg.get('cel_password_recovery_process_description') $msg.get('cel_captcha_error'))
	#end
  #else
    #showForm($msg.get('cel_password_recovery_process_description'))
  #end
#end
<script type="text/javascript">
  var valid = new Validation('recovery',{immediate : true , useTitles : true, stopOnFirst : false});
</script>