#if("$!celldoc" != '')
#set($contentDoc = $celldoc)
#else   
#set($contentDoc = $tdoc)
#end
#if("$!overwritePresCmCssClass" == '')
#set($overwritePresCmCssClass = 'cel_cm_presentation')
#end
<div id="pres$!{contentDoc.getName()}:$!{contentDoc.getFullName()}"##
 class="$!{overwritePresCmCssClass}">
 #set($contentDocPageTypeRef = $services.pageType.getPageTypeRef($contentDoc.documentReference))
#if(($services.pageType.getPageTypeConfig($contentDocPageTypeRef).hasPageTitle()) && ("$!contentDoc.getTitle()" != ''))
<h1 class="pageTitle">$contentDoc.getTitle()<!--iE6.0--></h1>
#end
#parse('celTemplates/NavigationCellView.vm')
</div>