## is there already a redirect object attached
#if($doc.getObjects("Celements2.Redirect").size() > 0)
  #set($cur_obj = $!doc.getObject("Celements2.Redirect"))
  #set($red = $!cur_obj.getProperty("redirect").getValue())
  #set($queryStr = $!cur_obj.getProperty("querystr").getValue())
  #set($showIncluded = $!cur_obj.getProperty("show_included").getValue())
#else
  #set($cur_obj = $doc.newObject("Celements2.Redirect"))
  #set($!res = $doc.save())
  #set($red = "${doc.getSpace()}.WebHome")
#end
<div class="celements2_box">
<div class="celements2_box_title">Edit Redirect</div>
<form id="redirectEdit" method="post" action="?">
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="xredirect" value="$!request.get('xredirect')" />

<input type="hidden" name="Celements2.Redirect_nb" value="1" />
<table class="celements2_table">
<tr><td width="50%" class="celements2_text">Redirect (e.g. Content.Portrait)</td>
<td width="50%">
<input value='$!red' name='Celements2.Redirect_0_redirect' type='text' class="celements2_input" style="float:left"/>
<a href="#" onclick="javascript:window.open('$doc.getURL("view")?xpage=celements_ajax&ajax_mode=LinkPicker&space=${doc.getSpace()}&form=redirectEdit&field=Celements2.Redirect_0_redirect&mode=FullName','LinkPicker','dependent=yes,location=no,menubar=no,status=no,resizable=yes,scrollbars=yes,width=370,height=450,left=100,top=200');return false;">
<img src="$xwiki.celementsweb.getSkinFile(':celRes/link.gif','file')" alt="LinkPicker" title="LinkPicker" border="0" style="float:left;margin-left:5px;"/></a>
</td>
</tr>
#if($isAdmin)
<tr><td width="50%" class="celements2_text">Query String (e.g. key=value&key2=value2)</td>
<td width="50%">
<input value='$!queryStr' name='Celements2.Redirect_0_querystr' type='text' class="celements2_input" style="float:left"/>
</td>
</tr>
<tr><td width="50%" class="celements2_text">Show embedded (iFrame for external)</td>
<td width="50%">
<input value='1' #if("$!showIncluded" == '1')checked='checked'#end name='Celements2.Redirect_0_show_included' type='checkbox' class="celements2_input" style="float:left"/>
<input value='0' name='Celements2.Redirect_0_show_included' type='hidden'/>
</td>
</tr>
#end
</table>
<div class="celements2_align_right">
</div>
</form>
</div>