#set($isAjaxCall = ("$!request.ajax" == '1'))
#if($doc.fullName != "Templates.RedirectView")
#set($red_obj = $doc.getObject("Celements2.Redirect"))
#set($redURL = "$!red_obj.getProperty('redirect').getValue()")
#set($showIncluded = $!red_obj.getProperty("show_included").getValue())
#set($redirectedParams = "$!red_obj.getProperty('querystr').getValue()")
#foreach($param in $request.getParameterNames())
  #if("$!redirectedParams" != '')
    #set($redirectedParams = "${redirectedParams}&")
  #end
  #set($redirectedParams = "${redirectedParams}${param}=$!{request.get($param)}")
#end
#if(!$redURL.startsWith('http://') && !$redURL.startsWith('https://'))
  #set($redExternalURL = $xwiki.getURL($redURL, "view", "${redirectedParams}"))
  #set($redFN = $!redURL)
  #set($redURL = $xwiki.getURL($redURL, "view"))
  #set($showIFrame = false)
#else
  #set($redFN = '')
  #set($redExternalURL = "$!{redURL}?$!red_obj.get('querystr')")
  #set($redExternalURL = "$!redExternalURL.replaceAll('\?$','')")
  #set($showIFrame = true)
#end
#if("$context.action" == 'view')
#if(("$!red_obj" == '') || ("$!redURL" == '') || (!$xwiki.exists($redURL) && !$redURL.startsWith('http://') && !$redURL.startsWith('https://')))
#if(!$contextIsFinished && !$isCellSkin) ## prevent endless recursion
#set($overwriteRenderDocument = 'celInlineTemplates/RedirectDoesNotExistView.vm')
$xwiki.parseTemplate("frameheader.vm")
#if("$!overwriteRenderDocument" != '')
## redirectedParams get lost in calling:
##      $xwiki.celementsweb.renderCelementsDocument($overwriteRenderDocument)
## or  $xwiki.includeForm($overwriteRenderDocument, false)
      #parse($overwriteRenderDocument)
#end
#set($show_frame = true)
#end
#elseif($isAjaxCall)
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('redirect', "$!redURL")
$jsonBuilder.addStringProperty('querystr', "$!red_obj.getProperty('querystr').getValue()")
$jsonBuilder.addStringProperty('showIncluded', "$!red_obj.getProperty('show_included').getValue()")
$jsonBuilder.addStringProperty('redirectFN', "$redFN")
$jsonBuilder.addStringProperty('redirectURL', "$!redExternalURL")
$jsonBuilder.closeDictionary()
#set($jsonStr = $jsonBuilder.getJSON())
$response.addHeader('X-JSON', $jsonStr)
$jsonStr
#else ## render view
  #if("$!showIncluded" == '1')
    #set($overwriteRenderDocument = 'celInlineTemplates/RedirectIncludedView.vm')
#if(!$contextIsFinished && !$isCellSkin) ## prevent endless recursion
    $xwiki.parseTemplate("frameheader.vm")
    #if("$!overwriteRenderDocument" != '')
## redirectedParams get lost in calling:
##      $xwiki.celementsweb.renderCelementsDocument($overwriteRenderDocument)
## or  $xwiki.includeForm($overwriteRenderDocument, false)
      #parse($overwriteRenderDocument)
    #end
#set($show_frame = true)
#end
  #else
#if("$!redExternalURL" == '')
  ## sendRedirect on an empty URL leads to a server crash!
  #set($redExternalURL = '/')
#end
## ensure content is not empty (otherwise reset throws an IllegalStateException)
Redirect to $redExternalURL
## call reset to clear HTTP-HeaderData (otherwise sendRedirect throws an IllegalStateException)
$response.reset()
## set context to finish to prevent that not empty content is written to the Body
$context.setFinished(true)
#set($contextIsFinished = true)
## set redirect HTTP-Header
$response.sendRedirect($redExternalURL)
  #end
#end
#end
#else
<p>Do not redirect on Template page.</p>
#end