##
#if("$!celldoc" != '')
#set($contentDoc = $celldoc)
#else	
#set($contentDoc = $tdoc)
#end
#if("$request.xpage" != 'rdf')
#set($theDoc = $contentDoc)
$xwiki.includeForm('celements2web:Macros.getContentDblClick', false)
#set($theDoc = '')
##
#set($additionalCSS = '')
#if($celementsweb.isEmptyRTEDocument($contentDoc.documentReference))
#set($additionalCSS = "$!additionalCSS celRTEempty")
#end
<div id="rteContent$!{contentDoc.getName()}:$!{contentDoc.getFullName()}"##
 class="rteContent cel_cm_rte_content$!{additionalCSS}" $!dblClick>
#end
#if(($celementsweb.getPageType($doc.fullName).hasPageTitle()) && ("$!contentDoc.getTitle()" != ''))
<h1 class="pageTitle">$contentDoc.getTitle()<!--iE6.0--></h1>
#end
## because RichText is still the default PageType we need to allow velocity code
$xwiki.celementsweb.renderDocument($!contentDoc)
#if("$request.xpage" != 'rdf')
<!-- IE6 --></div>
#end