@charset "UTF-8";
/* CSS Document */

.celanim_slideshow_wrapper { 
  display: inline-block; 
  position: relative; 
  font-size: 0px; 
  line-height: 0px; 
  overflow: hidden; 
}

.highslide-html div.celanim_slideshow_wrapper .highslide-image {
  border: none;
}


#yuiOverlayContainer .celPresSlideShow_countSlideNum,
.celimage_slideshow_wrapper .celPresSlideShow_countSlideNum {
  display: block;
  position: absolute;
  text-align: left;
  height: 21px;
  width: 22px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  bottom: auto;
  left: auto;
  top: -22px;
  margin-right: -27px;
  right: 50%;
}
.celimage_slideshow_wrapper .celPresSlideShow_countSlideNum {
  top: -20px;
  height: 19px;
  font-size: 14px;
  line-height: 18px;
}
#yuiOverlayContainer .celPresSlideShow_currentSlideNum,
.celimage_slideshow_wrapper  .celPresSlideShow_currentSlideNum {
  display: block;
  position: absolute;
  text-align: right;
  padding-right: 7px;
  height: 21px;
  width: 22px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  bottom: auto;
  right: auto;
  top: -22px;
  margin-left: -31px;
  left: 50%;
  border-right: 1px solid white;
}
.celimage_slideshow_wrapper  .celPresSlideShow_currentSlideNum  {
  top: -20px;
  height: 19px;
  font-size: 14px;
  line-height: 18px;
  border-right: 1px solid #3D3D3D;
}
#yuiOverlayContainer .slideshowButton,
.celimage_slideshow_wrapper .slideshowButton { 
  background-image: url(buttons500.png);
  height: 66px !important; 
  width: 67px !important; 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  margin-top: -33px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  margin-left: -33px; 
  opacity: 0.9; 
  background-position: -41px -44px !important; 
  background-repeat: no-repeat; 
  z-index : 2;
  cursor: pointer;
}

#yuiOverlayContainer .slideshowButton:hover,
.celimage_slideshow_wrapper .slideshowButton:hover { 
  background-image: url(buttons500-hover.png);
}

.celimage_overlay {
  cursor: pointer;
}
