<div class="cel_pagepropertiesTab">
#set($cellObj = "")
#set($cellObj = $doc.getObject("Celements.CellClass", false))
#if("$!cellObj" == '')
#set($cellObj = $doc.newObject("Celements.CellClass"))
#if(!$doc.isNew())
##NEVER change new document on load. This would create the document in inline/template mode!
        $doc.save()
#end
#end
<form id="propertiesEdit" method="post" action="?">
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="template" value="$!request.template" />
<div id="pro_pagetypeEdit" class="editblock" onfocus="setFocus('pro_pagetypeEdit');" onblur="removeFocus('pro_pagetypeEdit');">
    $adminMsg.get('cel_tm_page_type'):
    #set($cel_pageTypeObj = $doc.getObject('Celements2.PageType'))
    #if("$!cel_pageTypeObj" == '')
        #set($cel_pageTypeObj = $doc.getObject('Celements2.PageType', true))
#if(!$doc.isNew())
##NEVER change new document on load. This would create the document in inline/template mode!
        $doc.save()
#end
    #end
    #set($pageTypeCats = $!services.pageType.getPageTypeRef($doc.documentReference).getCategories())
    <!-- pageTypeCats: $pageTypeCats -->
    #set($pageTypeRefList = $services.pageType.getPageTypeRefsForCategories($pageTypeCats, true))
    #set($treeMap = $util.getTreeMap())
    #foreach($item in $pageTypeRefList)
      #set($ptConfig = $services.pageType.getPageTypeConfig($item.configName))
      #set($!devNull = $treeMap.put($!ptConfig.getPrettyName(), $item.configName))
    #end
    <select id="Celements2.PageType_${cel_pageTypeObj.number}_page_type" size="1" name="Celements2.PageType_${cel_pageTypeObj.number}_page_type">
      #set($curSelectFound = false)
      #foreach($item in $treeMap.values())
        <!-- cell-pageType: $item -->
        #set($ptConfig = $services.pageType.getPageTypeConfig($item))
        #if($ptConfig.isVisible())
        <option value="$!{ptConfig.getName()}"##
          #if("$!{ptConfig.getName()}" == "$!page_type")##
            selected="selected"##
            #set($curSelectFound = true)##
          #end##
          label="$!ptConfig.getPrettyName()">$!ptConfig.getPrettyName()</option>
        #end
      #end
      #if(!$curSelectFound)
        <option value="$page_type" selected="selected" label="Unknown Type">Unknown Type ($page_type)</option>
      #end
      </select>
</div>
  #set($cel_embedded_editobj = true)
  #set($cel_editobj_classname = "Celements.CellClass")
  #set($cel_editobj_nb = $cellObj.getNumber())
  #set($cel_editobj_properties = "")
#set($cel_editobj_hasObjRemoveLink = false)
#set($cel_editobj_externalForm = true)
  #set($cel_editobj_validate = false)
  $xwiki.parseTemplate("celTemplates/ObjectEdit.vm")
</form>
</div> ##cel_pagepropertiesTab
