<span class='cel_lazyloadJS' style='display: none;'>celJS/yui/yahoo/yahoo-min.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/yui/event/event-min.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/yui/dom/dom-min.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/yui/cookie/cookie-min.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/yui/calendar/calendar-min.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/jquery-format/jquery.format-1.2.min.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/editorsupport/DatePicker.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/jquery-datetimepicker/jquery.datetimepicker.js</span>
<span class='cel_lazyloadJS' style='display: none;'>celJS/celTabMenu/publishDatePicker.js</span>

<span class='cel_lazyloadCSS' style='display: none;'>celJS/yui/calendar/assets/skins/sam/calendar.css</span>
<span class='cel_lazyloadCSS' style='display: none;'>celJS/jquery-datetimepicker/jquery.datetimepicker.css</span>

#macro(getAccessRights)
  #set($rights = '')
  #if($rightsobj.getProperty('levels').getValue() == 'view')
    #set($rights = 'view')
  #end
  #if($rightsobj.getProperty('levels').getValue().contains('edit'))
    #set($rights = 'edit')
  #end
  #if($rightsobj.getProperty('allow').getValue() == 0)
    #set($rights = 'none')
  #end
#end

#macro(getRealAccessRights $grpOrUser $isUser)
 #if($celementsweb.hasAccessLevel('view', $grpOrUser, $isUser, $doc.fullName) 
  && $celementsweb.hasAccessLevel('edit', $grpOrUser, $isUser, $doc.fullName))
   $!adminMsg.get('cel_tm_rights_edit')
 #else
   #if($celementsweb.hasAccessLevel('view', $grpOrUser, $isUser, $doc.fullName))
     $!adminMsg.get('cel_tm_rights_view')
   #else
     $!adminMsg.get('cel_tm_rights_none')
   #end
 #end
#end

<div class="cel_rightsTab">

#if($services.celementsright.publicationActivated($doc.documentReference))
	
	<h1>$!adminMsg.get('cel_tm_rights_publication')</h1>
	<form id="publicationForm" name="publicationForm" action="?" method="post">
        <input type="hidden" name="update" value="1" />
        <input type="hidden" name="tab" value="tbrights" />
        <input type="hidden" name="xpage" value="celements_ajax" />
        <input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
        #set($publishObjs = $doc.getObjects('Classes.DocumentPublication'))
        
        #if(("$!publishObjs" == "") || ($publishObjs.size() == 0))
            $!adminMsg.get('cel_tm_rights_publication_always')
	    #end
	        
		<div id="publish_date" class="yui-skin-sam">
			#set($cel_editobj_objects = $publishObjs)
			#set($cel_editobj_hasObjAddLink = true)
			#set($cel_editobj_hasObjRemoveLink = true)
			#set($cel_editobj_properties = "publishDate,unpublishDate")
			#set($cel_editobj_classname = 'Classes.DocumentPublication')
	        #set($cel_editobj_dict_prefix = 'cel_tm_rights_' )
	        #set($cel_editobj_externalForm = true)  
	        #set($cel_embedded_editobj = true)
	        #set($cel_editobj_title = $adminMsg.get('cel_tm_rights_publication'))
	        #set($cel_editobj_xredirect_params = 'tab=tbrights')
			$xwiki.includeForm('celements2web:Templates.ObjectEdit', false)
		</div>   
	</form>	
#end
$celementsweb.addExtJSfileOnce(':celJS/celTabMenu/publishDatePicker.js')	
<h1>$!adminMsg.get('cel_tm_rights_rights')</h1>
#if($celementsweb.isCelementsRights($doc.fullName))
<span class='cel_lazyloadJS' style='display: none;'>celJS/adminUi/accessRights.js</span>
<form id="accessRightForm" name="accessRightForm" action="" method="post">
<input type="hidden" name="update" value="1" />
<input type="hidden" name="tab" value="tbrights" />
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="SaveAccessRights" />
    <table class="cel_rightsTable editblock">
      <thead>
        <tr> 
          <th>$!adminMsg.get('cel_tm_rights_group')</th>
          <th>$!adminMsg.get('cel_tm_rights_rights')</th>
          <th>$!adminMsg.get('cel_tm_rights_realrights')</th>
        </tr>
      </thead>
      <tbody>
        <tr> 
          <td>$!adminMsg.get('cel_tm_rights_guestuser')</td>
          <td> <select class="cel_rightsSelect" id="select_XWiki.XWikiGuest" name="select_XWiki.XWikiGuest">
  #set($rightsobj = $doc.getObject('XWiki.XWikiRights', 'users', 'XWiki.XWikiGuest', false))
  #getAccessRights()
              <option value="">---</option>
              <option value="view" #if("$!rights" =='view') selected="selected" #end>$!adminMsg.get('cel_tm_rights_view')</option>
              <option value="edit" #if("$!rights" =='edit') selected="selected" #end>$!adminMsg.get('cel_tm_rights_edit')</option>
              <option value="none" #if("$!rights" =='none') selected="selected" #end>$!adminMsg.get('cel_tm_rights_none')</option>
            </select> </td>
          <td>#getRealAccessRights('XWiki.XWikiGuest' true)</td>
        </tr>
      #set($hql = ", BaseObject as obj where obj.name=doc.fullName and obj.className='XWiki.XWikiGroups'")
      #foreach ($cel_groupName in $xwiki.searchDocuments($hql))
        #set($cel_groupDisplayName = $cel_groupName.replace('XWiki.',''))
      <tr> 
        <td>
      #set($cel_groupNameKey = "cel_groupname_$cel_groupDisplayName")
      #if($adminMsg.get($cel_groupNameKey) != $cel_groupNameKey)
        #set($cel_groupDisplayName = $adminMsg.get($cel_groupNameKey))
      #end
      $cel_groupDisplayName
        </td>
        <td> <select class="cel_rightsSelect" id="select_$cel_groupName" name="select_$cel_groupName">
  #set($rightsobj = $doc.getObject('XWiki.XWikiRights', 'groups', $cel_groupName, false))
  #if("$!rightsobj" == '')
    #set($rightsobj = $doc.getObject('XWiki.XWikiRights', 'groups', "${cel_groupName},", false))
  #end
  #getAccessRights()
            <option value="">---</option>
            <option value="view" #if("$!rights" =='view') selected="selected" #end>$!adminMsg.get('cel_tm_rights_view')</option>
            <option value="edit" #if("$!rights" =='edit') selected="selected" #end>$!adminMsg.get('cel_tm_rights_edit')</option>
            <option value="none" #if("$!rights" =='none') selected="selected" #end>$!adminMsg.get('cel_tm_rights_none')</option>
          </select> </td>
        <td>#getRealAccessRights($cel_groupName false)</td>
      </tr>
      #end 
    </table>
</form>

#else
  $!adminMsg.get('cel_tm_rights_invalid')
#end
</div>