##
#macro(includeLinkPicker $origFieldName $images)
#set($basePageURL = "$!doc.getURL('attach')")
#set($baseURLencoded = "$!xwiki.getURLEncoded($basePageURL)")
#set($uploadImgLink =  $!doc.getURL('view',"xpage=celements_ajax&ajax_mode=ImagePicker&baseurl=${baseURLencoded}&origFieldName=${origFieldName}"))
#if("$!{images}" != '')
  #set($uploadImgLink = "${uploadImgLink}&$!{images}")
#end
#set($xredirect = "xredirect=${xwiki.getURLEncoded($uploadImgLink)}")
<td><a onclick="javascript:window.open('${uploadImgLink}&$xredirect','Hauptbild', 'left=100,top=200,menubar=no,resizable=yes,toolbar=no,location=no');return false;" href="">upload/select</a></td>
#end

<span class='cel_lazyloadJS' style='display: none;'>celJS/navigation/imageSelect.js</span>

<div id="nav_langBar" class="editblock" onfocus="setFocus('nav_langBar');" onblur="removeFocus('nav_langBar');">
<form action="$doc.getURL('edit')" name="nav_langBar_form" method="post">
    $adminMsg.get('cel_tm_edit_translation'): 
    <input type="hidden" name="tab" value="tb2"/>
    <select name="language" size="1" style="width:100px;" onchange="document.forms['nav_langBar_form'].submit();">
          #foreach($dl in $langs)
          <option #if($!language == "$dl")selected="selected"#end value="$dl" label="$adminMsg.get("cel_$dl")">$adminMsg.get("cel_$dl")</option>
      #end
    </select>
</form>
</div>
<form id="navigation_form" action="?" method="post">
        <input name="language" type="hidden" value="$!default_language">
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="template" value="$!request.template" />
<input type="hidden" name="createIfNotExists" value="true" />
#set($menu_position = "$!request.data-menu_position")
#if($menu_position != '')
  #set($navMenuItemObjNb = '-1')
  #set($theMenuItem = $doc.getObject('Celements2.MenuItem', false))
  #if("$!theMenuItem" != '')
    #set($navMenuItemObjNb = $theMenuItem.getNumber())
  #end
  <input type="hidden" name="Celements2.MenuItem_${navMenuItemObjNb}_menu_position" value="$menu_position" />
#end
<div id="nav_menunameEdit" class="editblock">
    #set($theMenuName = $doc.getObject('Celements2.MenuName','lang',"$language", false))
    #if("$!theMenuName" == '')
      #set($theMenuName = $doc.newObject('Celements2.MenuName'))
      $!theMenuName.set('lang',"$!language")
    #if(!$doc.isNew())
      ##NEVER change new document on load. This would create the document in inline/template mode!
      $doc.save()
    #end
    #end
    #set($navObjNb = $theMenuName.getNumber())
    #set($escapedMenuNameValue = "$!escapetool.html($!theMenuName.getProperty('menu_name').getValue())")
  $adminMsg.get('cel_tm_menu_name'): <input type="text" value="$!escapedMenuNameValue" id="menuname" name="Celements2.MenuName_${navObjNb}_menu_name" onfocus="setFocus('nav_menunameEdit');" onblur="removeFocus('nav_menunameEdit');"></input><br />
</div>

#* TODO Finish the new Redirect concept
#set($theObjs = $doc.getObjects('Celements2.Redirect'))
#set($theObj = '')
#if($theObjs.size() > 0)
#set($theObj = $doc.getObject('Celements2.Redirect'))
#end
#set($theMenuItem = $doc.getObject('Celements2.MenuItem'))
<div id="nav_redirectEdit" class="editblock">
  #set($isRedirectChecked = ("$!theMenuItem.getProperty('is_redirect').getValue()" == '1'))
  $adminMsg.get('cel_tm_redirect'): <input type="checkbox" #if($isRedirectChecked)checked="checked"#end id="check_redirect" onfocus="setFocus('nav_redirectEdit');" onblur="removeFocus('nav_redirectEdit');"></input>
  $adminMsg.get('cel_tm_target'): <input type="text" id="redirect_target"#if(!$isRedirectChecked) readonly="readonly"#end value="$!theObj.getProperty('redirect').getValue()" onfocus="setFocus('nav_redirectEdit');" onblur="removeFocus('nav_redirectEdit');"></input>
</div>
*#
</form>

#* Extract Start *#
#if("$!xwiki.getSpacePreference('extract_active')" == "1")
<form id="nav_extractEdit" action="?" method="post">
<input type="hidden" name="update" value="1" />
<input type="hidden" name="tab" value="tb2" />
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="template" value="$!request.template" />
<input type="hidden" name="createIfNotExists" value="true" />

    #parse("celMacros/includeCelementsRTE.vm")
    #set($extractObj = $doc.getObject('Classes.DocumentExtract','language',"$language", false))
    #if ("$!extractObj" == '')
        #set($extractObj = $doc.newObject('Classes.DocumentExtract'))
        $extractObj.set('language', $language)
    #end
    #set($objNr = $extractObj.getNumber())
    <div id="nav_menunameEdit" class="editblock">
        <input name="Classes.DocumentExtract_${objNr}_language" type="hidden" value="$language">
        #set($cel_editobj_nb = $objNr)
        #set($cel_editobj_doc = $doc)
        #set($cel_editobj_hasObjAddLink = false)
        #set($cel_editobj_hasObjRemoveLink = false)
        #set($cel_editobj_properties = "extract")
        #set($cel_editobj_classname = 'Classes.DocumentExtract')
        #set($cel_editobj_dict_prefix = 'cel_tm_documentextract_' )
        #set($cel_editobj_externalForm = true)  
        #set($cel_embedded_editobj = true)
        #set($cel_editobj_title = $adminMsg.get('cel_tm_documentextract'))
        #set($cel_editobj_xredirect_params = 'tab=tb2')
        #set($cel_editobj_cssclasses = { "extract" : "mceEditor celEditorBody_extract" })
        #parse("celTemplates/ObjectEdit.vm")
    </div>
</form>
#end
#* Extract End *#

#if ("$!xwiki.getSpacePreference('use_navigation_images')" == "1")
<form id="nav_imagePicker_form" action="?" method="post">
<input type="hidden" name="xpage" value="celements_ajax" />
<input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
<input type="hidden" name="template" value="$!request.template" />
<input type="hidden" name="createIfNotExists" value="true" />

<div id="nav_imagePicker" class="editblock">
<span style="display:none;" id="image_prefix">${doc.fullName}</span>
  $adminMsg.get('cel_tm_menu_image'): <input type="hidden" value="$!theMenuName.getProperty('image').getValue()" id="image" name="Celements2.MenuName_${navObjNb}_image"></input>
  #includeLinkPicker("Celements2.MenuName_${navObjNb}_image" '')
  <br />
  #set($currentImage = "$!theMenuName.getProperty('image').getValue()")
  #if("$!{currentImage}" != '')
    #set($currentImageURL = $celementsweb.getSkinFile("${currentImage}", 'download'))
    <div class="celMenuImagePreviewContainer">
      <p class="imagePreview"><img id="celMenuImagePreview" src="${currentImageURL}&celwidth=200&celheight=200" /></p>
      #set($cel_editobj_classname = 'Progon.AffiliationClass')
      <p class="celMenuImagePreviewDelete">
        <a href="#"><img class="removeBackgroundImg" alt="remove" src="$services.celementsweb.getSkinFile(':layouts/img/cross.gif', 'file')" /></a>
      </p>
    </div>
  #else
    <div class="celMenuImagePreviewContainer">
      <p class="imagePreview"><img style="display:none;" id="celMenuImagePreview" src="" /></p>
    </div>
  #end
</div>
</form>
#end
