:root {
  --pageBackgroundColor: #DDDDDD;
  --pageHeaderBackgroundColor: #FFFFFF;
  --pageContentBackgroundColor: #FFFFFF;
  --textColor: #000000;
  --textPrimaryColor: #888888;
  --textSecondaryColor: #b3b3b3;
  --titleColor: #888888;
  --borderColor: #CCCCCC;
  --linkColor: #0089DC;
  --highlightColor: #FFFFDD;
  --menuBackgroundColor: #CCCCCC;
  --menuLinkColor: #FFFFFF;
  --menuSelectedEntryBackgroundColor: #EFEFEF;
  --menuSelectedEntryLinkColor: #888888;
  --panelBackgroundColor: #FFFFFF;
  --panelHeaderBackgroundColor: #FFFFFF;
  --panelHeaderTextColor: #888888;
  --panelTextColor: #000000;
  --panelCollapsedBackgroundColor: #CCCCCC;
  --panelCollapsedTextColor: #FFFFFF;
  --buttonPrimaryBackgroundColor: #0089DC;
  --buttonPrimaryTextColor: #FFFFFF;
  --buttonSecondaryBackgroundColor: #FFFFFF;
  --buttonSecondaryTextColor: #0089DC;
  --backgroundSecondaryColor: #EFEFEF;
}