@import "/file/resources/celRes/theme/defaultColors.css";

.xhover {
	background:red;
}

input[type="text"].suggest {
  border-width: 1px;
}

body {
	position: relative;
}

div.suggestItems {
  position:absolute;
  border: 1px solid var(--borderColor);
  border-top: none;
  background: white; /* theme color ? */
  z-index: 100013;
  text-align:left;
}

div.suggestItems ul {
  margin: 0px;
}

div.suggestItems li {
  overflow:hidden;
  white-space:nowrap;
  margin-right:2px;
}

ul.suggestList {
  margin:0px !important;
  text-transform:none;
  color:var(--textColor);
  font-weight:normal;
}

ul.suggestList .xhighlight {
    background-color: var(--highlightColor);
}

div.suggestItemName {
    text-indent: 0;
}

div.suggestItemInfo {
    color: #556677;
    font-size: 0.8em;
    padding-left: 20px;
    text-indent: 0;
}

div.suggestItemName,
div.suggestItemInfo {
    text-decoration: inherit;
}

.highlight {
  background-color: var(--highlightColor);
  font-weight:bold;
  text-decoration: inherit;
}

