{pre}
#set($xredirect = $xwiki.getURLEncoded("/Content/login?activated=1"))
#set($activation = $!xwiki.getDocument('Content.login').getExternalURL('view', "xpage=celements_ajax&ajax_mode=RecoverPassword&ac=$!validkey&xredirect=$xredirect"))
Sehr geehrte Dame
Sehr geehrter Herr


Sie erhalten diese Mail weil Sie auf unserer Seite eine Passwort Wiederherstellung ausgelöst haben. 
Bitte folgen Sie dem untenstehenden Link um für Ihr Konto ($email) ein neues Passwort festzulegen.


$!activation


Bei allfälligen Fragen stehen wir Ihnen selbstverständlich gerne zur Verfügung.
{/pre}