{pre}
#set($xredirect = $xwiki.getURLEncoded("/Content/login?activated=1"))
#set($activation = $!xwiki.getDocument('Content.login').getExternalURL('view', "xpage=celements_ajax&ajax_mode=RecoverPassword&ac=$!validkey&xredirect=$xredirect"))
Sehr geehrte Dame
Sehr geehrter Herr
<br/>
<br/>
Sie erhalten diese Mail weil Sie auf unserer Seite eine Passwort Wiederherstellung ausgel&ouml;st haben. 
Bitte folgen Sie dem untenstehenden Link um f&uuml;r Ihr Konto ($email) ein neues Passwort festzulegen.
<br/>
<br/>
<a href="$!activation">$!activation</a>
## page: $xwiki.getDocument('Tools.ActivateAccount').getExternalURL() 
## activation code: $!validkey
<br/>
<br/>
Bei allf&auml;lligen Fragen stehen wir Ihnen selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
{/pre}