#if($services.rightsAccess.isAdmin())
  #set($listTitle = "RTE Config Types")
  #set($rteConfigsList = $services.rteconfig.getRTEConfigsList())
  <div id="rteConfigsList">
    <h1>$listTitle</h1>
    <p>click to edit</p>
    <table>
  #foreach($rteConfigRef in $rteConfigsList)
    <tr>
      #set($xredirect = $escapetool.url("$!{doc.getURL('view')}"))
      #set($editLink = $services.url.getURL($rteConfigRef, 'edit', "editor=object&xredirect=$!xredirect"))
      <td><a href="$editLink">$services.model.serialize($rteConfigRef, 'local')</a></td>
    </tr>
  #end
    </table>
  </div>
#else
You need admin rights to view the complete PageType listing.
#end