#if("$!elemId" != '')
#set($elemDocRef = $services.model.resolveDocument($elemId))##
#if($services.modelAccess.exists($elemDocRef))
#set($nextTreeNode = $services.treeNode.getNextMenuItem($elemDocRef))##
#if($services.modelAccess.exists($nextTreeNode.documentReference))
 #set($nextMenuItemFullName = $services.model.serialize($nextTreeNode.documentReference, 'local'))##
 #set($l = $services.url.getURL($elemDocRef, 'view', "xpage=celements_ajax&ajax_mode=switchMenuItemPos"))##
 #set($l = "$!{l}&space=${elemDocRef.lastSpaceReference.name}&item1=$!{elemId}")##
 #set($cmenu_pageLink = "$!{l}&item2=$!{nextMenuItemFullName}&xredirect=$!{doc.fullName}")##
window.location.href=&quot;$!{cmenu_pageLink}&quot;##
#end
#end
#end