.cel_cell .dropdown  {
    display: block;
    width: 60px;
    float: right;
    position: relative;
    margin: 15px 0px 0px;
}

.cel_cell .dropbtn {
    display: block;
    border: 2px solid #156eb9;;
    color: #156eb9;;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
    padding: 0px 0px 6px;
    margin: 1px 0px;
}

.cel_cell .dropdown:hover .dropdown-content {
    display: block;
}

.cel_cell .dropdown-content {
    display: none;
    background-color: whitesmoke;
    min-width: 160px;
    position: absolute;
    right: 0;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
    z-index: 1000;
}

.cel_cell .dropdown-content a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-top: 0.5px solid black;
}

.cel_cell .dropdown-content a:hover {
    background-color: lightgrey;
}
