@charset "UTF-8";

.formWrapper {
    display: flex;
    flex-flow: row;
}

.personalData {
    width: 100%;
    padding: 0px 10px 0px 0px;
}

.optionsWrapper {
    width: 100%;
    padding: 0px 0px 0px 10px;
}

#groups {
    display: flex;
    flex-flow: row wrap;
    padding: 3px 0px 12px;
}

#groups div.checkboxWrapper {
    display: flex;
    flex-flow: row;
    flex: 0 0 200px;
}

.cel_cell.adduser input, select, .submitaction {
    width: 100%;
    margin: 3px 0 12px;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 16px !important;
    height: 16px;
    margin: 0px !important;
    border: 2px solid lightgray;
    border-radius: 1px;
    align-self: center;
}

input[type="checkbox"]:checked {
    border: none;
    background-color: #156eb9;
}

input[type="checkbox"]:checked::before {
    font-family: 'FontAwesome';
    content: "\f00c";
    display: block;
    color: white;
    text-align: center;
    position: absolute;
    top: 1px;
    left: 2px;
}

div.checkboxWrapper label {
    padding-left: 5px;
}

.cel_cell.adduser input[type=text] {
    padding: 10px 10px;
    border: none;
    border-bottom: 2px solid lightgrey;
}

.cel_cell.adduser input[type=text]:focus {
    outline:none;
    border-bottom: 2px solid black;
}

select.cel_cell.adduser  {
    padding: 10px 10px;
    border: none;
    background-color: lightgrey;
}

.submitaction, .cancelaction {
    display: block;
    text-align: center;
    text-decoration: none;
    height: 100%;
    background-color: lightgrey;
    color: black;
    border: none;
    padding: 8px 8px;
    margin: 6px 0 12px;
}

.submitaction a, .cancelaction a {
    text-decoration: none;
    color: black;
}

.submitaction:hover, .cancelaction:hover {
    opacity: 80%;
}
