@charset "UTF-8";
.cel_cell.searchbar {
    position: relative;
    width: 100%;
}

.cel_cell.searchbar::before {
    font-family: 'FontAwesome';
    content: "\f002";
    position: absolute;
    top: 10px;
    left: 10px;
    color: lightgray;
}

.cel_cell.searchbar input {
    width: 100%;
    padding: 10px 30px;
    border: none;
    border-bottom: 2px solid lightgrey;
    margin: 3px 0 12px;
  }

.cel_cell.searchbar input:focus {
    outline:none;
    border-bottom: 2px solid black;
}
