@charset "UTF-8";
.struct_table {
    display: flex;
    flex-flow: column;
}

.struct_table ul.struct_table_header, .struct_table ul.struct_table_data {
    list-style-type: none;
}

.struct_table_header {
    padding: 5px 0px;
    margin: 0px 0px;
    font-weight: bold;
}

.struct_table_data {
    display: flex;
    flex-flow: column;
    padding: 0px 0px;
    margin: 0px 0px;
}

.struct_table_data .struct_table_row:nth-child(odd){
    background-color: whitesmoke;
}

li.struct_table_row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 2px 0px;
    margin: 1px 0px;
}

.struct_table ul.struct_table_data li.struct_table_row:hover,
.struct_table ul.struct_table_data li.struct_table_row.open {
    background-color: lightgrey;
}

.column_arrow {
    flex: 0 0 20px;
    text-align: center;
}

li.struct_table_row .column_arrow {
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    transform: rotate(0deg);
    content: "\f0da";
  }

li.struct_table_row.open .column_arrow {
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
    transition: transform 0.5s linear;
    transform: rotate(90deg);
}

.column_active {
    flex: 0 0 22px;
    text-align: center;
}

.fa-user-slash {
    color: red;
}

.column_name {
    flex: 1 0 150px;
}

.column_firstname{
    flex: 1 0 100px;
}

.column_email{
    flex: 1 0 350px;
}

.column_roles {
    flex: 2 0 120px;
}

.column_edit, .column_delete {
    flex: 0 0 20px;
}

.column_edit .icon-link, .column_delete .icon-link {
    text-decoration: none;
    color: black;
}

.column_edit .icon-link:hover, .column_delete .icon-link:hover {
    color: #156eb9;
}

.struct_table ul li.struct_table_row .struct_table_cell.editContentRTE {
	display: flex;
    flex-flow: row;
    flex: 1 1 100%;
    max-height: 0;
    padding: 0 0px;
    margin-left: 40px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.struct_table ul li.struct_table_row.open .struct_table_cell.editContentRTE {
    margin-left: 22px;
    margin-right: 45px;
    margin-bottom: 2px;
    margin-top: 4px;
    max-height: 1000px;
    transition: max-height 0.8s ease-in;
    border-top: 1px solid darkgray;
    padding: 3px 15px;
}

.companyWrapper, .languageWrapper, .forcePwdChangeWrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 0px 10px;
}

.companyWrapper {
    flex: 0 0 200px;
}

.languageWrapper {
    flex: 0 0 80px;
}

.forcePwdChangeWrapper {
    flex: 0 0 200px;
}

.companyLabel, .languageLabel {
    flex: 0 0 20px;
}
