body#body {
  background-color: #fff;
  color: #000;
}

h1,
h2,
h3,
h4 {
  color: #000;
}

#companylogo img {
  background-image: url("xwlogoblack.png");
  height: 91px;
  width: 136px;
}

/*
---------------------------------------
Space header, footer
---------------------------------------
*/

#headerspace hr,
#footerglobal hr {
  background-color: #000;
}
/*
---------------------------------------
Content
---------------------------------------
*/

#xwikieditor.layoutsection,
.layoutsubsection,
#xwikidatacontents {
  border-color: #ddd;
}
/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
table.xwikidatatable,
table.xwikidatatable th {
  border-color: #ddd;
}
table.xwikidatatable th {
  color: #000;
  background-color: #ccc;
  border-color: #ddd;
}

.xwikiintracontent legend,
.xwikiintracontent fieldset {
  border-color: #ddd;
}

.xwikiintracontent fieldset.collapsed legend {
  background-color: #ccc;
}

/*
---------------------------------------
Menu
---------------------------------------
*/
.submenu {
  background-color: #fff;
  border-color: #ddd;
  border-top-color: #fff;
}

/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage {
  border-color: #000;
  background-color: #eee;
}

fieldset.xwikimessage legend {
  background-color: #000;
  color: #fff;
}

/*
---------------------------------------
Editors
---------------------------------------
*/
#xwikicontentedit {
  border-color: #ddd;
}

/*
---------------------------------------
Tabs
---------------------------------------
*/
.xwikitabbar li {
  background-color: #ccc;
  border-right-color: #bbb;
  border-left-color: #ddd;
  border-top-color: #ddd;
}

.xwikitabbar li a {
  color: #000 !important;
}
.xwikitabbar li.active {
  background-color: #fff !important;
  border-color: #ddd;
  border-bottom-color: #fff;
}

/*
---------------------------------------
Panels
---------------------------------------
*/
.fakepanel {
  background-color: #eee;
  border-color: #ddd;
}

.panel {
  border-color: #ddd;
}
.xwikipaneltitle {
  background-color: #ccc;
}

/*
----------------------------------
Rico Acordeon -- Sintax Help Panel
----------------------------------
*/
.accordion {
  border-color: #ddd !important;
}
.accordionTabContentBox table th {
  background-color: #fff;
  border-bottom-color: #ddd;
}

.accordionTabTitleBar {
  border-color: #fff;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  background-color: #eee;
}

/*
----------------------------------
Misc
----------------------------------
*/

#xwikihelpsyntax {
  border-top-color: #ddd;
}

tr.row.odd {
  background-color: #eee;
}
tr.row.even {
  background-color: #fff;
}
tr th {
  background-color: #eee;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}

.button,
.xwikibuttonlink a {
  background-color: #ccc;
  color: #000;
}
.button:hover,
.xwikibuttonlink a:hover {
  background-color: #ffd;
}

#xwikirightstable,
#xwikirightstable th,
#xwikirightstable td,
#xwikirightstable tr {
  border-color: #ddd;
}

.article_footer {
  color: #000;
  border-color: #000;
}

.xwikiuserblog .rssfeed {
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-bottom-color: #eee;
  border-right-color: #eee;
}
.rsschanneltitle {
  background-color: transparent;
}
.currentspace a {
  color: #000 !important;
  background-color: #ccc;
}
