h1,
h2,
h3,
h4 {
  color: #369;
}
/*
---------------------------------------
Space header, footer
---------------------------------------
*/

#headerspace hr,
#footerglobal hr {
  background-color: #000;
}
/*
---------------------------------------
Content
---------------------------------------
*/

#xwikieditor.layoutsection,
.layoutsubsection,
#xwikidatacontents {
  border-color: #ddd;
}
/*
---------------------------------------
Zone for Comments, attachments, History... 
---------------------------------------
*/
ul.xwikiintra {
  border-bottom-color: #ddd;
  background-color: #eee;
}
.xwikiintra li {
  background-color: #bbb;
  border-color: #ccc;
  border-right-color: #aaa;
}
.xwikiintra li a,
.xwikiintra li.active a {
  color: #000;
}
.xwikiintra li.active {
  background-color: #fff !important;
  border-bottom-color: #fff;
  border-top-color: #ddd;
}
table.xwikidatatable,
table.xwikidatatable th {
  border-color: #ddd;
}
table.xwikidatatable th {
  color: #cdf;
  background-color: #369;
  border-color: #369;
}
.xwikiintracontent legend,
.xwikiintracontent fieldset {
  border-color: #ddd;
}
.xwikiintracontent fieldset.collapsed legend {
  background-color: #eee;
}
/*
---------------------------------------
Menu
---------------------------------------
*/
.submenu {
  background-color: white;
  border-color: #ddd;
  border-top-color: white;
}
/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage {
  border-color: #bbb;
  background-color: #f5f5f5;
}
fieldset.xwikimessage legend {
  background-color: #bbb;
  color: #fff;
}
input.button,
button.button {
  background-color: #eee;
}
input.button:hover,
button.button:hover {
  background-color: #cdf;
  color: #369;
}
.topbuttons button,
.bottombuttons button {
  background-color: #369;
  color: #fff;
  border: 1px solid #eee;
  padding: 2px 4px;
}
/*
---------------------------------------
Editors
---------------------------------------
*/

.xwikitabbar li {
  background-color: #cdf;
  border-color: #acf;
  border-bottom-color: #ccc;
  border-left-color: #ddf;
  border-top-color: #ddf;
}
.xwikitabbar li a {
  color: #000 !important;
}
.xwikitabbar li.active a {
  color: #000 !important;
}
.xwikitabbar li.active {
  background-color: #fff !important;
  border-color: #ddd;
  border-bottom-color: #fff;
}
/*
--
*/
#xwikicontentedit {
  border-color: #ddd;
}
/*
---------------------------------------
Panels
---------------------------------------
*/
.fakepanel {
  background-color: #eee;
  border-color: #e5e5e5;
}
.panel {
  border-color: #ddd;
}
.xwikipaneltitle {
  background-color: #cdf;
}
/*
----------------------------------
Rico Acordeon -- Sintax Help Panel
----------------------------------
*/
.accordionTabContentBox table th {
  background-color: #fff;
  border-bottom-color: #ddd;
}
.accordionTabTitleBar {
  border-color: #fff;
  border-bottom-color: #ddd;
  border-right-color: #ddd;
  background-color: #eee;
}
/*
----------------------------------
Misc
----------------------------------
*/

td.label {
  color: #777;
}
#xwikiclassproperties,
#xwikiobjects {
  border-color: #ddd !important;
}
#xwikihelpsyntax {
  border-top-color: #ddd;
}
.editactions a {
  background-color: #eee;
  color: #000;
  border-color: #dcdcdc;
}
.editactions a:hover {
  background-color: #ffd;
}
/*
---------------------------------------------
"Message Boxes"
---------------------------------------------
*/
fieldset.xwikimessage {
  border-color: #658bb2;
}
fieldset.xwikimessage legend {
  background-color: #658bb2;
  color: #fff;
}
tr.row.odd {
  background-color: #eee;
}
tr.row.even {
  background-color: #fff;
}
tr th {
  background-color: #eee;
}
a:link {
  color: #369;
}
a:visited {
  color: #777;
}
tr.row.odd {
  background-color: #cdf;
}
tr.row.even {
  background-color: #fff;
}
th {
  background-color: #cdf;
}
.xwikibuttonlink a {
  background-color: #369;
  color: #fff;
}
.xwikibuttonlink a:hover {
  background-color: #cdf;
  color: #369;
}
.xwikitabbar li.active {
  border-color: #ddd;
  border-bottom-color: #fff;
}
#xwikirightstable {
  border-color: #ddd;
}
#xwikirightstable th {
  border-top-color: #ddf;
  border-right-color: #acf;
  border-bottom-color: #ccc;
  border-left-color: #ddf;
}
#xwikirightstable td,
#xwikirightstable tr {
  border-color: #ddd;
}
.article_footer {
  color: #777;
  border-color: #777;
}
.xwikiuserblog .rssfeed {
  border-top-color: #ddd;
  border-left-color: #ddd;
  border-bottom-color: #eee;
  border-right-color: #eee;
}
.rsschanneltitle {
  background-color: transparent;
}
/*
------------------------------------------------------------
*/

#panelEditorSteps {
  margin-left: -5px;
  margin-right: -5px;
  border-bottom: 1px solid #ddd;
}
#panelEditorSteps li {
  background-color: transparent;
  border: none;
}
#panelEditorSteps li.active {
  background-color: transparent;
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
#panelEditorSteps li.active a,
#panelEditorSteps a:hover {
  color: #369 !important;
}
#panelEditorSteps li a {
  color: #aaa !important;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
