#set($additionalButtons = '')
#set($force = $!request.get('force'))
#set($isEditorBlocked = (($tdoc.getLocked()==true)&&(!$force)))
#set($editLevel = $services.rightsAccess.getEAccessLevel($xcontext.action))
#set($hasEditRights = $services.rightsAccess.hasAccessLevel($doc.documentReference, $editLevel) || $isSuperAdmin)
#if(!$hasEditRights)
  $response.setStatus(403)
  #set($editorBlockerMessage = "$msg.get('notallowed')")
#elseif ($isEditorBlocked)
  $response.setStatus(423)
  #set($newquerystring = "$!{request.getQueryString().replaceAll('&', '&amp;').replaceAll('&amp;amp;', '&amp;')}&amp;force=1")
  #set($editorBlockerMessage = "$msg.get('doclockedby') $xwiki.getUserName($doc.getLockingUser())")
  #if($isAdmin)
    #set($forceEditURL = $doc.getURL($xcontext.action, ${newquerystring}))
    #set($additionalButtons = "<a class=${Q}celbutton forcelock${Q} href=${Q}${forceEditURL}${Q}>$msg.get('forcelock')</a>")
  #end
#end
#set($isShowEditorBlocker = ("$!editorBlockerMessage" != ''))
#if($isShowEditorBlocker)
<div id="tabMenuPanel" style="position:absolute; z-index:99; top:40%; width:${menuPanelWidth}px">
  <div class="layoutsection celementsEditorBlocker">
  #xwikimessageboxstart($adminMsg.get('notice') "$!editorBlockerMessage")
  #if($isAdmin && ("$!exception" != ''))
    <div class="cel_exception">
    $!exception
    </div>
  #end
  <div class="celButtons">
  <a class="celbutton cancel" href="$doc.getURL('view')">$adminMsg.get('cancel')</a>
#if($additionalButtons)
$!additionalButtons
#end
  </div>
  #xwikimessageboxend()
  </div>
</div>
#end