#set($Q ='"')##
#set($celCMIdClassName = "$!request.celCMIdClassName")##
#if("$!celCMIdClassName" == '')
$services.contextMenu.getAllContextMenuCSSClassesAsJSON()
#else
#set($cmiBuilder = $services.contextMenu.getContextMenuBuilder())
$cmiBuilder.addElementsCMforClassNames($request.cmiByElements)
$cmiBuilder.getCMIjson()
#end
$response.setStatus(200)