/**********************************************
  Gallery (fromm version)
**********************************************/


a.celements_gallery_link_slideshow {
  display: block;
}

.celements_gallery_overview img {
  margin: 10px 13px 10px 0px;
}

.celements_gallery_left img {
  margin: 0px;
}

.celements_galleries .celements_gallery_overview {
  padding: 5px 0px 10px 0px;
  height: auto;
  display: block;
}
.celements_show_pic {
  margin: -12px -60px -6px -25px;
  padding: 0px;
  background-color: white;
}

.celements_gallery_left {
  width: 190px;
  margin:0px;
  padding: 0px;
  display: inline;
  float: left;
}

.celements_gallery_right {
  width: auto;
  margin: 0px;
  padding: 0px;
  display: block;
  float: none;
  padding-left: 15px;
}

.celements_gallery_right p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.celements_gallery_overview p.celements_gallery_description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.celements_gallery_clear {
  clear:both;
}

.celements_gallery_link img{
  border: 0px;
}

.celements_gallery_title {
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.celements_gallery_title a{
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 15px;
}

.celements_gallery_overview .celements_gallery_thumbnail {
  display: block;
  float: none;
}

.celements_gallery_overview .celements_gallery_thumbnail span.celements_gallery_link,
.celements_gallery_overview .celements_gallery_thumbnail a:hover,
.celements_gallery_overview .celements_gallery_thumbnail a:visited {
  display: block;
  width: auto;
  height: auto;
  margin: 0px;
}
.celements_gallery_overview p.galleryDescription{
  display:none;
}
.celements_gallery_right p{
  display:none;
}
.celements_gallery_right p.galleryOverviewDescription{
  margin-bottom:3px;
  margin-top:3px;
  display:block;
} 
.thumb_element{
  position:relative;
  float:left;
  margin-left:10px;
  margin-bottom:10px;
}
.celements_gallery_overview img{
  border:none;
}
.celements_gallery_overview img:hover{
  border:none;
}

