<div id="recylceBinAttachmentList">
<h1>Attachment Recycle Bin ##
#if($xwiki.hasAdminRights())
#set($allDeletedAttachments = $services.celementsweb.getDeletedAttachments())
#if($allDeletedAttachments.size() > 0)
($allDeletedAttachments.size() documents)</h1>
#set($dateFormat = 'yyyy MMMM d, HH:mm')
  #set($deletedAttachments = $xwiki.search('select count(datt.id) from DeletedAttachment as datt').get(0))
  #if($deletedAttachments == 0)

    {{info}}$adminMsg.get('xe.index.trash.attachments.empty'){{/info}}

  #else
  #macro(displayDeletedAttachment $id $oddEven)
    #set($datt = $xwiki.getDeletedAttachment("$id"))
    #set($originalAttachment = $datt.getAttachment())
    #set($originalDocument = $xwiki.getDocument($datt.docName))
    <tr class="tr_${oddEven}">
      <td><a href="$originalDocument.getAttachmentRevisionURL($originalAttachment.filename, $originalAttachment.version, "rid=${datt.id}").replaceAll('&', '&amp;')">$datt.filename</a></td>
      <td><a href="$originalDocument.getURL()">$originalDocument.displayTitle (${originalDocument.fullName})</a></td>
      <td>$xwiki.formatDate($datt.getDate(), $dateFormat)</td>
      <td>$xwiki.getLocalUserName($datt.getDeleter())</td>
      <td class="itemActions">
        #if($datt.canDelete())
          <a href="${originalDocument.getAttachmentURL($datt.filename, 'delattachment', "trashId=${datt.id}&amp;xredirect=$util.encodeURI($!request.getRequestURI())?$util.encodeURI($!request.getQueryString())")}" class="tool delete" title="$adminMsg.get('xe.index.trash.attachments.actions.delete.tooltip')">$adminMsg.get('xe.index.trash.attachments.delete.text')</a>
        #end
      </td>
    </tr>
  #end
##
  <table id="searchResults" class="xwiki-livetable xwiki-livetable-display">
    <thead class="xwiki-livetable-display-header"><tr>
      <th scope="col" class="xwiki-livetable-display-header-text selected asc">$adminMsg.get('xe.index.trash.attachments.datt.filename')</th>
      <th scope="col" class="xwiki-livetable-display-header-text">$adminMsg.get('xe.index.trash.attachments.datt.docName')</th>
      <th scope="col" class="xwiki-livetable-display-header-text">$adminMsg.get('xe.index.trash.attachments.datt.date')</th>
      <th scope="col" class="xwiki-livetable-display-header-text">$adminMsg.get('xe.index.trash.attachments.datt.deleter')</th>
      <th scope="col" class="xwiki-livetable-display-header-text">$adminMsg.get('xe.index.trash.attachments.actions')</th>
    </tr></thead>
    <tbody class="xwiki-livetable-display-body">
    #foreach($item in $allDeletedAttachments)
      #if($velocityCount % 2 == 1)
        #set($oddEven = "odd")
      #else
        #set($oddEven = "even")
      #end
      #displayDeletedAttachment($item $oddEven)
    #end
    </tbody>
  </table>
  #end ## deletedAttachments != 0
#else
</h1>
<p>
##TODO move to dictionary
Everything's clean. No trashed attachment found.
</p>
#end
#else
</h1>
<p>You need to be an admin to view the attachment recycle bin.</p>
#end
</div>