#if("$!request.query" == '1')
<script type="text/javascript">
  var responseDomain = window.location.search.replace(/^.*[&\?]domain=(.*?)(&.*)?$/g, '$1');
  var msgDoc = window.location.search.replace(/^.*[&\?]msgDoc=(.*?)(&.*)?$/g, '$1');
  var cookieName = "CelementsTestThirdPartyCookieEnabled";
  document.cookie = cookieName + "=yes;";
  if(document.cookie.indexOf(cookieName + "=yes") > -1) {
    var date = new Date();
    date.setTime(date.getTime()+(-1*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = cookieName + "=no" + expires;
    msgDoc = 'allowed';
  }
  var locSearch = window.location.search;
  if(locSearch.match(/[&\?]messageURL=http/)) {
    var loc = locSearch.replace(/^.*[&\?]messageURL=(.*?)(&.*)?$/g, '$1');
    var decodedLoc = decodeURIComponent(loc);
    if(decodedLoc.indexOf('?') > -1) {
      decodedLoc += '&';
    } else {
      decodedLoc += '?';
    }
    decodedLoc += 'response=1&msgDoc=' + msgDoc;
    var responseFrame = new Element('iframe', { src:  });
    $(document.body).insert(responseFrame);
  } else {
    var failMsg = 'Third party cookie enabled check failed.';
    alert(failMsg);
    console.log(failMsg);
  }
</script>
#elseif("$!request.response" == '1')
<script type="text/javascript">
  var msgDoc = window.location.search.replace(/^.*[&\?]msgDoc=(.*?)(&.*)?$/g, '$1');
  document.cookie = 'checkCookiesEnambledResponse=' + msgDoc;
</script>
#end