#if("$!request.query" == '1')
  $celementsweb.addExtJSfileOnce(':celJS/celCookiesEnabled/cookiesEnabledQuery.js', 'file') 
#elseif("$!request.response" == '1')
  $celementsweb.addExtJSfileOnce(':celJS/celCookiesEnabled/cookiesEnabledResponse.js', 'file')
#end