$jsonBuilder.openProperty('celmeta')
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('language', "$language")
$jsonBuilder.addStringProperty('admin-language', "$admin_language")
$jsonBuilder.closeDictionary()
## jquery.formater
$jsonBuilder.openProperty('jqueryFormater')
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('monthsFull')
$jsonBuilder.openArray()
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_january')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_february')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_march')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_april')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_may')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_june')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_july')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_august')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_september')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_october')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_november')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsFull_december')")
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('monthsShort')
$jsonBuilder.openArray()
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_january')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_february')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_march')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_april')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_may')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_june')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_july')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_august')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_september')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_october')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_november')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_monthsShort_december')")
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('daysFull')
$jsonBuilder.openArray()
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_sunday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_monday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_tuesday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_wednesday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_thursday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_friday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysFull_saturday')")
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('daysShort')
$jsonBuilder.openArray()
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_sunday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_monday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_tuesday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_wednesday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_thursday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_friday')")
$jsonBuilder.addString("$!adminMsg.get('cel_date_formater_daysShort_saturday')")
$jsonBuilder.closeArray()
$jsonBuilder.closeDictionary()

