<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile('celJS/yui/assets/skins/sam/container.css', 'file')" />
<link rel="stylesheet" type="text/css" href="$services.celementsweb.getSkinFile('celJS/yui/assets/skins/sam/button.css', 'file')" />
#if($lazyloadJS)
<div style='display: none;'>
  <span class='cel_lazyloadJS'>celJS/yui/utilities/utilities.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/dom/dom-min.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/yahoo-dom-event/yahoo-dom-event.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/animation/animation-min.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/dragdrop/dragdrop-min.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/element/element-min.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/button/button-min.js</span>
  <span class='cel_lazyloadJS'>celJS/yui/container/container-min.js</span>
</div>
#else
  #set($extJsParamDefer = $!jsService.createExtJSParam().setAction('file').setLoadMode('defer'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/utilities/utilities.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/dom/dom-min.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/yahoo-dom-event/yahoo-dom-event.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/animation/animation-min.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/dragdrop/dragdrop-min.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/element/element-min.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/button/button-min.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/yui/container/container-min.js'))
#end