$services.celementsweb.displayImageMapConfigs()
#set($isAjaxCall = ("$!request.ajax" == '1'))
#if(!$isAjaxCall)
$celementsweb.addExtJSfileOnce(':celJS/initCelementsAfter.js', 'file')
$!services.metatag.collectBodyTags()
$!services.metatag.displayCollectedMetaTags()
</body>
</html>
#end
