## finaliseHeader
## finalise header adds tags which may overwrite defaults with user settings
## and therefor need to be addded last.
##
## INPUT(optional) : $stylesheet_space (default: $doc.space)
## INPUT(optional) : $after_skin_cssdoc (default: '')
##
#if(!$finaliseHeaderRUN) ## prevent from being run twice and allow lacy calls.
$xwiki.celementsweb.displayAllCSS()
## get DocumentSpecific Meta-Tag
#set($metaTags = $celementsweb.getDocMetaTags($language, $default_language))
#foreach($metaTagKey in $metaTags.keySet())
#if("$metaTagKey" == 'refresh')
#set($attributName = 'http-equiv')
#else
#set($attributName = 'name')
#end
<meta $attributName="$metaTagKey" content="$metaTags.get($metaTagKey)" />
#end
<!-- 
    This website is powered by celements.web - inspiring people to share!
    celements.web is a free open source Content Management System based on the popular xwiki platform and licensed under LGPL.
    celements.web is copyright 2005-2011 of synventis gmbh. Extensions are copyright of their respective owners.
    Information and contribution at http://celements.ch/ and http://synventis.com/
-->
<meta name="generator" content="celements.web" />
#set($finaliseHeaderRUN = true)
#end
