## finaliseCelementsDocumentHeader
## finalise the Celements Document Header part (XHTML <head>-part)
## INPUT: 
## OUTPUT: 
##
#if(!$finaliseCelementsDocumentHeaderRUN) ## prevent from being run twice and allow lacy calls.
  $xwiki.parseTemplate("celMacros/loadAdminInterface.vm")
  $xwiki.parseTemplate("celMacros/finaliseHeader.vm")
#if("$celementsweb.getVersionMode()" == "celements3")
#if("$!cel_loadAdminMenuBar" == '')
##<!-- celmenubar : $services.celMenu.getMenuHeaders().size() ,## 
###foreach($menu in $services.celMenu.getMenuHeaders())
##$menu.name ; ##
###end
## -->
#set($cel_loadAdminMenuBar = ("$context.action" != 'edit') && ("$context.action" != 'inline') && ("$!doc.space" != "Celements2") && ("$!request.picker" != '1') && ("$!doc.fullName" != 'Tools.EditBanner'))
#set($cel_loadAdminMenuBar = ($isContentEditor || $isAdmin || ($services.celMenu.getMenuHeaders().size() > 0)) && $cel_loadAdminMenuBar)
#end
#else
$xwiki.parseTemplate("celMacros/loadRTE.vm")
#end
#set($finaliseCelementsDocumentHeaderRUN = true)
#end