## finaliseCelementsDocumentHeader
## finalise the Celements Document Header part (XHTML <head>-part)
## INPUT: 
## OUTPUT: 
##
#set($cel_useInlineEditorMode = $services.pageType.getPageTypeConfig($page_type).useInlineEditorMode())
#set($cel_isEditMode = (("$context.action" == 'edit') || ("$context.action" == 'inline')))
#if(!$finaliseCelementsDocumentHeaderRUN) ## prevent from being run twice and allow lacy calls.
  #parse("celMacros/loadAdminInterface.vm")
  #parse("celMacros/finaliseHeader.vm")
#if("$!cel_loadAdminMenuBar" == '')
##<!-- celmenubar : $services.celMenu.getMenuHeaders().size() ,## 
###foreach($menu in $services.celMenu.getMenuHeaders())
##$menu.name ; ##
###end
## -->
<script type="text/javascript">
  window.celFinishHeaderHandler();
</script>
#set($cel_loadAdminMenuBar = (!$cel_isEditMode && ("$!doc.space" != "Celements2") && ("$!request.picker" != '1') && ("$!doc.fullName" != 'Tools.EditBanner')))
#set($cel_loadAdminMenuBar = $cel_loadAdminMenuBar && ($isContentEditor || $isAdmin || ($services.celMenu.getMenuHeaders().size() > 0)))
#set($cel_loadAdminMenuBar = ($cel_loadAdminMenuBar || $cel_useInlineEditorMode))
#end
#set($finaliseCelementsDocumentHeaderRUN = true)
#end