$services.celementsweb.displayImageMapConfigs()
#set($isAjaxCall = ("$!request.ajax" == '1'))
#if(!$isAjaxCall)
$!services.metatag.collectBodyTags()
$!services.metatag.displayCollectedMetaTags()
</body>
</html>
#end
