## finaliseHeader
## finalise header adds tags which may overwrite defaults with user settings
## and therefor need to be addded last.
##
## INPUT(optional) : $stylesheet_space (default: $doc.space)
## INPUT(optional) : $after_skin_cssdoc (default: '')
##
#if(!$finaliseHeaderRUN) ## prevent from being run twice and allow lacy calls.
## Hook for inserting CSS skin extensions
<!-- com.xpn.xwiki.plugin.skinx.CssSkinExtensionPlugin -->
<!-- com.xpn.xwiki.plugin.skinx.CssSkinFileExtensionPlugin -->
$xwiki.celementsweb.displayAllCSS()
## get DocumentSpecific Meta-Tag - as of yet refresh can not be handled by BaseObjectMetaTagProvider because of different attribute name.
#set($metaTags = $celementsweb.getDocMetaTags($language, $default_language))
#foreach($metaTagKey in $metaTags.keySet())
#if("$metaTagKey" == 'refresh')
#set($attributName = 'http-equiv')
#set($propertyNameVal = '')
<meta $!{propertyNameVal}$attributName="$metaTagKey" content="$metaTags.get($metaTagKey)" />
#end
#end
<!--
    This website is powered by open-celements - inspiring people to share!
    open-celements is a free open source Content Management System based on the popular xwiki platform and licensed under LGPL.
    open-celements is copyright 2005-2017 of synventis gmbh. Extensions are copyright of their respective owners.
    Information and contribution at http://www.open-celements.org/
-->
<meta name="generator" content="celements.web" />
#set($finaliseHeaderRUN = true)
#end
