## includeDefaultHeader
## include standard title- and meta-tags for the HTML header.
## INPUT (optional): $charEncoding
## OUTPUT:
##
#if("$!charEncoding" == '')##
  #set($charEncoding = "$xwiki.encoding")##
#end
#set($layoutApi = $services.layout.getPageLayoutApiForDocRef($doc.getDocumentReference()))##
#if(("$!layoutApi" != '') && ("$!layoutApi.getHTMLType().name()" == 'HTML5'))##
$!services.metatag.getCharsetMetaTag("$!charEncoding").display()
#else
$services.metatag.addMetaTagToCollector('http-equiv', 'Content-Type', "text/html; charset=$!charEncoding")
#end
$!xwiki.getSpacePreference("meta")
#if($services.celementsweb.hasGoogleAnalytics())
  $services.metatag.addMetaTagToCollector('name', 'cel-GAA-Num', "$services.celementsweb.getGoogleAnalytics()")
#end
$!services.metatag.displayCollectedMetaTags()## cel-GAA-Num is needed in initCelements.min.js while loading
<title>##
$services.celementsweb.getDocHeaderTitle($doc.documentReference)##
</title>
#set($layoutName = $services.layout.getPageLayoutForDoc($doc.documentReference))##
#set($layoutWebHomeDoc = '')##
#if("$!layoutName" != '')##
#set($layoutWebHomeRef = $services.model.createDocumentReference('', $layoutName, 'WebHome'))##
#set($layoutWebHomeDoc = $services.modelAccess.getDocument($layoutWebHomeRef))##
#end
#set($webprefDocRef = $services.model.createDocumentReference('', "${doc.space}", "WebPreferences"))##
#set($webprefDoc = $services.modelAccess.getDocument($webprefDocRef))##
#set($xwikiprefDocRef = $services.model.createDocumentReference('', "XWiki", "XWikiPreferences"))##
#set($wikiprefDoc = $services.modelAccess.getDocument($xwikiprefDocRef))##
#if(("$!layoutWebHomeDoc" != '') && ("$!layoutWebHomeDoc.getAttachment('favicon.ico')" != ''))##
<link rel="shortcut icon" href="$layoutWebHomeDoc.getAttachmentURL('favicon.ico','file')" type="image/x-icon"/>
#elseif("$!webprefDoc.getAttachment('favicon.ico')" != '')##
<link rel="shortcut icon" href="$webprefDoc.getAttachmentURL('favicon.ico','file')" type="image/x-icon"/>
#elseif("$!wikiprefDoc.getAttachment('favicon.ico')" != '')##
<link rel="shortcut icon" href="$wikiprefDoc.getAttachmentURL('favicon.ico','file')" type="image/x-icon"/>
#elseif("$!skin_doc.getAttachment('favicon.ico')" != '')##
<link rel="shortcut icon" href="$skin_doc.getAttachmentURL('favicon.ico','file')" type="image/x-icon"/>
#elseif($xwiki.getSkinFile('skinRes/favicon.ico', true).contains('/resources/'))##
<link rel="shortcut icon" href="$xwiki.getSkinFile('skinRes/favicon.ico', true)" type="image/x-icon"/>
#end
##TODO add reset CSS
## always load celements.css to prevent unequal behaviour if logged in or not
$services.css.includeCSSPage(':celRes/celements2.css')##
$services.css.includeCSSPage(':celRes/login.css')##
#set($jsService = $services.javascript)
#set($extJsParamSync = $!jsService.createExtJSParam().setAction('file'))
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/prototype.js'))##
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/jquery.min.js'))##
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/jquery.min.js'))##
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/jquery-noconflict.js'))##
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/initCelements.min.js'))##
#if($xwiki.getXWikiPreferenceAsInt("cel_activate_jsdefer", 0) == 1)##
  #set($jsLoadModeDefer = $!jsService.getJsLoadMode("DEFER"))
  #set($extJsParamDefer = $!jsService.createExtJSParam().setAction('file').setLoadMode($jsLoadModeDefer))
#else
  #set($extJsParamDefer = $extJsParamSync)
#end
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/mobile/MobileSupport.js'))##
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/scriptaculous/effects.js'))##
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/validation.js'))##
#if($xwiki.getXWikiPreferenceAsInt("cel_disable_swfobject", 0) == 0)##
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/SWFObject-2.2/swfobject.js'))##
#end
##
$services.css.includeCSSPage(':celJS/bootstrap/bootstrap-multiselect.css')##
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/bootstrap/bootstrap.min.js'))##
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/bootstrap/bootstrap-multiselect.js'))##
##
$services.css.includeCSSPage(':celJS/jquery-datetimepicker/2.5/jquery.datetimepicker.min.css')##
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/jquery-datetimepicker/2.5/jquery.datetimepicker.full.min.js'))##
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/dateTimePicker/generateDateTimePicker.js'))##
##
#if($services.celementsphoto.useImageAnimations())##
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/yui/yahoo-dom-event/yahoo-dom-event.js'))##
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/highslide/highslide-full.min.js'))##
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/celanim/overlaySlide.js'))##
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/celanim/slideshow.js'))##
  $services.css.includeCSSAfterSkin(':celJS/highslide/highslide.css')##
  $services.css.includeCSSAfterSkin(':celRes/images/slideshow.css')##
  $services.css.includeCSSAfterSkin(':celRes/celanim/overlay.css')##
  #if($xwiki.getSpacePreferenceAsInt('celNewImageGallery', 0) == 1)##
    ##new image gallery slideshow
    $!services.javascript.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/yui/element/element-min.js'))##
    $!services.javascript.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/yui/button/button-min.js'))##
    $!services.javascript.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/yui/container/container-min.js'))##
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/celpresentation/celYuiOverlay.js'))##
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/celpresentation/CelementsSlideShow.js'))##
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/images/galleryClass.js'))##
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/images/SlideShowAnimation.js'))##
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/images/imageSlideShow.js'))##
    $services.css.includeCSSAfterSkin(':celJS/yui/container/assets/skins/sam/container.css')##
    $services.css.includeCSSAfterSkin(':celJS/yui/button/assets/skins/sam/button.css')##
    $services.css.includeCSSAfterSkin(':celRes/galleryYuiOverlay.css')##
  #end
#end
#if(("$!celementsLoadInOverlay" != '') && $overlayWithResize)##
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/adminUi/overlayResize.js'))##
#end
$!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/initCelementsAfter.js'))##
$!services.javascript.getAllExternalJavaScriptFiles()
##
## Hooks for inserting JavaScript skin extensions
##
## - Skin file extension hook. Placed first since skin extensions might need to have xwiki or external libraries included first to be able to work properly
<!-- com.xpn.xwiki.plugin.skinx.JsSkinFileExtensionPlugin -->
## - Skin extension hook
<!-- com.xpn.xwiki.plugin.skinx.JsSkinExtensionPlugin -->
##
