$services.javascript.addLazyExtJSfile(":celRTE/tiny_mce_src.js?version=${services.celements.getLastStartupTimeStamp()}", "file")
$services.javascript.addLazyExtJSfile(":celJS/celTabMenu/loadTinyMCE-async.js", "file")
