## includeDefaultHeader
## include standard title- and meta-tags for the HTML header.
## INPUT (optional): $charEncoding 
## OUTPUT: 
##
<title>##
$celementsweb.getDocHeaderTitle($doc.fullName)##
</title>
$!xwiki.getSpacePreference("meta")
#if("$!charEncoding" == '')
  #set($charEncoding = "$xwiki.encoding")
#end
<meta http-equiv="Content-Type" content="text/html; charset=$!charEncoding" />
#set($webprefDoc = $xwiki.getDocument("${doc.space}.WebPreferences"))
#set($wikiprefDoc = $xwiki.getDocument("XWiki.XWikiPreferences"))
#if("$!webprefDoc.getAttachment('favicon.ico')" != '')
<link rel="shortcut icon" href="$webprefDoc.getAttachmentURL('favicon.ico','skin')" type="image/x-icon"/>
#elseif("$!wikiprefDoc.getAttachment('favicon.ico')" != '')
<link rel="shortcut icon" href="$wikiprefDoc.getAttachmentURL('favicon.ico','skin')" type="image/x-icon"/>
#elseif("$!skin_doc.getAttachment('favicon.ico')" != '')
<link rel="shortcut icon" href="$skin_doc.getAttachmentURL('favicon.ico','skin')" type="image/x-icon"/>
#elseif($xwiki.getSkinFile('skinRes/favicon.ico', true).contains('/resources/'))
<link rel="shortcut icon" href="$xwiki.getSkinFile('skinRes/favicon.ico', true)" type="image/x-icon"/>
#end
## always load celements.css to prevent unequal behaviour if logged in or not
$celementsweb.includeCSSPage(':celRes/celements2.css')
$celementsweb.includeCSSPage(':celRes/login.css')
$celementsweb.addExtJSfileOnce(':celJS/prototype.js')
$celementsweb.addExtJSfileOnce(':celJS/jquery.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/jquery-noconflict.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/initCelements.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/scriptaculous/effects.js')
$celementsweb.addExtJSfileOnce(':celJS/validation.js')
$celementsweb.addExtJSfileOnce(':celJS/SWFObject-2.2/swfobject.js', 'file')
#if($celementsweb.useImageAnimations())
$celementsweb.addExtJSfileOnce(':celJS/yui/yahoo-dom-event/yahoo-dom-event.js')
$celementsweb.addExtJSfileOnce(':celJS/highslide/highslide-full.min.js')
$celementsweb.addExtJSfileOnce(':celJS/celanim/overlaySlide.js')
$celementsweb.addExtJSfileOnce(':celJS/celanim/slideshow.js')
$celementsweb.includeCSSAfterSkin(':celJS/highslide/highslide.css')
$celementsweb.includeCSSAfterSkin(':celRes/celanim/slideshow.css')
$celementsweb.includeCSSAfterSkin(':celRes/celanim/overlay.css')
#if($xwiki.getSpacePreferenceAsInt('celNewImageGallery', 0) == 1)
##new image gallery slideshow
$!celementsweb.addExtJSfileOnce(':celJS/yui/element/element-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/button/button-min.js', 'file')
$!celementsweb.addExtJSfileOnce(':celJS/yui/container/container-min.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/celpresentation/celYuiOverlay.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/celpresentation/CelementsSlideShow.js', 'file')
$celementsweb.addExtJSfileOnce(':celJS/images/imageSlideShow.js', 'file')
#end
#end
$!celementsweb.getAllExternalJavaScriptFiles()
#if(("$!celementsLoadInOverlay" != '') && $overlayWithResize)
  $celementsweb.addExtJSfileOnce(':celJS/adminUi/overlayResize.js')
#end
##
## Hooks for inserting JavaScript skin extensions
##
## - Skin file extension hook. Placed first since skin extensions might need to have xwiki or external libraries included first to be able to work properly
<!-- com.xpn.xwiki.plugin.skinx.JsSkinFileExtensionPlugin -->
## - Skin extension hook
<!-- com.xpn.xwiki.plugin.skinx.JsSkinExtensionPlugin -->
##
