#if("$!lazyAdd" == '')
  #set($lazyAdd = true)
#end
#set($jsService = $services.javascript)
#set($extJsParamSync = $!jsService.createExtJSParam().setAction('file').setLazyLoad($lazyAdd))
#foreach($jsFile in $services.rteconfig.rteImplementation.javaScriptFiles)
  $!jsService.includeExtJsFile($extJsParamSync.setJsFile($jsFile))
#end
