## loadAdminInterface
## loads the header parts needed to enable the Celements AdminInterface and
## the contextMenu
##
## decide if contextmenu must be loaded
#set($cel_loadContextMenu = ($isContentEditor || $isAdmin || ($services.celMenu.getMenuHeaders().size() > 0)) && ("$context.action" != 'edit') && ("$context.action" != 'inline') && ("$!supress_ContextMenu" != '1'))

#if($hasedit || $isContentEditor || $isAdmin || ($services.celMenu.getMenuHeaders().size() > 0))
  #set($jsService = $services.javascript)
  #set($jsLoadModeDefer = $!jsService.getJsLoadMode("DEFER"))
  #set($extJsParamDefer = $!jsService.createExtJSParam().setAction('file').setLoadMode($jsLoadModeDefer))
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/moofx/moo.fx.js'))
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/moofx/moo.fx.utils.js'))
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/adminUi/admininterface.js'))
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/layoutSupport/Outliner.js'))
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':layouts/layoutEditor/outlineCells.js'))
  #if($cel_loadContextMenu)
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/contextMenu/contextmenu-hover.js'))
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/contextMenu/contextmenu.js'))
  #end
##   $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/validation.js') ## always loaded in includeDefaultHeader.vm
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/adminUi/menubar.js'))
  $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/supportLink/supportLink.js'))
## keep the following if async with the one in celMacros/startCelementsBody.vm to load getTabMenu!!
  #if($cel_isEditMode && !$cel_useInlineEditorMode)
    #parse("celMacros/DarkBox.vm")
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/celTabMenu/TabEditor.js'))
    $!jsService.includeExtJsFile($extJsParamDefer.setJsFile(':celJS/celTabMenu/celementsTabMenu.js'))
    $!services.css.includeCSSPage(':celRes/celTabMenu/tabMenu.css')
    #set($skinBodyAttributes = "$!{skinBodyAttributes}style='overflow:hidden;'")
    #set($HTMLBodyCSSClasses = "$!{HTMLBodyCSSClasses} celementseditmode")
    #set($HTMLBodyCSSClasses = $HTMLBodyCSSClasses.trim())
  #end
#end
