#if("$!rteHasTitle" == '')
  #set($rteHasTitle = $celementsweb.getPageType($doc.fullName).hasPageTitle())
#end
#if("$!tinyMCE_height" == '')
  #set($tinyMCE_height = 500)
#end
#if("$!tinyMCE_width" == '')
  #set($tinyMCE_width = 590)
#end
#if("$!request.xredirect" != '')
  #set($cel_tiny_xredirect = "$!request.xredirect")
  #set($cel_tiny_cancel_inurl = "xredirect=$!cel_tiny_xredirect")
  #set($cel_tiny_cancel = $doc.getURL('cancel', "$cel_tiny_cancel_inurl"))
#else
  #set($cel_tiny_cancel = $doc.getURL('cancel'))
  #set($cel_tiny_cancel_inurl = '')
  #set($cel_tiny_xredirect = '')
#end
#set($contextPath = ${request.contextPath})
#parse("celMacros/includeCelementsRTE.vm")

<div id="con_titblock" class="titleblock">
#if($doc.isNew())
$adminMsg.get('cel_tm_rte_create')
#else
$adminMsg.get('cel_tm_rte_edit')
#end
</div><!-- IE6 -->

#parse("celMacros/includeRTELanguageSelect.vm")

#set($celNewButtons = $services.celementsweb.useNewButtons())
#if($celNewButtons)
  <form id="contentEdit" method="post" action="?">
    <input type="hidden" name="xpage" value="celements_ajax" />
    <input type="hidden" name="ajax_mode" value="saveDocumentWithValidation" />
    ##TODO if translation or document does not exist, ask user if it should be created.
    <input type="hidden" name="createIfNotExists" value="true" />
#else
  <form id="contentEdit" method="post" action="$doc.getURL("save")">
#end
    <input type="hidden" name="update" value="1" />
    <input type="hidden" name="tab" value="tb1" />
##	    <input type="hidden" name="template" value="$!doc.getTemplate()" />
      <input type="hidden" name="template" value="$!request.template" />
	    <input type="hidden" id="formeditxred" name="xredirect" value="$!cel_tiny_xredirect" />
	    <input type="hidden" name="language" value="$!language" />
<!-- FIX? : $tdoc.fullName , $tdoc.language -->
#if($rteHasTitle)
<div id="con_titleEdit" class="editblock">$adminMsg.get('cel_tm_title'):
    <input id="pagetitle" name="title" class="fullwidth" value="$!xwiki.getFormEncoded($!tdoc.getTitle())" type="text">
</div>
#end
<div id="con_contentEdit" class="editblock">
		<textarea class="mceEditor" name="content">$xwiki.getXMLEncoded($tdoc.content)</textarea>
</div>
	</form>

<div class="yui-skin-sam">
	<div id="cancelDialog" style="visibility:hidden;height:0px;"> 
		<div class="hd">$adminMsg.get("cel_rte_howto_proceed")</div> 
		<div class="bd">
			<form> 
 	            <div class="clear"></div> 
	            <input id="rte_save_option" type="checkbox" name="save_option" value="1" />
	            <label for="save_option" style="font-size:7pt">$adminMsg.get("cel_rte_always_perform_option") ($adminMsg.get("cel_rte_editable_in_user_prefs"))</label>
	        </form>
	    </div>
		<div class="ft"></div> 
	</div>
</div>