## loadBackend
## loads the header parts needed to enable the Celements AdminInterface
##
#if($hasedit || $isContentEditor || $isAdmin || ($services.celMenu.getMenuHeaders().size() > 0))
  #set($jsService = $services.javascript)
  #set($extJsParamDefer = $!jsService.createExtJSParam().setAction('file').setLoadMode('defer'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/moofx/moo.fx.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/moofx/moo.fx.utils.js'))
##  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/adminUi/div.js'))
##  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/adminUi/aspects.js'))
##  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/adminUi/window.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/adminUi/admininterface.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/layoutSupport/Outliner.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':layouts/layoutEditor/outlineCells.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/contextMenu/contextmenu-hover.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/contextMenu/contextmenu.js'))
##   $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/validation.js') ## always loaded in includeDefaultHeader.vm
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/adminUi/menubar.js'))
  $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/supportLink/supportLink.js'))
## keep the following if async with the one in celMacros/startCelementsBody.vm to load getTabMenu!!
  #if($cel_isEditMode && !$cel_useInlineEditorMode)
    #parse("celMacros/DarkBox.vm")
    $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/celTabMenu/TabEditor.js'))
    $!jsService.addExtJSfileOnce($extJsParamDefer.setJsFile(':celJS/celTabMenu/celementsTabMenu.js'))
    $celementsweb.includeCSSPage(':celRes/celTabMenu/tabMenu.css')
    #set($skinBodyAttributes = "$!{skinBodyAttributes}style='overflow:hidden;'")
    #set($HTMLBodyCSSClasses = "$!{HTMLBodyCSSClasses} celementseditmode")
    #set($HTMLBodyCSSClasses = $HTMLBodyCSSClasses.trim())
  #end
#end