#if($xwiki.hasAdminRights())
  #set($url = $services.url.getURL($doc.documentReference, 'view', 'xpage=overlay&conf=MaintenanceHelper'))
  <div id="maintenanceHelper">
    <h1>Helper for maintenance tasks</h1>
    <p>
    <a href="$url&flushCache=true">Flush MenuItem Cache</a>
    #if("$!request.flushCache" == 'true')
      $services.celementsweb.flushMenuItemCache() done.
    #end
    </p><p>
    <a href="$url&checkClasses=true">Check Celements Classes</a>
    #if("$!request.checkClasses" == 'true')
      $services.celementsweb.checkClasses() done.
    #end
    </p><p>
    <a href="$url&checkMandatoryDocuments=true">Check Celements Mandatory Documents</a>
    #if("$!request.checkMandatoryDocuments" == 'true')
      $services.celementsweb.checkMandatoryDocuments() done.
    #end
    </p>
    <p><a href="$url&lucene=true">Check Lucene Status</a></p>
    #if("$!request.lucene" == 'rebuild')
      #if    ("$!request.mode" == 'local') #set($rebuildStart = $services.lucene.rebuildIndexForWikiBySpace($null))
      #elseif("$!request.mode" == 'all')   #set($rebuildStart = $services.lucene.rebuildIndexForAllWikisBySpace())
      #elseif("$!request.mode" == 'unpause') $!services.lucene.unpauseIndexRebuilder()
      #elseif("$!request.mode" == 'pause')
        #set($duration = $services.date.getDuration($mathtool.toInteger("$!request.hours"), 'hours'))
        $!services.lucene.pauseIndexRebuilder($duration)
      #end
    #end
    #if("$!request.lucene" != '')
    <p>
      Doc Count: $!services.lucene.indexSize<br/>
      Queue Size: $!services.lucene.queueSize<br/>
      #set($rebuild = $services.lucene.runningIndexRebuild)
      #if("$!rebuild" != '')
        Index Rebuild
        #set($rebuildPaused = $services.lucene.isIndexRebuilderPaused())
        #if($rebuildPaused.isPresent())
          <b>PAUSED</b> until $rebuildPaused.get().atZone($services.date.zone)
        #else currently running ...
        #end
        <br/>$!rebuild
      #end
    </p>
    <ul>
      #if("$!rebuild" == '')
      <li><a href="$url&lucene=optimize">Optimize index</a></li>
      <li><a href="$url&lucene=rebuild&mode=local">Local Rebuild</a> (index local spaces only)</li>
      <li><a href="$url&lucene=rebuild&mode=all">Complete rebuild</a> (index all spaces in every wiki)</li>
      #elseif($rebuildPaused.isPresent())
      <li><a href="$url&lucene=rebuild&mode=unpause">Unpause</a> rebuilder</li>
      #else
      <li><a href="$url&lucene=rebuild&mode=pause&hours=1">Pause</a> rebuilder (for 1hr)</li>
      #end
    </ul>
    #end
    #if("$!request.lucene" == 'optimize')
    <p>
      #if($services.lucene.optimizeIndex()) Optimizing started.
      #else No rights for this action.
      #end
    </p>
    #elseif("$!request.lucene" == 'rebuild')
    <p>
      #if($rebuildStart >= 0) $!request.mode Rebuild started.
      #elseif($rebuildStart == -1) No rights for this action.
      #elseif($rebuildStart == -2) Rebuild already running.
      #else Rebuild $!{request.mode}d.
      #end
    </p>
    #end
  </div>
#else
You need admin rights to view the maintenance helper.
#end