#if($xwiki.hasAdminRights())
  <div id="maintenanceHelper">
    <h1>Helper for maintenance tasks</h1>
    <p>click to execute</p>
    ##flushCache
    <p>
    <a href="$doc.getURL('view', "xpage=overlay&conf=MaintenanceHelper&flushCache=true")">
        Flush MenuItem Cache
    </a>
    #if("$!request.flushCache" == 'true')
      <br/>
      $xwiki.flushCache() done.
    #end
    </p>
    ##end: flushCache
    ##checkClasses
    <p>
    <a href="$doc.getURL('view', "xpage=overlay&conf=MaintenanceHelper&checkClasses=true")">
        Check Celements Classes
    </a>
    #if("$!request.checkClasses" == 'true')
      <br/>
      $celementsweb.checkClasses() done.
    #end
    </p>
    ##end: checkClasses
    ##check lucene queue
    <p>
    <a href="$doc.getURL('view', "xpage=overlay&conf=MaintenanceHelper&checkLuceneQueue=true")">
        Check Lucene Queue
    </a>
    #if("$!request.checkLuceneQueue" == 'true')
      <br/>
      Queue Size: $xwiki.lucene.getQueueSize()<br/>
      Lucene Doc Count: $xwiki.lucene.getLuceneDocCount()<br/>
      <a href="$doc.getURL('view', "xpage=overlay&conf=MaintenanceHelper&checkLuceneQueue=rebuildNow")">
        Rebuild complete index now
      </a>
    #elseif("$!request.checkLuceneQueue" == 'rebuildNow')
      <br/>
      #set($result = $xwiki.lucene.rebuildIndex())
      #if($result == -1)
        You are missing Admin Rights!
      #elseif($result == -2)
        Rebuild already running!
      #else
        got result = $result -&gt; assuming that rebuild started...
      #end
    #end
    </p>
    ##end: check lucene queue
  </div>
#else
You need admin rights to view the maintenance helper.
#end