#if("$!request.isSubmit" == '1')
  #set($isActive = "$!request.asInactive" == '1')
  #set($result = $xwiki.celementsblog.batchImportReceivers($isActive))
  <h2>Importierte Daten:</h2>
  <table style="border: solid black 1px">
    <tr>
      <th>E-Mailadresse</th>
      <th>Status</th>
    </tr>
    #foreach($key in $result.keySet())
      <tr><td>$key</td><td>$result.get($key)</td></tr>
    #end
  </table>
  <br /><br/>
  <h2>Weitere Adressen importieren:</h2>
#end