#if("$!renderDocument" == '')
  #set($renderDocument = $doc)
#end
#if("$!renderDocumentRecursionHistory" == '')
  #set($renderDocumentRecursionHistory = '  ')
#end
#set($noRecursionFound = (${renderDocumentRecursionHistory.indexOf(" $!renderDocument.fullName ")} < 0))
#if($noRecursionFound)
 $services.celementsweb.renderCelementsDocument($renderDocument.getDocumentReference())
 #set($renderDocumentRecursionHistory = "${renderDocumentRecursionHistory}$!{renderDocument.fullName} ")
#end
##
