## INPUT resultScoreMap (Map<EntityReference, Float>)

#if("$!resultScoreMap" != '')
<div class="results">
#set($formatDate = "d. MMMM yyyy")
#set($locale = $services.celementsweb.getLocal($language))

#if("$msg.get('cel_search_results_title')" != 'cel_search_results_title')
  <h2>$msg.get('cel_search_results_title')</h2>
  <span class="cel_search_results_total">
  #set($limit = $services.lucene.getResultLimit())
  #if($resultScoreMap.size() < $limit)
    $msg.get('cel_search_results_total', [$resultScoreMap.size()])
  #else
    $msg.get('cel_search_results_total_over', [$limit])
  #end
  </span>
#end

#if($resultScoreMap.size() == 0)
  #if($xwiki.exists('Tools.WebSearch_nothingFound'))
    #set($ws_nf_content = $xwiki.getDocument("Tools.WebSearch_nothingFound").getContent())
    $xwiki.renderText("{pre}$!{ws_nf_content}{/pre}", $doc)
  #else
    $msg.get('cel_search_noresults')
  #end
#else ## resultScoreMap.size

<ul>
#foreach($resultRef in $resultScoreMap.keySet())
  #if("$!resultRef.getType()" == "DOCUMENT")
    #set($resultDoc = $xwiki.getDocument($resultRef))
    #set($pageTitle = $celementsweb.getDocHeaderTitle($resultRef))
    #set($pageLink = $xwiki.getURL($resultRef))
    #set($pageLinkExt = $resultDoc.getExternalURL())
    #set($parentDocRefList = $xwiki.celementsweb.getDocumentParentsDocRefList($resultRef, false))
    #set($resultDate = $resultDoc.getDate())
  #elseif("$!resultRef.getType()" == "ATTACHMENT")
    #set($resultAtt = $services.webUtils.getAttachment($resultRef))
    #set($pageTitle = $resultRef.getName())
    #set($pageLink = $xwiki.getAttachmentURL($services.model.serialize($resultRef.getDocumentReference()), $pageTitle))
    #set($pageLinkExt = '')
    #set($parentDocRefList = [])
    #set($resultDate = $resultAtt.getDate())
  #end
  <li class="result_item">
    #set($score = $resultScoreMap.get($resultRef))
    #set($bgcolor = 'red')
    #if($score > 0.5)
      #set($bgcolor = 'green')
    #elseif($score > 0.1)
      #set($bgcolor = 'orange')
    #end
    <span class="result_ranking_color" style="background-color: ${bgcolor};">&nbsp;</span>
    <span class="result_ranking_score" >${mathtool.roundTo(2, $mathtool.mul(100, $score))}</span>
    <a class="result_page_link" href="$pageLink">$pageTitle</a>
    #if($parentDocRefList.size() > 0)
    <span class="result_bread_crumbs"><span class="result_bread_crumbs_title">$msg.get('cel_search_breadcrumbs_title')</span>
      #foreach($parentDocRef in $util.reverseList($parentDocRefList))
        #if($velocityCount > 1)
          $msg.get('cel_search_breadcrumbs_delimiter')
        #end
        <a href="$xwiki.getURL($parentDocRef)">$celementsweb.getDocHeaderTitle($parentDocRef)</a>
      #end
    </span>
    #end
    #if("$!pageLinkExt" != '')
    <a class="result_url" href="${pageLink}">$pageLinkExt</a>
    #end
    <span class="result_date">
      $msg.get('cel_search_result_last_change'): $datetool.format($formatDate, $resultDate, $locale)
    </span>
    <div class="clearright"><!--ie--></div>
  </li>
#end ## foreach resultScoreMap
</ul>

#end ## resultScoreMap.size

</div>
#end ## resultScoreMap null check
