## Generic Celements Search
##
## INPUT (optional): $searchpackages
## INPUT (optional): $spaces
## INPUT (optional): $negSpaces (only considered if no spaces set)
## INPUT (optional): $hideForm [true|false] default: false
## INPUT (optional): $linkedDocsOnly
## INPUT (optional): $fuzzySearch [0-1] (the lower the fuzzyer) default: not fuzzy
## INPUT (optional): $pageTypes
## INPUT (optional): $negPageTypes
## INPUT (optional): $docBlackList
## INPUT (optional): $fileBaseDocRef (searchpackage attachment)
## INPUT (optional): $mimetype (searchpackage attachment)
## INPUT (optional): $filenamePrefs (searchpackage attachment)

#if("$!maxInputFieldSize" == '')
  #set($maxInputFieldSize = 20)
#end
<div id="websearch">
#if(("$!hideForm" != 'true') && ("$msg.get('cel_search_page_title')" != 'cel_search_page_title'))
  <h1>$msg.get('cel_search_page_title')</h1>
#end
#set($text = "$!request.get('text')")
#set($text = $text.trim())
## spaces
#if("$!request.get('spaces')" != '')
  #set($spaces = "$!request.get('spaces')")
  #set($spaces = $spaces.replaceAll(';', ' '))
  #set($spaces = $spaces.replaceAll(',', ' '))
#end
## negspaces
#if("$!spaces" == '')
  #set($negSpaces = "XWiki Templates Tools Celements2 Macros LocalMacros Ajax Overlay $!negSpaces")
#end
## negPageTypes
#if("$!pageTypes" == '')
  #set($negPageTypes = "Redirect $!negPageTypes")
#end
## searchpackages
#if("$!searchpackages" != '')
  #set($searchpackages = $searchpackages.split(','))
#else
  #set($searchpackages = ['content', 'menu', 'blog'])
#end
## linkedDocsOnly
#set($linkedDocsOnly = ("$!linkedDocsOnly" != 'false'))
## docBlackList
#set($docRefBlackList = [])
#if("$!docBlackList" != '')
  #foreach($docFN in $docBlackList.split(','))
    #if("$!docFN" != '')
      #set($devNull = $docRefBlackList.add($services.model.resolveDocument($docFN)))
    #end
  #end
#end

#if("$!hideForm" != 'true')
<div class="websearch_form">
<form action="$doc.getURL()">
#*    Unscharfe Suche: 
    <select name="fuzzy">
      <option#if("$!fuzzySearch" == '1') selected="selected"#end value="1">1 (exakte Suche)</option>
      <option#if("$!fuzzySearch" == '0.9') selected="selected"#end value="0.9">0.9</option>
      <option#if("$!fuzzySearch" == '0.8') selected="selected"#end value="0.8">0.8</option>
      <option#if("$!fuzzySearch" == '0.7') selected="selected"#end value="0.7">0.7</option>
      <option#if("$!fuzzySearch" == '0.6') selected="selected"#end value="0.6">0.6</option>
      <option#if("$!fuzzySearch" == '0.5') selected="selected"#end value="0.5">0.5 (standard Fuzzy)</option>
    </select><br />*#
  <input type="text" name="text" value="$xwiki.getFormEncoded($!text)" size="$!maxInputFieldSize" class="search_input">
  #if("$!spaces" != '')
    <input type="hidden" name="spaces" value="$!spaces" />
  #end
</form>
</div>
#end

#if("$!text" != "")  

#set($doctypes = [])
#if($searchpackages.contains('attachment'))
  #set($devNull = $doctypes.add('attachment'))
#end
#if(!$searchpackages.contains('attachment') || ($searchpackages.size() > 1))
  #set($devNull = $doctypes.add('wikipage'))
#end
#set($query = $services.lucene.createQuery($doctypes))

## spaces
#set($spaceGrp = $services.lucene.createOrRestrictionGroup())
#if("$!spaces" != '')
  #foreach($spc in $spaces.split(' '))
    #set($devNull = $spaceGrp.add($services.lucene.createSpaceRestriction("$spc")))
  #end
#else
  #foreach($spc in $negSpaces.split(' '))
    #set($devNull = $spaceGrp.add($services.lucene.createSpaceRestriction("$spc")))
  #end
  #set($devNull = $spaceGrp.setNegate(true))
#end
#set($devNull = $query.add($spaceGrp))

## pageTypes
#set($pageTypeGrp = $services.lucene.createOrRestrictionGroup())
#if("$!pageTypes" != '')
  #foreach($pt in $pageTypes.split(' '))
    #set($devNull = $pageTypeGrp.add($services.lucene.createObjectFieldRestriction('Celements2.PageType', 'page_type', "${pt}")))
  #end
#else
  #foreach($pt in $negPageTypes.split(' '))
    #set($devNull = $pageTypeGrp.add($services.lucene.createObjectFieldRestriction('Celements2.PageType', 'page_type', "${pt}")))
  #end
  #set($devNull = $pageTypeGrp.setNegate(true))
#end
#set($devNull = $query.add($pageTypeGrp))

## linkedDocsOnly
#if($linkedDocsOnly)
  #set($devNull = $query.add($services.lucene.createObjectRestriction('Celements2.MenuItem')))
#end

## packages
#set($packageGrp = $services.lucene.createOrRestrictionGroup())
## package content
#if($searchpackages.contains('content'))
  #set($restr = $services.lucene.createRestriction('ft', "$!text").setBoost('20'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
#end
## package menu
#if($searchpackages.contains('menu'))
  #set($restr = $services.lucene.createObjectFieldRestriction('Celements2.MenuName', 'menu_name', "$!text").setBoost('30'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
  #set($restr = $services.lucene.createRestriction('title', "$!text").setBoost('30'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
#end
## package blog
#if($searchpackages.contains('blog'))
  #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'title', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
  #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'extract', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
  #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'content', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
  #if($text.matches('^(\d{12}|\d{1,12}\*)$')) ## yyyyMMddHHmm
    #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'publishdate', "$!text"))
    #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
    #set($devNull = $packageGrp.add($restr))
  #end
#end
## package chronoblog
#if($searchpackages.contains('chronoblog'))
  #set($restr = $services.lucene.createObjectFieldRestriction('Chronoskop.ChronoBlogClass', 'project', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
  #set($restr = $services.lucene.createObjectFieldRestriction('Chronoskop.ChronoBlogClass', 'description', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $packageGrp.add($restr))
  #if($text.matches('^(\d{12}|\d{1,12}\*)$')) ## yyyyMMddHHmm
    #set($devNull = $packageGrp.add($services.lucene.createObjectFieldRestriction('Chronoskop.ChronoBlogClass', 'date', "$!text")))
  #end
#end
## package attachment
#if($searchpackages.contains('attachment'))
  #set($attRestrGrp = $services.lucene.createAttachmentRestrictionGroup($fileBaseDocRef, $mimetype, $filenamePrefs))
  #set($restr = $services.lucene.createRestriction('ft', "$!text").setBoost('20'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $attRestrGrp.add($restr))
  #set($devNull = $packageGrp.add($attRestrGrp))
#end
#set($devNull = $query.add($packageGrp))

#set($luceneResult = $services.lucene.search($query, $nullVal, ['default', "$language"]))

## remove blacklisted and WebPreference docs
#set($toRemove = [])
#foreach($resultRef in $luceneResult.getResults())
  #set($inBlackList = $docRefBlackList.contains($resultRef))
  #set($isWebPreferences = $resultRef.getName().equals('WebPreferences'))
  #if($inBlackList || $isWebPreferences)
    #set($devNull = $toRemove.add($resultRef))
  #end
#end

#if($isAdmin)
<!--
  luceneResult: $!luceneResult
  size : $!luceneResult.getSize()
  spaces: $!spaces
  negSpaces: $!negSpaces
  pageTypes: $!pageTypes
  negPageTypes: $!negPageTypes
  toRemove : $!toRemove
-->
#end

#set($resultScoreMap = $luceneResult.getResultsScoreMap())
#set($devNull = $resultScoreMap.keySet().removeAll($toRemove))
#parse('celMacros/WebSearchResultDisplay.vm')

#end ## if text

</div>
