## Generic Celements Search

#set($splitRegex = '[,;\| ]+')
#set($text = "$!request.get('text')")
#set($text = $text.trim())
#if("$!maxInputFieldSize" == '')
  #set($maxInputFieldSize = 20)
#end
#set($configObj = $doc.getObject('Celements2.WebSearchConfigClass'))
#set($attConfigObj = $doc.getObject('Celements2.WebAttachmentSearchConfigClass'))

<div id="websearch">

#if("$!hideForm" != '')
  #set($hideForm = ("$!hideForm" == 'true'))
#else
  #set($hideForm = ("$!configObj.get('hideForm')" == 'true'))
#end
#if("$!hideForm" != 'true')
  #if("$msg.get('cel_search_page_title')" != 'cel_search_page_title')
    <h1>$msg.get('cel_search_page_title')</h1>
  #end
  <div class="websearch_form">
  <form action="$doc.getURL()">
#*    Unscharfe Suche: 
    <select name="fuzzy">
      <option#if("$!fuzzySearch" == '1') selected="selected"#end value="1">1 (exakte Suche)</option>
      <option#if("$!fuzzySearch" == '0.9') selected="selected"#end value="0.9">0.9</option>
      <option#if("$!fuzzySearch" == '0.8') selected="selected"#end value="0.8">0.8</option>
      <option#if("$!fuzzySearch" == '0.7') selected="selected"#end value="0.7">0.7</option>
      <option#if("$!fuzzySearch" == '0.6') selected="selected"#end value="0.6">0.6</option>
      <option#if("$!fuzzySearch" == '0.5') selected="selected"#end value="0.5">0.5 (standard Fuzzy)</option>
    </select><br />*#
  <input type="text" name="text" value="$xwiki.getFormEncoded($!text)" size="$!maxInputFieldSize" class="search_input">
  #if("$!request.get('spaces')" != '')
    <input type="hidden" name="spaces" value="$!request.get('spaces')" />
  #end
  </form>
  </div>
#end

## execute search
#if("$!text" != "")

#set($restrictions = $services.lucene.createAndRestrictionGroup())

## exclude WebPreferences
#set($webPrefRestr = $services.lucene.createRestriction('name' 'WebPreferences'))
#set($devNull = $webPrefRestr.setNegate(true))
#set($devNull = $restrictions.add($webPrefRestr))

## linkedDocsOnly
#if("$!linkedDocsOnly" != '')
  #set($linkedDocsOnly = ("$!linkedDocsOnly" == 'true'))
#else
  #set($linkedDocsOnly = ("$!configObj.get('linkedDocsOnly')" == 'true'))
#end
#if($linkedDocsOnly)
  #set($devNull = $restrictions.add($services.lucene.createObjectRestriction('Celements2.MenuItem')))
#end

## docs
#set($docs = "$!configObj.get('docs') $!docs")
#set($docs = $docs.trim().split($splitRegex))
#set($orGrp = $services.lucene.createOrRestrictionGroup())
#foreach($elem in $docs)
  #set($devNull = $orGrp.add($services.lucene.createDocRestriction("$elem")))
#end
#set($devNull = $restrictions.add($orGrp))

## docsBlackList
#set($docsBlackList = "$!configObj.get('docsBlackList') $!docsBlackList")
#set($docsBlackList = $docsBlackList.trim().split($splitRegex))
#set($orGrp = $services.lucene.createOrRestrictionGroup())
#set($devNull = $orGrp.setNegate(true))
#foreach($elem in $docsBlackList)
  #set($devNull = $orGrp.add($services.lucene.createDocRestriction("$elem")))
#end
#set($devNull = $restrictions.add($orGrp))

## spaces
#set($spaces = "$!configObj.get('spaces') $!spaces $!request.get('spaces')")
#set($spaces = $spaces.trim().split($splitRegex))
#set($orGrp = $services.lucene.createOrRestrictionGroup())
#foreach($elem in $spaces)
  #set($devNull = $orGrp.add($services.lucene.createSpaceRestriction("$elem")))
#end
#set($devNull = $restrictions.add($orGrp))

## spacesBlackList
#set($spacesBlackList = "XWiki Templates Tools Celements2 Macros LocalMacros Ajax Overlay $!spacesBlackList")
#set($spacesBlackList = "$!configObj.get('spacesBlackList') $!spacesBlackList")
#set($spacesBlackList = $spacesBlackList.trim().split($splitRegex))
#set($orGrp = $services.lucene.createOrRestrictionGroup())
#set($devNull = $orGrp.setNegate(true))
#foreach($elem in $spacesBlackList)
  #set($devNull = $orGrp.add($services.lucene.createSpaceRestriction("$elem")))
#end
#set($devNull = $restrictions.add($orGrp))

## pageTypes
#set($pageTypes = "$!configObj.get('pageTypes') $!pageTypes")
#set($pageTypes = $pageTypes.trim().split($splitRegex))
#set($orGrp = $services.lucene.createOrRestrictionGroup())
#foreach($elem in $pageTypes)
  #set($devNull = $orGrp.add($services.lucene.createObjectFieldRestriction('Celements2.PageType', 'page_type', "$elem")))
#end
#set($devNull = $restrictions.add($orGrp))

## pageTypesBlackList
#set($pageTypesBlackList = "Redirect $!pageTypesBlackList")
#set($pageTypesBlackList = "$!configObj.get('pageTypesBlackList') $!pageTypesBlackList")
#set($pageTypesBlackList = $pageTypesBlackList.trim().split($splitRegex))
#set($orGrp = $services.lucene.createOrRestrictionGroup())
#set($devNull = $orGrp.setNegate(true))
#foreach($elem in $pageTypesBlackList)
  #set($devNull = $orGrp.add($services.lucene.createObjectFieldRestriction('Celements2.PageType', 'page_type', "$elem")))
#end
#set($devNull = $restrictions.add($orGrp))


## start packages
#set($searchpackages = "$!configObj.get('packages') $!searchpackages")
#set($searchpackages = $searchpackages.trim().split($splitRegex))
#if($searchpackages.isEmpty())
  #set($searchpackages = ['content', 'menu', 'blog'])
#end
#if(!$searchpackages.contains('attachment') && ("$!attConfigObj" != ''))
  #set($devNull = $searchpackages.add('attachment'))
#end
#if("$!fuzzySearch" != '')
  #set($fuzzySearch = $!configObj.getProperty('fuzzySearch').getValue())
#end
#set($orGrp = $services.lucene.createOrRestrictionGroup())

## package content
#if($searchpackages.contains('content'))
  #set($restr = $services.lucene.createRestriction('ft', "$!text").setBoost('20'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
#end

## package menu
#if($searchpackages.contains('menu'))
  #set($restr = $services.lucene.createObjectFieldRestriction('Celements2.MenuName', 'menu_name', "$!text").setBoost('30'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
  #set($restr = $services.lucene.createRestriction('title', "$!text").setBoost('30'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
#end

## package blog
#if($searchpackages.contains('blog'))
  #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'title', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
  #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'extract', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
  #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'content', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
  #if($text.matches('^(\d{12}|\d{1,12}\*)$')) ## yyyyMMddHHmm
    #set($restr = $services.lucene.createObjectFieldRestriction('XWiki.ArticleClass', 'publishdate', "$!text"))
    #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
    #set($devNull = $orGrp.add($restr))
  #end
#end

## package chronoblog
#if($searchpackages.contains('chronoblog'))
  #set($restr = $services.lucene.createObjectFieldRestriction('Chronoskop.ChronoBlogClass', 'project', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
  #set($restr = $services.lucene.createObjectFieldRestriction('Chronoskop.ChronoBlogClass', 'description', "$!text"))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $orGrp.add($restr))
  #if($text.matches('^(\d{12}|\d{1,12}\*)$')) ## yyyyMMddHHmm
    #set($devNull = $orGrp.add($services.lucene.createObjectFieldRestriction('Chronoskop.ChronoBlogClass', 'date', "$!text")))
  #end
#end

## package attachment
#if($searchpackages.contains('attachment'))
  #set($mimeTypes = "$!attConfigObj.get('mimeTypes') $!mimeTypes")
  #set($mimeTypes = $mimeTypes.trim().split($splitRegex))
  #set($mimeTypesBlackList = "$!attConfigObj.get('mimeTypesBlackList') $!mimeTypesBlackList")
  #set($mimeTypesBlackList = $mimeTypesBlackList.trim().split($splitRegex))
  #set($filenamePrefs = "$!attConfigObj.get('filenamePrefs') $!filenamePrefs")
  #set($filenamePrefs = $filenamePrefs.trim().split($splitRegex))
  #set($attRestrGrp = $services.lucene.createAttachmentRestrictionGroup($mimeTypes, $mimeTypesBlackList, $filenamePrefs)
  #set($restr = $services.lucene.createRestriction('ft', "$!text").setBoost('20'))
  #if("$!fuzzySearch" != '') #set($devNull = $restr.setFuzzy("$!{fuzzySearch}")) #end
  #set($devNull = $attRestrGrp.add($restr))
  #set($devNull = $orGrp.add($attRestrGrp))
#end

#set($devNull = $restrictions.add($orGrp))
## end packages

## create query and search
#set($doctypes = [])
#if($searchpackages.contains('attachment'))
  #set($devNull = $doctypes.add('attachment'))
#end
#if(!$searchpackages.contains('attachment') || ($searchpackages.size() > 1))
  #set($devNull = $doctypes.add('wikipage'))
#end
#set($query = $services.lucene.createQuery($doctypes))
#set($devNull = $query.add($restrictions))
#set($result = $services.lucene.search($query, $nullVal, ['default', "$language"]))
#if($isAdmin)
<!--
  result: $!result
  size : $!result.getSize()
-->
#end
#parse('celMacros/WebSearchResultDisplay.vm')

#end ## if text

</div>
