#set($overwriteLayoutRef = '')
#if("$!request.overwriteLayout" != '')
#set($pageLayoutMainDocRef = $services.model.createDocumentReference('', "$!request.overwriteLayout", ''))
#set($overwriteLayoutRef = $pageLayoutMainDocRef.getLastSpaceReference())
#end
## start a Celements Document
#parse("celMacros/startCelementsDocument.vm")
##
## start the celements body (and lacily finalise the header)
##ATTENTION: Can not be moved to disk until all overlays are checked (ProgrammingRights issues!)
##$xwiki.includeForm('celements2web:Macros.startCelementsBody', false)
#parse("celMacros/startCelementsBody.vm")
##
#parse('celMacros/renderPageLayout.vm')