#set($overwriteLayoutRef = '')
#if("$!request.overwriteLayout" != '')
#set($pageLayoutMainDocRef = $services.model.createDocumentReference('', "$!request.overwriteLayout", ''))
#set($overwriteLayoutRef = $pageLayoutMainDocRef.getLastSpaceReference())
#end
## start a Celements Document
#parse("celMacros/startCelementsDocument.vm")
##
## start the celements body (and lacily finalise the header)
##ATTENTION: Can not be moved to disk until all overlays are checked (ProgrammingRights issues!)
##$xwiki.includeForm('celements2web:Macros.startCelementsBody', false)
#parse("celMacros/startCelementsBody.vm")
##
#set($isCellSkin = true)
#set($doclang = $tdoc.getLanguage())
#if("$!doclang" == '')
  #set($doclang = $tdoc.getDefaultLanguage())
#end
##TODO get pageStyles from pageType-scriptService
#set($cel_pageTypeObj = $doc.getObject('Celements2.PageType', true))
#set($pageStyles = "$!cel_pageTypeObj.getProperty('page_styles').getValue()")
<div id="sitecontainer" class="lang_${language} doclang_$doclang $!{pageStyles.trim()}">
<!-- start celements cells -->
#if(("$!overwriteLayoutRef" != '') && $celementsweb.canRenderLayout($overwriteLayoutRef))
$celementsweb.renderPageLayout($overwriteLayoutRef)
#else
$celementsweb.renderPageLayout()
#end