#template("xwikivars.vm")
#set($skinBodyAttributes = " style='overflow:hidden;'")
#set($overlayBodyCssClasses = 'celPasswordChange')
#set($cel_loadAdminMenuBar = false)
#set($celementsLoadInOverlay = 'Celements2.ChangePassword')
#template("view.vm")