#if(("$!elemId" != '') && $xwiki.exists($services.model.resolveDocument($elemId)))
#set($menuItemDoc = $xwiki.getDocument($services.model.resolveDocument($elemId)))
#set($menuItemObj = $menuItemDoc.getObject('Celements2.MenuItem'))
#if("$!menuItemObj" != '')
#if("$!helpNav" == '')
#set($helpNav = $xwiki.celementsweb.createNavigation())
#end
#set($nextMenuItemFullName = $helpNav.getNextMenuItemFullName($menuItemObj))
#if(("$nextMenuItemFullName" != '') && $xwiki.exists("$nextMenuItemFullName"))
 #set($nextItemName = $xwiki.getDocument("$nextMenuItemFullName").getName())
 #set($l = $xwiki.getURL($elemId,'view', "xpage=celements_ajax&ajax_mode=switchMenuItemPos"))
 #set($l = "${l}&space=${menuItemDoc.space}&item1=${menuItemDoc.name}")
 #set($cmenu_pageLink = "${l}&item2=${nextItemName}&xredirect=${doc.fullName}")
window.location.href=&quot;${cmenu_pageLink}&quot;##
#end
#end
#end