#if(("$!elemId" != '') && ($services.treeNode.getMaxConfiguredNavigationLevel() > $celementsweb.getDocumentParentsList($elemId, true).size()))
#set($overwriteWeb = '')
#set($menuItemDocRef = $services.model.resolveDocument($elemId))
#if($elemParams.size() > 1)
#set($overwriteWeb = $elemParams.get(1))
#end
#if("$!overwriteWeb" == '')
#set($overwriteWeb = "$!menuItemDocRef.getLastSpaceReference().getName()")
#end
#set($overwriteWeb = "${overwriteWeb}-$!menuItemDocRef.getName()")
#set($l = $doc.getURL('view', 'xpage=overlay&conf=AddPage'))
#set($l = "${l}&space=${overwriteWeb}&doc_parent=${elemId}")
#set($l = "${l}&language=${default_language}&redirmode=newpageedit")
#set($cmenu_pageLink = "${l}&xredirect=$escapetool.url($doc.getURL('view'))")
window.location.href=&quot;${cmenu_pageLink}&quot;##
#end