#template("xwikivars.vm")
#set($skinBodyAttributes = " style='overflow:hidden;'")
#set($cel_loadAdminMenuBar = false)
#set($celementsLoadInOverlay = 'celMacros/ImportBase.vm')
#set($showOverlayLanguageBar = false)
#set($showCloseOverlayButton = true)
#set($closeOverlayRedirect = "$!request.get('xredirect')")
#template("view.vm")