#template("frameheader.vm")
#if(!$xwiki.hasAccessLevel("view","Celements2.Registration")||$xwiki.getDocument("Celements2.Registration").isNew())
  <h1>$msg.get("core.register.title")</h1>
  #if(!$reg||$reg<0 )
    <p>$msg.get("core.register.welcome")</p>
  #end
  #if($reg && $reg<=0)
    #if($reg==-2)
      #error("$msg.get('core.register.passwordMismatch')")
    #elseif($reg==-3)
      #error("$msg.get('core.register.userAlreadyExists')")
    #elseif($reg==-4)
      #error("$msg.get('core.register.invalidUsername')")
    #elseif($reg==-8)
      #error("$msg.get('core.register.userAlreadyExists')")
    #else
      #error("$msg.get('core.register.registerFailed', [$reg])")
    #end
  #elseif($reg)
    #set($xwname = "XWiki.${request.xwikiname}")
    #info("$msg.get('core.register.successful', [$xwiki.getUserName($xwname), $request.get('register_email')])")
  #end
  #if(!$reg||$reg<0)
 ##TODO get from XWikiPreferences (add field)
 #set($withEmailLogin = true)
 #if($withEmailLogin)
    #set($fieldprefix = "")
 #else
    #set($fieldprefix = "register_")
 #end
    <form id="register" action="${xwiki.getURL('Tools.Login','view','xpage=celements_ajax&ajax_mode=CelRegisterUser')}" method="post">
      <div>
        <input type="hidden" name="template" value="XWiki.XWikiUserTemplate" />
        <input type="hidden" name="register" value="1"/>
        <input type="hidden" name="language" value="$language"/>
        #set($class = $xwiki.getClass("XWiki.XWikiUsers"))
        #set($obj = $class.newObject())
        #set($serverobj = $class.newObject())
        #set($discard = $doc.use("XWiki.XWikiUsers"))
        #if($request.register_first_name)
          $doc.set("first_name", $request.register_first_name)
        #end
        #if($request.register_last_name)
          $doc.set("last_name", $request.register_last_name)
        #end
        <dl>
          #set($prop = $class.first_name)
          <dt>$msg.get("core.register.firstName")</dt>
          <dd>$doc.displayEdit($prop, "${fieldprefix}",  $obj)</dd>

          #set($prop = $class.last_name)
          <dt>$msg.get("core.register.lastName")</dt>
          <dd>$doc.displayEdit($prop, "${fieldprefix}",  $obj)</dd>

          #set($prop = $class.company)
          <dt>$msg.get('core.register.company')</dt>
          <dd>$doc.displayEdit($prop, "${fieldprefix}",  $obj)</dd>

         ##TODO get from XWikiPreferences (add field)
         #set($withEmailLogin = true)
         #if(!$withEmailLogin)
          <dt>$msg.get("core.register.username")</dt>
          <dd><input name="xwikiname" type="text" size="20" onfocus=" prepareName(document.forms.register);" /></dd>
         #end

#*          #set($prop = $class.password)
          <dt>$msg.get("core.register.password")</dt>
          <dd>$doc.displayEdit($prop, "register_",  $obj)</dd>

          <dt>$msg.get("core.register.passwordRepeat")</dt>
          <dd>$doc.displayEdit($prop, "register2_",  $obj)</dd>
*#
          #set($prop = $class.email)
          <dt>$msg.get("core.register.email")</dt>
          <dd>$doc.displayEdit($prop, "${fieldprefix}",  $obj)</dd>
         #if($withEmailLogin)
          <dt>$msg.get("core.register.cemail")</dt>
          <dd><input name="cemail" type="text" size="30" /></dd>
         #else
         #end
        </dl>
        <span class="buttonwrapper"><input type="submit" value="$msg.get("core.register.submit")"/></span>
      </div>
    </form>
  #end
#else
  $xwiki.getDocument("Celements2.Registration").getTranslatedDocument().getRenderedContent()
#end
#template("framefooter.vm")