#parse("celMacros/checkForcePasswordChange.vm")
#set($overwriteRenderDocument = 'celInlineTemplates/app.vm')
#set($celAppScriptSetup = "$!{services.appscript.getScriptNameFromURL()}_setup")
#if($services.appscript.isAppScriptAvailable("$!celAppScriptSetup"))
  #parse($services.appscript.getAppScriptTemplatePath("$!celAppScriptSetup"))
#else
  #set($celAppScript = $services.appscript.getScriptNameFromURL())
  #set($recSetupName = $services.appscript.getAppRecursiveSetupScript("$!celAppScript"))
  #if($recSetupName)
    #parse($services.appscript.getAppScriptTemplatePath($recSetupName))
  #end
#end
$xwiki.parseTemplate("frameheader.vm")
#if(!$contextIsFinished)
#if("$!overwriteRenderDocument" != '')
$xwiki.parseTemplate($overwriteRenderDocument)
#end
#end
#if(!$contextIsFinished)
$xwiki.parseTemplate("framefooter.vm")
#end
