#parse("celMacros/checkForcePasswordChange.vm")
#set($overwriteRenderDocument = 'celInlineTemplates/app.vm')
#set($celAppScriptSetup = "$!{services.appscript.getScriptNameFromURL()}_setup")
#if($services.appscript.isAppScriptAvailable("$!celAppScriptSetup"))
  #parse($services.appscript.getAppScriptTemplatePath("$!celAppScriptSetup"))
#else
  #set($celAppScript = $services.appscript.getScriptNameFromURL())
  #set($appRecursiveScript = $services.appscript.getAppRecursiveScript("$!celAppScript"))
  #if($appRecursiveScript)
    #set($indexOfPlus = $appRecursiveScript.lastIndexOf("++"))
    #if($indexOfPlus > 0)
      #set($recSetupName = "${appRecursiveScript.substring(0, $indexOfPlus)}_setup++")
      #if($services.appscript.isAppScriptAvailable($recSetupName))
        #parse($services.appscript.getAppScriptTemplatePath($recSetupName))
      #end
    #end
  #end
#end
$xwiki.parseTemplate("frameheader.vm")
#if(!$contextIsFinished)
#if("$!overwriteRenderDocument" != '')
$xwiki.parseTemplate($overwriteRenderDocument)
#end
#end
#if(!$contextIsFinished)
$xwiki.parseTemplate("framefooter.vm")
#end
