


<script type="text/javascript">
  var CookieName = "CelementsTestThirdPartyCookieEnabled";
  document.cookie = CookieName + "=yes;";
  if(document.cookie.indexOf(CookieName + "=yes") > -1) {
    var date = new Date();
    date.setTime(date.getTime()+(-1*24*60*60*1000));
    var expires = "; expires="+date.toGMTString();
    document.cookie = CookieName + "=no" + expires;
  } else {
    alert(window.location.href);
  }
</script>
