#if("$!request.tm_mode" == 'getTabMenuConfig')
#if("$!tinyMCE_width" != '')
  #set($menuPanelWidth = $xwiki.parseInt($tinyMCE_width) + 50)
#end
#if(("$!menuPanelWidth" == '') || ($menuPanelWidth < 630))
  #set($menuPanelWidth = 630)
#end
#set($cel_supressBeforeUnload = false)
{"tabMenuPanelConfig" : ##
#set($ajaxDocRef = $services.model.resolveDocument('Ajax.tabMenuPanelConfig'))
#if($xwiki.exists($ajaxDocRef) && !$celementsweb.isEmptyRTEDocument($ajaxDocRef))
$xwiki.includeForm('Ajax.tabMenuPanelConfig', false)
#else
$xwiki.parseTemplate('celAjax/tabMenuPanelConfig.vm')
#end
, "unsavedChangesOnCloseMessage" :##
"$!adminMsg.get('cel_tm_unsavedChangesOnCloseMessage')",##
"jsPathPrefix" : "${services.celementsweb.getAttachmentURLPrefix()}",##
"jsPathFileActionPrefix" : "${services.celementsweb.getAttachmentURLPrefix('file')}",##
"startupTimeStamp" : "${xwiki.celementsweb.getLastStartupTimeStamp()}",##
"savingDialogHeader" : "$adminMsg.get('cel_tm_saving_dialog_header')",##
"savingDialogWarningHeader" : "$adminMsg.get('cel_tm_saving_dialog_warning_header')",##
"savingDialogMessage" : "$adminMsg.get('cel_tm_saving_dialog_unsaved_changes')",##
"savingDialogButtonCancel" : "$adminMsg.get('cel_cancel')",##
"savingDialogButtonSave" : "$adminMsg.get('cel_tm_saving_dialog_button_save')",##
"savingDialogButtonDoNotSave" : "$adminMsg.get('cel_tm_saving_dialog_button_donotsave')",##
"tabEditorSaveAndClose" : "$adminMsg.get('cel_save_and_close')",##
"closeButtonLabel" : "$adminMsg.get('cel_close')",##
"saveButtonLabel" : "$adminMsg.get('cel_save_and_continue')",##
#if("$!cel_supressBeforeUnload" != '')
 "supressBeforeUnload" : $!{cel_supressBeforeUnload},##
#end
#set($ajaxDocRef = $services.model.resolveDocument('Ajax.additionalEditorMessages'))
#if($xwiki.exists($ajaxDocRef) && !$celementsweb.isEmptyRTEDocument($ajaxDocRef))
#set($addEditorMessages = $xwiki.includeForm('Ajax.additionalEditorMessages', false))
#else
#set($addEditorMessages = $xwiki.parseTemplate('celAjax/additionalEditorMessages.vm'))
#end
#if("$!addEditorMessages" == '')
#set($addEditorMessages = "{}")
#end
"additionalEditorMessages" : $!{addEditorMessages.replaceAll('[\n\r]','')}## 
}##
#else
error: unknown tm_mode : '$!{request.tm_mode}'!!
#end