#set($fullname = "$!request.fullname")
#if("$!fullname" == '')
  #set($fullname = "$doc.getFullName()")
#end
$celementsweb.getDocSectionAsJSON("$!request.get('regex')", "$!fullname", $util.parseInt("$!request.get('secNr')"))