## start a Celements Document
#parse("celMacros/startCelementsDocument.vm")
$celementsweb.addExtJSfileOnce(':celJS/yui/yahoo-dom-event/yahoo-dom-event.js', 'file')
## start the celements body (and lazily finalise the header)
#parse("celMacros/startCelementsBody.vm")
#if("$!request.filebase_mode" == 'FileBaseTags')
#parse('celAjax/FileBaseTags.vm')
#else
##$xwiki.celementsweb.renderCelementsDocument($services.model.resolveDocument('celements2web:Celements2.FileBase'))
#parse('celMacros/FileBase.vm')
#end
#parse('celMacros/finaliseCelementsDocument.vm')
##

