<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/prototype.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/jquery.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/jquery-noconflict.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/initCelements.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/scriptaculous/effects.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/validation.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/SWFObject-2.2/swfobject.js', 'file')"></script>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/flowplayer/flowplayer-3.2.6.min.js', 'file')"></script>
<link rel="stylesheet" media="all" type="text/css" href="$!services.celementsweb.getSkinFile(':celRes/celanim/movieplayerDefaults.css', 'file')" /> 
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/celanim/movieplayer.js', 'file')"></script>
<title></title>
<script type="text/javascript">
 Event.observe(window, 'load', function() {
  setTimeout("$$('body a')[0].show();", 700);
 });
</script>
</head>
<body style="background-color:black; background-image: none;" class="celanim_inoverlay">
<a href="$!request.flvfilename" class="$!{request.cssclassname.replaceAll(',',' ')}" style="display:none; ##
background-color:black !important; margin-left:auto; margin-right:auto; padding:0px;">
#set($cssClasses = "$!{request.cssclassname}")
#if($cssClasses.indexOf('celanim_audio') >= 0)
<img src="$!services.celementsweb.getSkinFile(':celRes/speakerwhite.png', 'file')" class="flowplayer_start_audio_speaker flowplayer_start_audio" />##
<img src="$!services.celementsweb.getSkinFile(':celRes/startplaywhite.png', 'file')" class="flowplayer_start_audio_play flowplayer_start_audio" />
#end
</a>
<script type="text/javascript" src="$!services.celementsweb.getSkinFile(':celJS/initCelementsAfter.js', 'file')"></script>
</body>
</html>
