$response.setStatus(200)
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
#set($attachments = $xwiki.celementsweb.getAttachmentListSorted($doc, 'AttachmentDescendingChangeDateComparator'))
#set($albumObj = $doc.getObject("XWiki.PhotoAlbumClass", true))
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('title', "$!doc.getTitle()")
$jsonBuilder.openProperty('thumbWidth')
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('thumbWidth').getValue()))
$jsonBuilder.openProperty('thumbHeight')
## the thumbHeight is in 'height' property ? why ?
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('height').getValue()))
$jsonBuilder.openProperty('height')
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('height2').getValue()))
$jsonBuilder.openProperty('width')
$jsonBuilder.addInteger($mathtool.toInteger($!albumObj.getProperty('photoWidth').getValue()))
$jsonBuilder.addStringProperty('desc', "$!albumObj.getProperty('description').getValue()")
$jsonBuilder.openProperty('hasOverview')
#set($hasOverview = ("$!albumObj.getProperty('hasOverview').getValue()" == '1'))
$jsonBuilder.addBoolean($hasOverview)
$jsonBuilder.addStringProperty('theme', "$!albumObj.getProperty('theme').getValue()")
$jsonBuilder.openProperty('imageArray')
$jsonBuilder.openArray()
#foreach ($attach in$attachments)
#if ($attach.isImage())
$services.celementsphoto.addImage($jsonBuilder, $attach)
#end ## if isImage
#end ## foreach
$jsonBuilder.closeArray()
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()