#if("$!request.get('imageFullName')" != '')
#set($dimensionObj = $xwiki.celementsphoto.getDimension($request.get('imageFullName')))
{ "filename" : "$!request.get('imageFullName')" , "height" : $!dimensionObj.getHeight(), ##
 "width" : $!dimensionObj.getWidth() }
#else
{ "errormsg" : "imageFullName missing!"}
#end