#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
#if("$!request.get('imageFullName')" != '')
#set($dimensionObj = $services.celementsphoto.getDimension($request.get('imageFullName')))
$jsonBuilder.addStringProperty('filename', "$!request.get('imageFullName')")
$jsonBuilder.openProperty('height')
$jsonBuilder.addInteger($mathtool.toInteger($!dimensionObj.getHeight()))
$jsonBuilder.openProperty('width')
$jsonBuilder.addInteger($mathtool.toInteger($!dimensionObj.getWidth()))
#else
$jsonBuilder.addStringProperty('errormsg', "imageFullName missing!")
#end
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()