$response.setStatus(200)
#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
#set($attachments = $xwiki.celementsweb.getAttachmentListSorted($doc, 'AttachmentDescendingChangeDateComparator'))
$jsonBuilder.openArray()
#foreach ($attach in $attachments)
#if ($attach.isImage())
$services.celementsphoto.addImage($jsonBuilder, $attach)
#end ## if isImage
#end ## foreach
$jsonBuilder.closeArray()
$jsonBuilder.getJSON()