#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openArray()
#foreach($email in $request.getParameterValues('email'))
$jsonBuilder.openProperty("$!email")
$jsonBuilder.addBoolean($services.celmail.isValidEmail("$!email"))
#end
$jsonBuilder.closeArray()
$jsonBuilder.getJSON()