#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
## defaults
$jsonBuilder.openProperty('defaults')
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('autoPlay')
$jsonBuilder.addBoolean(true)
$jsonBuilder.openProperty('autoBuffering')
$jsonBuilder.addBoolean(true)
$jsonBuilder.openProperty('accelerated')
$jsonBuilder.addBoolean(true)
$jsonBuilder.openProperty('fadeInSpeed')
$jsonBuilder.addInteger(500)
$jsonBuilder.openProperty('fadeOutSpeed')
$jsonBuilder.addInteger(500)
$jsonBuilder.addStringProperty('replayLabel', "")
$jsonBuilder.closeDictionary()
## skins
$jsonBuilder.openProperty('skins')
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('dark')
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('playlist')
$jsonBuilder.addBoolean(false)
$jsonBuilder.openProperty('stop')
$jsonBuilder.addBoolean(false)
$jsonBuilder.openProperty('time')
$jsonBuilder.addBoolean(false)
$jsonBuilder.openProperty('fullscreen')
$jsonBuilder.addBoolean(true)
$jsonBuilder.openProperty('opacity')
$jsonBuilder.addFloat(1.0)
$jsonBuilder.addStringProperty('progressGradient', 'none')
$jsonBuilder.addStringProperty('sliderGradient', 'none')
$jsonBuilder.addStringProperty('bufferColor', '#333333')
$jsonBuilder.addStringProperty('backgroundColor', '#000000')
$jsonBuilder.addStringProperty('buttonColor', '#666666')
$jsonBuilder.addStringProperty('volumeSliderProgressColor', '#333333')
$jsonBuilder.addStringProperty('progressColor', '#333333')
$jsonBuilder.closeDictionary()
$jsonBuilder.closeDictionary()
##
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()