#set($jsonBuilder = $services.json.newBuilder())
$jsonBuilder.openDictionary()
## flowplayer path to the js resource
$jsonBuilder.addProperty('flowplayerPath', "$!services.celementsweb.getSkinFile('celJS/flowplayer/flowplayer-3.2.6.swf', 'file')")
## defaults
$jsonBuilder.openDictionary('defaults')
$jsonBuilder.addProperty('autoPlay', true)
$jsonBuilder.addProperty('autoBuffering', true)
$jsonBuilder.addProperty('accelerated', true)
$jsonBuilder.addProperty('fadeInSpeed', 500)
$jsonBuilder.addProperty('fadeOutSpeed', 500)
$jsonBuilder.addProperty('replayLabel', "")
$jsonBuilder.closeDictionary()
## skins
$jsonBuilder.openDictionary('skins')
$jsonBuilder.openDictionary('dark')
$jsonBuilder.addProperty('playlist', false)
$jsonBuilder.addProperty('stop', false)
$jsonBuilder.addProperty('time', false)
$jsonBuilder.addProperty('fullscreen', true)
$jsonBuilder.addProperty('opacity', $util.parseFloat("1.0"))
$jsonBuilder.addProperty('progressGradient', 'none')
$jsonBuilder.addProperty('sliderGradient', 'none')
$jsonBuilder.addProperty('bufferColor', '#333333')
$jsonBuilder.addProperty('backgroundColor', '#000000')
$jsonBuilder.addProperty('buttonColor', '#666666')
$jsonBuilder.addProperty('volumeSliderProgressColor', '#333333')
$jsonBuilder.addProperty('progressColor', '#333333')
$jsonBuilder.closeDictionary()
$jsonBuilder.closeDictionary()
##
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()