#if("$!request.doaction" == 'subscribe')
  #if("$xwiki.celementsblog.subscribeNewsletter()" != '')
    $msg.get('cel_newsletter_subscribed')
  #else
    $msg.get('cel_newsletter_could_not_subscribe')
  #end
#elseif("$!request.doaction" == 'unsubscribe')
  #if($xwiki.celementsblog.unsubscribeNewsletter())
    $msg.get('cel_newsletter_unsubscribed')
  #else
    $msg.get('cel_newsletter_could_not_unsubscribe')
  #end
#elseif("$!request.doaction" == 'activate')
  #if($xwiki.celementsblog.activateSubscriber())
    $msg.get('cel_newsletter_activated')
  #else
    $msg.get('cel_newsletter_could_not_activate')
  #end
#elseif("$!request.doaction" == 'sendArticle')
  #set($sendResult = $xwiki.celementsblog.sendArticleByMail())
  #if("$!sendResult" != '')
    #foreach($result in $sendResult)
      #foreach($part in $result)
        #if($velocityCount == 1)
          #set($resultMailAddress = $part)
        #else
          #set($resultNumber = $part)
        #end
      #end
      <div class="cel_newsletter_result">
        #if($resultNumber == 0)
          $adminMsg.get('cel_newsletter_sent', ["$!resultMailAddress"])
        #else
          $adminMsg.get('cel_newsletter_error_sending', ["$!resultMailAddress", "$!resultNumber"])
        #end
      </div>
    #end
  #else
    Could not send.
  #end
#else
$response.setStatus(501)
Unknown action
#end
