#set($overwriteLayoutRef = '')
#if("$!request.overwriteLayout" != '')
#set($pageLayoutMainDocRef = $services.model.createDocumentReference('', "$!request.overwriteLayout", ''))
#set($overwriteLayoutRef = $pageLayoutMainDocRef.getLastSpaceReference())
#end
##only include if legacy celements2web.xar is installed
#if($xwiki.exists($services.model.resolveDocument('celements2web:Macros.initCelements')))
$xwiki.includeForm("celements2web:Macros.initCelements", false)
#end
#set($isAjaxCall = ("$!request.ajax" == '1'))
#if(!$isAjaxCall)
## start a Celements Document
#parse("celMacros/startCelementsDocument.vm")
##
## start the celements body (and lacily finalise the header)
#parse("celMacros/startCelementsBody.vm")
##
#end
#if($services.celementsweb.isAppScriptRequest())
#set($celAppScript = $services.celementsweb.getScriptNameFromURL())
#set($overwriteRenderDocument = 'celInlineTemplates/app.vm')
#end
#set($isCellSkin = true)
#set($doclang = $tdoc.getLanguage())
#if("$!doclang" == '')
  #set($doclang = $tdoc.getDefaultLanguage())
#end
<div class="lang_${language} doclang_$doclang">
<!-- start celements cells -->
#if(("$!overwriteLayoutRef" != '') && $celementsweb.layoutExists($overwriteLayoutRef))
$celementsweb.renderPageLayout($overwriteLayoutRef)
#else
$celementsweb.renderPageLayout()
#end
<!-- end celements cells -->
</div><!-- main wrapper -->
#if(!$isAjaxCall)
#parse('celMacros/finaliseCelementsDocument.vm')
#end