## request url has to conform to HttpServletResponse.sendRedirect(String), see javadoc
#set($url = $request.url)
#if("$!url" == "")
   #set($url = $doc.getURL())
#end
#set($url = $services.celementsweb.encodeUrlToUtf8($url))
$response.sendRedirect($url)