## request url has to conform to HttpServletResponse.sendRedirect(String), see javadoc
#set($url = $request.url)
#if("$!url" == "")
   #set($url = $doc.getURL())
#end
#set($url = $services.celementsweb.convertToPlainText($url))
<p><b>url: </b>$url</p>
<p><b>url utf8: </b>$services.celementsweb.encodeUrlToUtf8($url)</p>
<p><b>url fixUmlHtmlEncodings: </b>$services.celementsweb.convertToPlainText($url)</p>

$response.sendRedirect($url)