## request url has to conform to HttpServletResponse.sendRedirect(String), see javadoc
#set($url = $request.url)
#if("$!url" == "")
   #set($url = $doc.getURL())
#end
<p><b>url: </b>$url</p>
## $services.celementsweb.sendRedirect($url)
