#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
#set($map = $util.getHashMap())
#set($devnull = $map.putAll($request.getParameterMap()))
#set($validationResult = $celementsweb.validateRequest())
## Handle Validation Results
#set($validationPassed = ($validationResult.size() == 0))
$jsonBuilder.openProperty('successful')
$jsonBuilder.addBoolean($validationPassed)
#if($validationPassed)
#set($updateResult = $celementsweb.updateAndSaveDocFromMap("$!doc.fullName", $map))
$jsonBuilder.openProperty("numSavedDocVersions")
$jsonBuilder.addInteger($updateResult.get('successful').size())
$jsonBuilder.openProperty("successfullySaved")
$jsonBuilder.openArray()
#foreach($savedDoc in $updateResult.get('successful'))
$jsonBuilder.addString($services.model.serialize($savedDoc))
#end
$jsonBuilder.closeArray()
$jsonBuilder.openProperty("numSaveDocFailed")
$jsonBuilder.addInteger($updateResult.get('failed').size())
$jsonBuilder.openProperty("failedSave")
$jsonBuilder.openArray()
#foreach($savedDoc in $updateResult.get('successful'))
$jsonBuilder.addString($services.model.serialize($savedDoc))
#end
$jsonBuilder.closeArray()
#else
  $jsonBuilder.openProperty('errorMessages')
  $jsonBuilder.openArray()
  #set($errorMessages = '')
  #foreach($err in $validationResult.keySet())
    #if("$validationResult.get($err)" != '')
      $jsonBuilder.addString($adminMsg.get($validationResult.get($err)))
    #else
      $jsonBuilder.addString("$err")
    #end
  #end
$jsonBuilder.closeArray()
#end
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()
