#set($jsonBuilder = $services.json.newBuilder())
$jsonBuilder.openDictionary()
#set($params = $services.docform.parseRequestParams())
#set($validationResult = $services.editorsupport.validate($params))
## Handle Validation Results
#set($validationPassed = ($validationResult.size() == 0))
#set($successful = $validationPassed)
#if($validationPassed)
  #set($updateResult = $services.docform.updateAndSaveDoc($doc.documentReference, $params))
  $jsonBuilder.addProperty("numSavedDocVersions", $updateResult.get('successful').size())
  $jsonBuilder.openArray("successfullySaved")
  #foreach($savedDocRef in $updateResult.get('successful'))
    $jsonBuilder.addValue($services.model.serialize($savedDocRef, 'local'))
  #end
  $jsonBuilder.closeArray()
  $jsonBuilder.addProperty("numSaveDocFailed", $updateResult.get('failed').size())
  $jsonBuilder.openArray('errorMessages')
  #foreach($errDocRef in $updateResult.failed)
    $jsonBuilder.addValue("$adminMsg.get('cel_tm_saving_failed_document'): $services.model.serialize($errDocRef, 'local')")
  #end
  $jsonBuilder.closeArray()
  #set($successful = $updateResult.failed.isEmpty())
#else
  $jsonBuilder.openArray('errorMessages')
  #foreach($result in $validationResult)
    #if("$!result.message" != '')
      $jsonBuilder.addValue($adminMsg.get($result.message))
    #else
      $jsonBuilder.addValue($result.name)
    #end
  #end
  $jsonBuilder.closeArray()
#end
$jsonBuilder.addProperty('successful', $successful)
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()
