#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
#if("$!request.fullName" == '')
#set($fullName = "$doc.fullName")
#else
#set($fullName = "$!request.fullName")
#end
#if("$!request.tfu_mode" == 'getTokenForCurrentUser')
#set($startUserName = $context.user.indexOf('.') + 1)
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty('hasUploadRights')
$jsonBuilder.addBoolean($xwiki.hasAccessLevel('edit', $context.getUser(), $fullName))
$jsonBuilder.addStringProperty('token', "$!{celementsweb.getNewCelementsTokenForUser()}")
$jsonBuilder.addStringProperty('username', "$!{context.user.substring($startUserName)}")
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()
#elseif("$!request.tfu_mode" == 'filesExistCheck')
#set($uploadDoc = $xwiki.getDocument($services.model.resolveDocument($fullName)))
$jsonBuilder.openDictionary()
#set($filesExistList = [])
$jsonBuilder.openProperty('allFileNames')
$jsonBuilder.openArray()
#set($listOverwriteFiles = [])
#set($overwriteFiles = '')
#set($Q = '"')
#set($delStr = '')
#foreach($filename in $request.getParameterValues('filename'))
#set($clearedFileName = "$!services.filebase.clearFileName($filename)")
#if("$!uploadDoc.getAttachment($clearedFileName)" != '')
#set($!devnull = $filesExistList.add("${clearedFileName}"))
#set($overwriteFiles = "${overwriteFiles}${delStr} ${clearedFileName}")
#set($delStr = ',')
#set($!devnull = $listOverwriteFiles.add($filename))
#end
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('fileName', "$!{filename}")
$jsonBuilder.addStringProperty('clearedFileName', "$!{clearedFileName}")
$jsonBuilder.closeDictionary()
#end
$jsonBuilder.closeArray()
$jsonBuilder.openProperty('filesExistList')
$jsonBuilder.openArray()
#foreach($clearedFileName in $filesExistList)
$jsonBuilder.addString("${clearedFileName}")
#end
$jsonBuilder.closeArray()
#set($existsErrorMsg = $adminMsg.get('cel_ml_overwrite_confirm', ["${overwriteFiles.trim()}"]))
$jsonBuilder.addStringProperty('errorMsg', "$!existsErrorMsg")
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()
#elseif("$!request.tfu_mode" == 'getToken')
$celementsweb.getNewCelementsTokenForUser()
#elseif("$!request.tfu_mode" == 'upload')
#set($createIfNotExists = (("$!context.getUser()" != 'XWiki.XWikiGuest') || ("$!request.celTokenUploadCreateIfNotExists" == 'true')))
#set($attDocRef = $services.model.resolveDocument("$!fullName"))
#if(("$!request.uploadToken" != '') && ("$!fullName" != '') && ($xwiki.exists($attDocRef) || $createIfNotExists))
#set($numSavedFiles = $services.filebase.tokenBasedUpload($attDocRef, 'filepath', $request.get("uploadToken"), $createIfNotExists))
#set($successful = ($numSavedFiles > 0))
$jsonBuilder.openDictionary()
$jsonBuilder.openProperty("success")
$jsonBuilder.addBoolean($successful)
$jsonBuilder.openProperty("numSavedFiles")
$jsonBuilder.addInteger($numSavedFiles)
$jsonBuilder.addStringProperty("attfilename", "$!services.filebase.clearFileName($request.get('filename'))")
#set($startUserName = $context.user.indexOf('.') + 1)
$jsonBuilder.addStringProperty("username", "$!{context.user.substring($startUserName)}")
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()
#else
uploadToken ["$!request.uploadToken"] missing or Document '$fullName' does not exist. User: "$!context.getUser()"
#end
#else
unkown tfu_mode '$!{request.tfu_mode}'!!!
#end