#set($jsonBuilder = $services.celementsweb.getNewJSONBuilder())
$jsonBuilder.openDictionary()
$jsonBuilder.addStringProperty('required', "$adminMsg.get('cel_form_valid_required')")
$jsonBuilder.addStringProperty('validate-number', "Please enter a valid number in this field.")
$jsonBuilder.addStringProperty('validate-digits', "Please use numbers only in this field. please avoid spaces or other characters such as dots or commas.")
$jsonBuilder.addStringProperty('validate-alpha', "Please use letters only (a-z) in this field.")
$jsonBuilder.addStringProperty('validate-alphanum', "Please use only letters (a-z) or numbers (0-9) only in this field. No spaces or other characters are allowed.")
$jsonBuilder.addStringProperty('validate-date', "Please enter a valid date.")
$jsonBuilder.addStringProperty('validate-email', "Please enter a valid email address. For example fred@domain.com .")
$jsonBuilder.addStringProperty('validate-url', "Please enter a valid URL.")
$jsonBuilder.addStringProperty('validate-date-au', "Please use this date format: dd/mm/yyyy. For example 17/03/2006 for the 17th of March, 2006.")
$jsonBuilder.addStringProperty('validate-currency-dollar', 'Please enter a valid $ amount. For example $100.00 .')
$jsonBuilder.addStringProperty('validate-selection', 'Please make a selection')
$jsonBuilder.addStringProperty('validate-one-required', 'Please select one of the above options.')
$jsonBuilder.addStringProperty('validate-email-equal', "$!adminMsg.get('cel_form_valid_email-equal')")
$jsonBuilder.addStringProperty('validate-docname', "$adminMsg.get('cel_tm_validate_warning')")
$jsonBuilder.closeDictionary()
$jsonBuilder.getJSON()