#set($cel_loadAdminMenuBar = false)
#set($showOverlayLanguageBar = false)
#set($showCloseOverlayButton = false)
#if($services.celementsweb.isMainWiki())
#set($celementsLoadInOverlay = "celMacros/wizards/SetupWizardMain.vm")
#else
#set($celementsLoadInOverlay = "celMacros/wizards/SetupWizardVirtual.vm")
#end