<link rel="stylesheet" media="all" type="text/css" href="$services.celementsweb.getSkinFile(':celRes/userAdmin/main.css', 'file')" />
#set($jsService = $services.javascript)
#set($extJsParamSync = $!jsService.createExtJSParam().setAction('file'))
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/tailwind/tailwind.js'))
$!jsService.includeExtJsFile($extJsParamSync.setJsFile(':celJS/tailwind/tailwind.config.js'))

<link rel="stylesheet" href="/static/admin/assets/embedded.css?ver=$!{services.celementsweb.getLastStartupTimeStamp()}" />
<link rel="stylesheet" href="/static/admin/assets/vendor.css?ver=$!{services.celementsweb.getLastStartupTimeStamp()}" />
<script type="module" src="/static/admin/assets/embedded.js?ver=$!{services.celementsweb.getLastStartupTimeStamp()}"></script>

<div class="cel_cell" id="userAdmin">
  <div class="cel_cell" id="content">
    <div class="cel_cell" id="titleWrapper">
      <h1 class="cel_cell">Datei Manager</h1>
      <div class="cel_cell"><a href="/"><i class="fa fa-xmark"></i></a></div>
    </div>
    <cel-admin data-locale="de" data-local-dev="false"></cel-admin>
  </div>
</div>
